<div class="page page-core page-404">

  <div class="error-modal">

    <!-- row -->
    <div class="row">


      <!-- col -->
      <div class="col-sm-6 b-r text-center">

        <div class="branding">
          <img src="assets/images/logo-alt-sm.png" alt class="mr-5">
        </div>

        <h2 class="text-greensea">Error 404</h2>

        <h5 class="mb-0 mt-20">{{ 'Global.Error.404' | translate }}!</h5>

      </div>
      <!-- /col -->

      <!-- col -->
      <div class="col-sm-6 text-center">

        <!--<button type="submit" class="btn btn-default minotaur-btn btn-block btn-rounded-20 mb-20"><i class="fa fa-refresh"></i> Try again</button>-->
        <a class="btn btn-success minotaur-btn colored btn-block btn-rounded-20 mb-20" ui-sref="auth.login"><i class="fa fa-home"></i> {{ 'Global.Button.RETURN_HOME' | translate }}</a>
        <!--<button type="submit" class="btn btn-danger minotaur-btn colored btn-block btn-rounded-20"><i class="fa fa-envelope-o"></i> Contact support</button>-->
      </div>
      <!-- /col -->


    </div>
    <!-- /row -->

   <!-- <form class="mt-40">
      <div class="form-group with-addon">
        <span class="input-addon"><i class="icon-magnifier"></i></span>
        <input type="text" class="form-control" placeholder="Search...">
      </div>
      &lt;!&ndash; /input-group &ndash;&gt;
    </form>-->


  </div>

</div>
