.minotaur-customize {

  .customize-body {
    ul {
      padding: 0;
      li {
        list-style-type: none;
        display: inline-block;
        margin-right: 5px;

        div {
          width: 30px;
          height: 30px;
          border-radius: 10px;
          cursor: pointer;
          transition: all .25s linear;

          &.default {
            background-color: $theme-default;
          }
          &.greensea {
            background-color: $greensea;
          }
          &.lightred {
            background-color: $lightred;
          }
          &.amethyst {
            background-color: $amethyst;
          }
          &.drank {
            background-color: $drank;
          }
          &.gray {
            background-color: $slategray;
          }

          &:hover {
            box-shadow: 0 0 2px 1px rgba($lightred, 0.8);
          }
        }
      }
    }
  }
}
