.login-modal,
.error-modal {
  background-color: white;
  margin: 0 auto;
  width: 520px;
  border-radius: 6px;
  padding: 30px 40px;

  .branding {
    text-align: center;
    margin: 0 0 40px;
    .brand {
      font-weight: $font-weight-normal;
      margin: 10px 0 0;
      font-size: 24px;
      color: #000;
    }
  }

  .social-login {
    .btn {
      margin-bottom: 10px;
    }
  }

  form {
    .form-control {
      border-width: 1px;
      border-radius: 4px;
      padding: 12px;
      height: 46px;
    }
    .btn {
      margin-top: 30px;
      background-color: $blue;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 26px;
      color: #fff;
      font-family: $font-raleway;
      font-weight: $font-weight-bold;
      letter-spacing: 2px;
      text-shadow: 1px 1px rgba(0,0,0,.1);
      min-height: 48px;

      &:hover {
        background-color: $darker-blue;
      }
    }
  }
}

.error-modal {
  width: 680px;

  .branding {
    text-align: left;
    .brand {
      display: inline-block;
      font-size: 16px;
      margin: 0;
      vertical-align: middle;
    }
  }
}

@media (max-width: 760px) {
  .error-modal {
    width: 100%;

    .b-r,
    .b-l {
      border-right-width: 0!important;
      border-left-width: 0!important;;
      border-bottom: 1px solid rgba(0,0,0,.1)!important;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 600px) {
  .login-modal {
    width: 100%;
  }
}
