<div class="page page-core page-login">

  <div class="login-modal">

    <div class="branding">
      <img src="assets/images/logo-alt.png" alt>
    </div>

    <div class="media" ng-controller="LockedController as locked">
      <div class="media-left">
        <img class="media-object thumb thumb-lg mr-20" ng-src="{{ locked.currentUser.amr_avatar }}" alt="">
      </div>
      <div class="media-body">

        <h4 class="media-heading mb-15">{{ locked.currentUser.amr_first_name + ' ' + locked.currentUser.amr_last_name }}</h4>

        <form name="lockedForm" role="form" novalidate>
          <div class="form-group with-addon" ng-class="{'has-error' : lockedForm.password.$invalid && !lockedForm.password.$pristine, 'has-success' : lockedForm.password.$valid && !lockedForm.password.$pristine}">
            <span class="input-addon"><i class="icon-key"></i></span>
            <input type="password" name="password" placeholder="{{ 'Global.Placeholder.PASSWORD' | translate }}" class="form-control" ng-model="locked.password" ng-minlength="8" required>
            <div ng-messages="lockedForm.password.$error" ng-show="lockedForm.password.$dirty" role="alert" class="help-blocked text-red">
              <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
            </div>
          </div>

          <div id="alertsPlaceholder">
            <uib-alert template-url="alert.html" ng-repeat="alert in locked.alerts" ng-class="'alert alert-' + alert.type" close="closeAlert($index)">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-if="alert.closeable">&#215;</button>
              <i class="fa {{alert.icon}}"></i> {{alert.msg}}
            </uib-alert>
          </div>

          <button type="submit" class="btn btn-block btn-lg btn-rounded-40" ng-disabled="lockedForm.$invalid || isLoading()" ng-click="locked.unlock()">
            UNLOCK
            <form-submit-spinner></form-submit-spinner>
          </button>
          <div class="mt-15 text-center">{{ 'Global.Label.NOT_YOU' | translate }}? <a href="" ng-click="locked.logOut()">{{ 'Global.Label.PLEASE_LOG_IN' | translate }}</a></div>
        </form>

      </div>
    </div>

  </div>

</div>
