.modal .btn-ef > .spinner {
  margin-top: 6px;
}

.btn-default .spinner .spinner-icon {
  border-top-color: $blue;
  border-left-color: $blue;
}

.spinner {
  left: 50%;
  margin-left: -10px;
  top: 0;
  margin-top: 13px;
  position: absolute;
  display: block;
  z-index: 19 !important;
  animation: loading-bar-spinner 400ms linear infinite;
}

.spinner .spinner-icon {
  width: 20px;
  height: 20px;
  display: block;
  border: solid 4px transparent;
  border-top-color:  $font-color-white;
  border-left-color: $font-color-white;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
