.ta-scroll-window.form-control {
  min-height: 150px!important;
}

.ta-root.disabled {
  .ta-toolbar > .btn-group,
  .ta-editor {
    background-color: $gray-lighter;
  }
}

.ta-scroll-window > .ta-bind {
  min-height: 150px!important;

  h1 {
    font-size: 30px;
    margin: 0 0 25px;
    text-transform: none;
    color: #00b2ca;
    line-height: 1.45;
    font-weight: $font-weight-bold;
    font-family: $font-open;
  }

  h2 {
    font-size: 24px;
  }

  h2, h3, h4, h5, h6 {
    margin: 18px 0 12px;
    padding: 0;
    color: #333;
    text-transform: none;
    font-family: $font-open;
  }

  h2, h3 {
    font-weight: $font-weight-normal;
  }

  h4, h5, h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.45;
  }

  h3 {
    font-size: 20px;
  }

  li {
    text-transform: none;
  }

  li, p {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    line-height: 1.45;
    font-family: $font-open;
  }
}
