<div class="page page-forms page-groups pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a ui-sref="app.groups.list">{{ "Menu.GROUPS" | translate }}</a></li>
    <li class="active">{{ "Menu.ADD" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-md-12">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Menu.GROUPS" | translate }} - {{ "Menu.ADD" | translate }}</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <form name="groupsAddForm" role="form" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : groupsAddForm.grpName.$invalid && !groupsAddForm.grpName.$pristine, 'has-success' : groupsAddForm.grpName.$valid && !groupsAddForm.grpName.$pristine}">
              <label for="grpName" class="control-label minotaur-label">{{ 'Groups.Title.NAME' | translate }} <span class="text-red">*</span>: </label>
              <input type="text" name="grpName" id="grpName" class="form-control" ng-model="ctrl.item.grp_name" ng-minlength="1" ng-maxlength="30" required>
              <div ng-messages="groupsAddForm.grpName.$error" ng-if="groupsAddForm.grpName.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : groupsAddForm.grpDefault.$invalid && !groupsAddForm.grpDefault.$pristine, 'has-success' : groupsAddForm.grpDefault.$valid && !groupsAddForm.grpDefault.$pristine}">
              <label class="control-label minotaur-label">{{ 'Groups.Title.DEFAULT' | translate }} <span class="text-red">*</span>:</label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.true' | translate }}
                <input ng-model="ctrl.item.grp_default" ng-value="true" name="grpDefault" type="radio">
                <div class="input-indicator"></div>
              </label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.false' | translate }}
                <input ng-model="ctrl.item.grp_default" ng-value="false" name="grpDefault" type="radio" checked>
                <div class="input-indicator"></div>
              </label>
              <div ng-messages="groupsAddForm.grpDefault.$error" ng-if="groupsAddForm.grpDefault.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : groupsAddForm.category.$invalid && !groupsAddForm.category.$pristine, 'has-success' : groupsAddForm.category.$valid && !groupsAddForm.category.$pristine}">
              <label class="control-label minotaur-label">{{ 'Menu.CATEGORIES' | translate }} <span class="text-red">*</span>:</label>
              <script type="text/ng-template" id="items_renderer_add.html">
                <div class="tree-node">
                  <div class="tree-node-content">
                    <a class="btn" data-nodrag ng-click="toggle(this)">
                      <i class="fa fa-angle-down" ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}"></i>
                    </a>
                    {{item.cey_id}}&nbsp;|&nbsp;{{item.cey_name}}
                    <div touch-spin ng-model="item.discount" ng-change="ctrl.change(item.discount, item.items)" options="{min: 0, max: 100, postfix: '%', decimals: 2, step: 0.01}"></div>
                    <!--<input type="text" class="form-control input-sm mr-5" ng-repeat="group in ctrl.item.groups" placeholder="{{group.grp_name}}" ng-model="group.discount">-->
                  </div>
                </div>
                <ol ui-tree-nodes="" ng-model="item.items" ng-class="{hidden: collapsed}">
                  <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer_add.html'"></li>
                </ol>
              </script>

              <div ui-tree>
                <ol ui-tree-nodes="" ng-model="ctrl.item.categories">
                  <li ng-repeat="item in ctrl.item.categories" ui-tree-node ng-include="'items_renderer_add.html'"></li>
                </ol>
              </div>
            </div>

            <div class="form-group form-footer text-right">
              <button type="submit" class="btn btn-success minotaur-btn colored" ng-disabled="groupsAddForm.$invalid || isLoading()" ng-click="ctrl.add()">
                ADD
                <form-submit-spinner></form-submit-spinner>
              </button>
            </div>

          </form>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->




</div>
