.appWrap {
  #header-navbar .navbar-nav a {
    cursor: pointer;
  }
    // nightmode
  &.header-nightmode {
    color: #fff;
    #additional-header-space,
    .error-modal, .login-modal,
    minotaur-header {
      background: #272727!important;
    }

    .page>.breadcrumb {
      background-color: #333!important;
    }

    #content .breadcrumb > li a {
      color: rgba(255, 255, 255, 0.7);
      &:hover {
        color: #fff;
      }
    }

    #content .page.pull-to-header > .breadcrumb > li + li:before,
    #content .breadcrumb > li.active {
      color: #fff;
    }

    .error-modal h2 {
      color: #fff!important;
    }

    minotaur-nav .nav-heading .brand {
      background: url(../assets/images/logo.png) no-repeat 50%;
    }

    .error-modal .minotaur-btn>i {
      color: #fff;
    }

    #content {
      background: #111;
    }

    .dataTables_filter input[type=search],
    div.dataTables_wrapper .dataTables_length select {
      border: 1px solid #555;
      background: #555;
      color: #fff;
    }

    .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_processing {
      color: #909090;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
      background-color: #505050;
    }

    .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
      border-top-color: #555;
    }

    .minotaur-checkbox .input-indicator, .minotaur-radio .input-indicator {
      background-color: #909090;
    }

    .form-control {
      background-color: #555;
      color: #fff;
      border-color: #555;
    }

    .daterangepicker td.available:hover, .daterangepicker th.available:hover {
      background-color: #777;
    }

    .daterangepicker td.in-range {
      background-color: #333;
      color: #fff;
    }

    .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
      background-color: #555;
      color: #999;
    }

    div.dataTables_wrapper table > tfoot,
    .table.minotaur-table > thead > tr th, .table.minotaur-table > thead > tr td {
      background-color: #1c1c1c;
    }

    .table-hover > tbody > tr:hover {
      background-color: #606060;
    }

    .text-default.lt {
      color: #999 !important;
    }

    .text-default-dark {
      color: #999!important;
    }

    .page-single-order .tile-button.bg-white {
      background-color: #333!important;
    }

    .tile {
      background-color: #333!important;
      color: #fff;
    }

    minotaur-nav .nav-sidebar > .active > a + ul > li.active > a {
      background-color: #303030;
    }

    minotaur-nav .nav-sidebar > .active > a > i {
      background: #282828;
      color: #fff;
    }

    minotaur-nav .nav-sidebar li > a > i {
      background: #282828;
      color: #909090;
    }

    minotaur-nav.nav-expanded .nav-sidebar li.dropdown.open > a,
    minotaur-nav.nav-expanded .nav-sidebar li > a:hover {
      background-color: #303030;
      color: #fff;
    }

    minotaur-nav .nav-sidebar li.dropdown > ul > li > a:hover > i,
    minotaur-nav .nav-sidebar li.dropdown.open > a > i {
      background-color: #282828;
    }

    minotaur-nav .nav-sidebar li.dropdown.active > ul,
    minotaur-nav .nav-sidebar li.dropdown.open > ul {
      background-color: #505050;
    }

    minotaur-nav.nav-expanded.force-expanded,
    minotaur-nav .slimScrollDiv {
      border-right: 1px solid #282828;
    }

    minotaur-nav.nav-expanded {
      background-color: #1c1c1c;

      .nav-sidebar > {
        .active > a,
        .active > a:hover,
        .active > a:focus,
        .dropdown.active.open > a,
        .dropdown.active.open > a:hover,
        .dropdown.active.open > a:focus {
          background-color: #404040;
        }
      }
    }

    label.minotaur-label {
      color: #fff;
    }

    .btn-ef.btn-ef-7.btn-ef-7b {
      border: 0;
    }

    &.header-sm minotaur-nav {
      border-right: 1px solid #282828;
    }

    .input-group-addon {
      background-color: #666;
      border: 1px solid #666;
      color: #fff;
    }

    .form-group.form-footer {
      background-color: #424242;
    }

    .page-groups .angular-ui-tree .tree-node {
      background: #646464;
      border: 1px solid #555;
      color: #fff;
    }

    hr {
      border-top: 1px solid #444;
    }

    minotaur-nav.nav-expanded.force-expanded,
    minotaur-nav .slimScrollDiv {
      color: #fff;
    }

    minotaur-nav .nav-sidebar li.dropdown.submenu.active > a + ul > li.active > a {
      color: #fff;
    }

    .btn-default {
      color: #fff;
    }

    .mix-filter li, .mix-controls li,
    .dropdown-menu .divider {
      background-color: #555;
    }

    .mix-filter li:hover:not(.disabled), .mix-filter li.mixitup-control-active:not(.disabled), .mix-controls li:hover:not(.disabled), .mix-controls li.mixitup-control-active:not(.disabled) {
      color: #fff;
      background: #1199d3;
    }

    .text-muted {
      color: #999;
    }

    .tcol>.p-15.bg-white.b-b {
      background-color: #333!important;
    }

    .tcol .table.b-a.b-solid {
      background: #555!important;
    }

    .tcol .table > thead > tr > th,
    .tcol .table > thead > tr > td,
    .tcol .table > tbody > tr > th,
    .tcol .table > tbody > tr > td,
    .tcol .table > tfoot > tr > th,
    .tcol .table > tfoot > tr > td {
      border-top: 1px solid #666;
    }

    .angular-ui-tree .tree-node.selected {
      background-color: #777;
      border-color: #777;
    }

    .tcol .table tbody tr.text-sm {
      border: 1px solid #555;
    }

    .bg-tr-black.lt {
      background-color: #999 !important;
      color: #fff !important;
    }

    .tcol .table > thead > tr > th {
      border-bottom: 2px solid #777;
    }

    .tcol .table>thead>tr {
      border: 1px solid #555;
    }

    .ui-select-bootstrap .ui-select-choices-row.active>span:hover,
    .ui-select-bootstrap .ui-select-choices-row>span:hover, .ui-select-bootstrap .ui-select-choices-row>span:focus {
      background-color: #999;
    }

    .b-b {
      border-bottom: 1px solid #666 !important;
    }

    .well {
      background-color: #555;
      border: 1px solid #999;
    }

    .tbox > .tcol:first-child {
      background: #333!important;
    }

    #content .page.full-height {
      background-color: #111;
    }



    .btn-default:active:hover,
    .btn-default:active:focus,
    .btn-default:active.focus,
    .btn-default.active:hover,
    .btn-default.active:focus,
    .btn-default.active.focus,
    .open > .btn-default.dropdown-toggle:hover,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle.focus {
      color: #fff;
      background-color: #999;
    }

    .ui-select-bootstrap .ui-select-choices-row.active>span,
    tags-input .autocomplete .suggestion-item.selected {
      background-color: #777;
    }

    .btn-ef.btn-ef-1 {
      border-color: #666;
    }

    .table > thead > tr > th {
      border-bottom: 2px solid #666;
    }

    .btn-ef.btn-ef-1.btn-ef-1a:hover, .btn-ef.btn-ef-1.btn-ef-1a:active, .btn-ef.btn-ef-1.btn-ef-1a.active {
      background-color: #666;
    }

    .tab-pane table .form-control {
      background-color: #777;
      border-color: #777;
    }

    .minotaur-tab.minotaur-tab-light .nav.nav-tabs {
      background: #555;
    }

    .minotaur-tab.minotaur-tab-light .nav.nav-tabs > li.active a {
      background-color: #777;
      border-bottom: 3px solid #bbb;
      color: #fff;
    }

    .tab-pane table .form-control:not([disabled]) {
      background-color: #999;
      border-color: #999;
    }

    .onoffswitch-inner:after,
    .ui-select-bootstrap .ui-select-choices-row>span {
      color: #fff;
    }

    ul.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu,
    tags-input .autocomplete,
    tags-input .autocomplete .suggestion-item {
      background-color: #555;
      color: #fff;
    }

    input::placeholder {
      color: #999;
    }

    tags-input .tags .input {
      background-color: #555;
    }

    tags-input .tags {
      border-color: #555;
      background-color: #555;
    }

    .select-simple {
      background: #555;
      border: 1px solid #555;
      color: #fff;
    }

    .select-simple option[disabled] {
      color: #999;
    }

    .add-nav .nav-heading {
      background-color: #444;
    }

    .angular-ui-tree .tree-node {
      background: #555;
      border: 1px solid #555;
      color: #fff;
      &:hover {
        background: #999;
      }
      .tree-handle {
        background: #555;
        border-right: 1px solid #666;
      }
    }

    .minotaur-btn.colored.btn-success {
      background-color: #5cb85c;
      &:hover {
        background-color: #357935;
      }
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      color: #fff;
      background-color: #353535;
    }

    .btn-default:active:focus,
    minotaur-nav .nav-sidebar > .active > a + ul > li.active > a, minotaur-nav .nav-sidebar > .active > a:hover + ul > li.active > a, minotaur-nav .nav-sidebar > .active > a:focus + ul > li.active > a, minotaur-nav .nav-sidebar > .dropdown.active.open > a + ul > li.active > a, minotaur-nav .nav-sidebar > .dropdown.active.open > a:hover + ul > li.active > a, minotaur-nav .nav-sidebar > .dropdown.active.open > a:focus + ul > li.active > a,
    minotaur-nav.nav-expanded .nav-sidebar li > a,
    .h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
      color: #fff;
    }
    .navbar-nav > li .dropdown-menu.profile .footer {
      background-color: #424242;
      border-top: 1px solid #282828;
    }

    minotaur-header.viewport-sm .navbar-nav > li > div .dropdown-menu > li.selected a,
    minotaur-header .navbar-nav > li .dropdown-menu.language > li.selected > a {
      background-color: #555;
      color: #fff;
    }

    minotaur-header.viewport-sm .navbar-nav > li > div .dropdown-menu > li a:hover {
      background-color: #353535;
      color: #fff;
    }

    minotaur-header.viewport-sm .navbar-nav > li > div .dropdown-menu.profile .footer .btn,
    .minotaur-btn {
      background-color: #333;
      border-color: #333;
      color: #fff;
      > i {
        color: #909090;
      }
      &:hover {
        background-color: #353535;
      }
      &.btn-danger {
        background-color: #d9534f;
        border-color: #d43f3a;
        &:hover {
          background-color: #c9302c;
          border-color: #ac2925;
        }
      }
      &.btn-warning {
        background-color: #f0ad4e;
        border-color: #eea236;
        &:hover {
          background-color: #ec971f;
          border-color: #d58512;
        }
      }
      &.btn-info {
        background-color: #5bc0de;
        border-color: #46b8da;
        &:hover {
          background-color: #31b0d5;
          border-color: #269abc;
        }
      }
    }

    .ta-scroll-window > .ta-bind li, .ta-scroll-window > .ta-bind p {
      color: #fff;
    }

    .btn-default {
      background-color: #777;
      border-color: #777;
    }

    .modal-content {
      background-color: #383838;
    }

    .modal-footer {
      border-top: 1px solid #666;
    }
    .modal-header {
      border-bottom: 1px solid #666;
    }

    .daterangepicker:before {
      border-bottom: 7px solid #282828;
    }
    .daterangepicker:after {
      border-bottom: 6px solid #282828;
    }

    .daterangepicker .calendar-table {
      border: 1px solid #555;
      background-color: #555;
    }

    .onoffswitch-inner:after,
    .onoffswitch-inner:before {
      background: #999;
    }

    .add-nav .nav-tabs > li > a {
      color: #999;
    }

    .nav > li > a:hover, .nav > li > a:focus,
    .add-nav .nav-tabs > li.active > a, .add-nav .nav-tabs > li.active > a:hover, .add-nav .nav-tabs > li.active > a:focus,
    .add-nav .nav-tabs {
      background-color: #444;
    }

    .ranges li {
      color: white;
      background-color: #303030;
      border: 1px solid #303030;
    }
    .ranges li.active,
    .ranges li:hover {
      background-color: #555;
      border: 1px solid #555;
    }

    .form-group.legend p {
      color: #999;
    }

    minotaur-nav .nav-heading h3 {
      border-bottom: 1px solid #282828;
    }

    .dropdown .dropdown-menu.with-arrow:after {
      border-bottom: 8px solid #242424;
    }

    minotaur-header .navbar-nav > li .dropdown-menu.profile .media .media-body ul > li > a:hover {
      background-color: #353535;
    }

    .dropdown-menu {
      background-color: #242424;

      li>a>i {
        color: #909090;
      }
      .onoffswitch-switch {
        background-color: #333;
      }
    }
a, body a,
    .fa,.far,.fas,
      .ranges li,
      .tile .heading,
      .h1.tile-heading,
      .h2.tile-heading,
      .h3.tile-heading,
      .h4.tile-heading,
      .h5.tile-heading,
      .h6.tile-heading,
      h1.tile-heading,
      h2.tile-heading,
      h3.tile-heading,
      h4.tile-heading,
      h5.tile-heading,
      h6.tile-heading,
      .add-nav .nav-tabs > li.active > a,
      .add-nav .nav-tabs > li.active > a:hover,
      .add-nav .nav-tabs > li.active > a:focus,
      .add-nav .nav-tabs > li > a:hover {
        color: #fff;
      }
      .daterangepicker .input-mini.active {
        border: 1px solid #000;
      }
      .daterangepicker td.active:not(.off),
      .daterangepicker td.active:not(.off):hover {
        background-color: #000;
      }
      .mix-grid .mix {
        .img-controls > a:hover,
        &.selected .img-controls > a {
          background: #000;
        }
      }
      .form-control {
        &:focus,
        &:hover:focus {
          border-color: #000;
        }
      }
      .form-group {
        &.legend {
          h1, h2, h3, h4, h5, h6 {
            color: #fff;
          }
        }
      }
      .minotaur-checkbox,
      .minotaur-radio {
        /* Checked state */
        input:checked ~ .input-indicator {
          background: #000;
        }
        /* Hover state whilst checked */
        &:hover input:not([disabled]):checked ~ .input-indicator,
        input:checked:focus ~ .input-indicator {
          background: darken(#000, 15%);
        }
      }
      .table {
        &.minotaur-table {
          >thead {
            >tr {
              th,
              td {
                &.sorting_asc,
                &.sorting_desc {
                  background-color: #000;
                }
              }
            }
          }
        }
      }
      div.dataTables_wrapper {
        table {
          &.dtr-inline.collapsed {
            >tbody>tr {
              td,
              th {
                &:first-child:before {
                  background-color: #000;
                }
              }
            }
          }
        }
      }
      table.minotaur-table.DTCR_clonedTable {
        thead tr {
          td,
          th {
            background-color: transparentize(#000, .7)!important;
          }
        }
      }
  }

  // solid header bg
  &.header-solid-default {
    minotaur-header {
      background: $theme-default;
    }
    #additional-header-space {
      background: $theme-default;
    }
  }
  &.header-solid-greensea {
    minotaur-header {
      background: $greensea;
    }
    #additional-header-space {
      background: $greensea;
    }
  }
  &.header-solid-lightred {
    minotaur-header {
      background: $lightred;
    }
    #additional-header-space {
      background: $lightred;
    }
  }
  &.header-solid-amethyst {
    minotaur-header {
      background: $amethyst;
    }
    #additional-header-space {
      background: $amethyst;
    }
  }
  &.header-solid-drank {
    minotaur-header {
      background: $drank;
    }
    #additional-header-space {
      background: $drank;
    }
  }
  &.header-solid-gray {
    minotaur-header {
      background: $slategray;
    }
    #additional-header-space {
      background: $slategray;
    }
  }

  // gradient header bg
  &.header-gradient-greensea {
    minotaur-header {
      background: linear-gradient(to right, darken($greensea, 15%) 0%, $greensea 100%);
    }
    #additional-header-space {
      background: linear-gradient(to right, darken($greensea, 15%) 0%, $greensea 100%);
    }
  }
  &.header-gradient-lightred {
    minotaur-header {
      background: linear-gradient(to right, darken($lightred, 15%) 0%, $lightred 100%);
    }
    #additional-header-space {
      background: linear-gradient(to right, darken($lightred, 15%) 0%, $lightred 100%);
    }
  }
  &.header-gradient-amethyst {
    minotaur-header {
      background: linear-gradient(to right, darken($amethyst, 15%) 0%, $amethyst 100%);
    }
    #additional-header-space {
      background: linear-gradient(to right, darken($amethyst, 15%) 0%, $amethyst 100%);
    }
  }
  &.header-gradient-drank {
    minotaur-header {
      background: linear-gradient(to right, darken($drank, 15%) 0%, $drank 100%);
    }
    #additional-header-space {
      background: linear-gradient(to right, darken($drank, 15%) 0%, $drank 100%);
    }
  }
  &.header-gradient-gray {
    minotaur-header {
      background: linear-gradient(to right, darken($slategray, 15%) 0%, $slategray 100%);
    }
    #additional-header-space {
      background: linear-gradient(to right, darken($slategray, 15%) 0%, $slategray 100%);
    }
  }

  //primary color
  &.primary-color-greensea {
    .ranges li,
    .tile .heading,
    .h1.tile-heading,
    .h2.tile-heading,
    .h3.tile-heading,
    .h4.tile-heading,
    .h5.tile-heading,
    .h6.tile-heading,
    h1.tile-heading,
    h2.tile-heading,
    h3.tile-heading,
    h4.tile-heading,
    h5.tile-heading,
    h6.tile-heading,
    .add-nav .nav-tabs > li.active > a,
    .add-nav .nav-tabs > li.active > a:hover,
    .add-nav .nav-tabs > li.active > a:focus,
    .add-nav .nav-tabs > li > a:hover {
      color: $greensea;
    }
    .ranges li.active,
    .ranges li:hover {
      background-color: $greensea;
      border: 1px solid $greensea;
      color: white;
    }
    .daterangepicker .input-mini.active {
      border: 1px solid $greensea;
    }
    .daterangepicker td.active:not(.off),
    .daterangepicker td.active:not(.off):hover {
      background-color: $greensea;
    }
    .mix-grid .mix {
      .img-controls > a:hover,
      &.selected .img-controls > a {
        background: $greensea;
      }
    }
    #content {
      .breadcrumb > li {
        a {
          color: $font-color;
          &:hover {
            color: $greensea;
          }
        }
        &.active {
          color: $greensea;
        }
      }
    }
    minotaur-nav {
      .nav-heading {
        h3 {
          > a {
            color: $greensea;
          }
        }
      }
      .nav-sidebar > .active > a,
      .nav-sidebar > .active > a:hover,
      .nav-sidebar > .active > a:focus,
      .nav-sidebar > .dropdown.active.open > a,
      .nav-sidebar > .dropdown.active.open > a:hover,
      .nav-sidebar > .dropdown.active.open > a:focus{
        color: $greensea;
        >i {
          background-color: $greensea;
        }
        + ul > li.active > a {
          > i {
            background-color: $greensea;
          }
        }
      }
    }
    .form-control {
      &:focus,
      &:hover:focus {
        border-color: $greensea;
      }
    }
    .form-group {
      &.legend {
        h1, h2, h3, h4, h5, h6 {
          color: $greensea;
        }
      }
    }
    .minotaur-checkbox,
    .minotaur-radio {
      /* Checked state */
      input:checked ~ .input-indicator {
        background: $greensea;
      }
      /* Hover state whilst checked */
      &:hover input:not([disabled]):checked ~ .input-indicator,
      input:checked:focus ~ .input-indicator {
        background: darken($greensea, 15%);
      }
    }
    .table {
      &.minotaur-table {
        >thead {
          >tr {
            th,
            td {
              &.sorting_asc,
              &.sorting_desc {
                background-color: $greensea;
              }
            }
          }
        }
      }
    }
    div.dataTables_wrapper {
      table {
        &.dtr-inline.collapsed {
          >tbody>tr {
            td,
            th {
              &:first-child:before {
                background-color: $greensea;
              }
            }
          }
        }
      }
    }
    table.minotaur-table.DTCR_clonedTable {
      thead tr {
        td,
        th {
          background-color: transparentize($greensea, .7)!important;
        }
      }
    }
  }
  &.primary-color-lightred {
    .ranges li,
    .tile .heading,
    .h1.tile-heading,
    .h2.tile-heading,
    .h3.tile-heading,
    .h4.tile-heading,
    .h5.tile-heading,
    .h6.tile-heading,
    h1.tile-heading,
    h2.tile-heading,
    h3.tile-heading,
    h4.tile-heading,
    h5.tile-heading,
    h6.tile-heading,
    .add-nav .nav-tabs > li.active > a,
    .add-nav .nav-tabs > li.active > a:hover,
    .add-nav .nav-tabs > li.active > a:focus,
    .add-nav .nav-tabs > li > a:hover {
      color: $lightred;
    }
    .ranges li.active,
    .ranges li:hover {
      background-color: $lightred;
      border: 1px solid $lightred;
      color: white;
    }
    .daterangepicker .input-mini.active {
      border: 1px solid $lightred;
    }
    .daterangepicker td.active:not(.off),
    .daterangepicker td.active:not(.off):hover {
      background-color: $lightred;
    }
    .mix-grid .mix {
      .img-controls > a:hover,
      &.selected .img-controls > a {
        background: $lightred;
      }
    }
    #content {
      .breadcrumb > li {
        a {
          color: $font-color;
          &:hover {
            color: $lightred;
          }
        }
        &.active {
          color: $lightred;
        }
      }
    }
    minotaur-nav {
      .nav-heading {
        h3 {
          > a {
            color: $lightred;
          }
        }
      }
      .nav-sidebar > .active > a,
      .nav-sidebar > .active > a:hover,
      .nav-sidebar > .active > a:focus,
      .nav-sidebar > .dropdown.active.open > a,
      .nav-sidebar > .dropdown.active.open > a:hover,
      .nav-sidebar > .dropdown.active.open > a:focus{
        color: $lightred;
        >i {
          background-color: $lightred;
        }
        + ul > li.active > a {
          > i {
            background-color: $lightred;
          }
        }
      }
    }
    .form-control {
      &:focus,
      &:hover:focus {
        border-color: $lightred;
      }
    }
    .form-group {
      &.legend {
        h1, h2, h3, h4, h5, h6 {
          color: $lightred;
        }
      }
    }
    .minotaur-checkbox,
    .minotaur-radio {
      /* Checked state */
      input:checked ~ .input-indicator {
        background: $lightred;
      }
      /* Hover state whilst checked */
      &:hover input:not([disabled]):checked ~ .input-indicator,
      input:checked:focus ~ .input-indicator {
        background: darken($lightred, 15%);
      }
    }
    .table {
      &.minotaur-table {
        >thead {
          >tr {
            th,
            td {
              &.sorting_asc,
              &.sorting_desc {
                background-color: $lightred;
              }
            }
          }
        }
      }
    }
    div.dataTables_wrapper {
      table {
        &.dtr-inline.collapsed {
          >tbody>tr {
            td,
            th {
              &:first-child:before {
                background-color: $lightred;
              }
            }
          }
        }
      }
    }
    table.minotaur-table.DTCR_clonedTable {
      thead tr {
        td,
        th {
          background-color: transparentize($lightred, .7)!important;
        }
      }
    }
  }
  &.primary-color-amethyst {
    .ranges li,
    .tile .heading,
    .h1.tile-heading,
    .h2.tile-heading,
    .h3.tile-heading,
    .h4.tile-heading,
    .h5.tile-heading,
    .h6.tile-heading,
    h1.tile-heading,
    h2.tile-heading,
    h3.tile-heading,
    h4.tile-heading,
    h5.tile-heading,
    h6.tile-heading,
    .add-nav .nav-tabs > li.active > a,
    .add-nav .nav-tabs > li.active > a:hover,
    .add-nav .nav-tabs > li.active > a:focus,
    .add-nav .nav-tabs > li > a:hover {
      color: $amethyst;
    }
    .ranges li.active,
    .ranges li:hover {
      background-color: $amethyst;
      border: 1px solid $amethyst;
      color: white;
    }
    .daterangepicker .input-mini.active {
      border: 1px solid $amethyst;
    }
    .daterangepicker td.active:not(.off),
    .daterangepicker td.active:not(.off):hover {
      background-color: $amethyst;
    }
    .mix-grid .mix {
      .img-controls > a:hover,
      &.selected .img-controls > a {
        background: $amethyst;
      }
    }
    #content {
      .breadcrumb > li {
        a {
          color: $font-color;
          &:hover {
            color: $amethyst;
          }
        }
        &.active {
          color: $amethyst;
        }
      }
    }
    minotaur-nav {
      .nav-heading {
        h3 {
          > a {
            color: $amethyst;
          }
        }
      }
      .nav-sidebar > .active > a,
      .nav-sidebar > .active > a:hover,
      .nav-sidebar > .active > a:focus,
      .nav-sidebar > .dropdown.active.open > a,
      .nav-sidebar > .dropdown.active.open > a:hover,
      .nav-sidebar > .dropdown.active.open > a:focus{
        color: $amethyst;
        >i {
          background-color: $amethyst;
        }
        + ul > li.active > a {
          > i {
            background-color: $amethyst;
          }
        }
      }
    }
    .form-control {
      &:focus,
      &:hover:focus {
        border-color: $amethyst;
      }
    }
    .form-group {
      &.legend {
        h1, h2, h3, h4, h5, h6 {
          color: $amethyst;
        }
      }
    }
    .minotaur-checkbox,
    .minotaur-radio {
      /* Checked state */
      input:checked ~ .input-indicator {
        background: $amethyst;
      }
      /* Hover state whilst checked */
      &:hover input:not([disabled]):checked ~ .input-indicator,
      input:checked:focus ~ .input-indicator {
        background: darken($amethyst, 15%);
      }
    }
    .table {
      &.minotaur-table {
        >thead {
          >tr {
            th,
            td {
              &.sorting_asc,
              &.sorting_desc {
                background-color: $amethyst;
              }
            }
          }
        }
      }
    }
    div.dataTables_wrapper {
      table {
        &.dtr-inline.collapsed {
          >tbody>tr {
            td,
            th {
              &:first-child:before {
                background-color: $amethyst;
              }
            }
          }
        }
      }
    }
    table.minotaur-table.DTCR_clonedTable {
      thead tr {
        td,
        th {
          background-color: transparentize($amethyst, .7)!important;
        }
      }
    }
  }
  &.primary-color-drank {
    .ranges li,
    .tile .heading,
    .h1.tile-heading,
    .h2.tile-heading,
    .h3.tile-heading,
    .h4.tile-heading,
    .h5.tile-heading,
    .h6.tile-heading,
    h1.tile-heading,
    h2.tile-heading,
    h3.tile-heading,
    h4.tile-heading,
    h5.tile-heading,
    h6.tile-heading,
    .add-nav .nav-tabs > li.active > a,
    .add-nav .nav-tabs > li.active > a:hover,
    .add-nav .nav-tabs > li.active > a:focus,
    .add-nav .nav-tabs > li > a:hover {
      color: $drank;
    }
    .ranges li.active,
    .ranges li:hover {
      background-color: $drank;
      border: 1px solid $drank;
      color: white;
    }
    .daterangepicker .input-mini.active {
      border: 1px solid $drank;
    }
    .daterangepicker td.active:not(.off),
    .daterangepicker td.active:not(.off):hover {
      background-color: $drank;
    }
    .mix-grid .mix {
      .img-controls > a:hover,
      &.selected .img-controls > a {
        background: $drank;
      }
    }
    #content {
      .breadcrumb > li {
        a {
          color: $font-color;
          &:hover {
            color: $drank;
          }
        }
        &.active {
          color: $drank;
        }
      }
    }
    minotaur-nav {
      .nav-heading {
        h3 {
          > a {
            color: $drank;
          }
        }
      }
      .nav-sidebar > .active > a,
      .nav-sidebar > .active > a:hover,
      .nav-sidebar > .active > a:focus,
      .nav-sidebar > .dropdown.active.open > a,
      .nav-sidebar > .dropdown.active.open > a:hover,
      .nav-sidebar > .dropdown.active.open > a:focus{
        color: $drank;
        >i {
          background-color: $drank;
        }
        + ul > li.active > a {
          > i {
            background-color: $drank;
          }
        }
      }
    }
    .form-control {
      &:focus,
      &:hover:focus {
        border-color: $drank;
      }
    }
    .form-group {
      &.legend {
        h1, h2, h3, h4, h5, h6 {
          color: $drank;
        }
      }
    }
    .minotaur-checkbox,
    .minotaur-radio {
      /* Checked state */
      input:checked ~ .input-indicator {
        background: $drank;
      }
      /* Hover state whilst checked */
      &:hover input:not([disabled]):checked ~ .input-indicator,
      input:checked:focus ~ .input-indicator {
        background: darken($drank, 15%);
      }
    }
    .table {
      &.minotaur-table {
        >thead {
          >tr {
            th,
            td {
              &.sorting_asc,
              &.sorting_desc {
                background-color: $drank;
              }
            }
          }
        }
      }
    }
    div.dataTables_wrapper {
      table {
        &.dtr-inline.collapsed {
          >tbody>tr {
            td,
            th {
              &:first-child:before {
                background-color: $drank;
              }
            }
          }
        }
      }
    }
    table.minotaur-table.DTCR_clonedTable {
      thead tr {
        td,
        th {
          background-color: transparentize($drank, .7)!important;
        }
      }
    }
  }
  &.primary-color-gray {
    .ranges li,
    .tile .heading,
    .h1.tile-heading,
    .h2.tile-heading,
    .h3.tile-heading,
    .h4.tile-heading,
    .h5.tile-heading,
    .h6.tile-heading,
    h1.tile-heading,
    h2.tile-heading,
    h3.tile-heading,
    h4.tile-heading,
    h5.tile-heading,
    h6.tile-heading,
    .add-nav .nav-tabs > li.active > a,
    .add-nav .nav-tabs > li.active > a:hover,
    .add-nav .nav-tabs > li.active > a:focus,
    .add-nav .nav-tabs > li > a:hover {
      color: $slategray;
    }
    .ranges li.active,
    .ranges li:hover {
      background-color: $slategray;
      border: 1px solid $slategray;
      color: white;
    }
    .daterangepicker .input-mini.active {
      border: 1px solid $slategray;
    }
    .daterangepicker td.active:not(.off),
    .daterangepicker td.active:not(.off):hover {
      background-color: $slategray;
    }
    .mix-grid .mix {
      .img-controls > a:hover,
      &.selected .img-controls > a {
        background: $slategray;
      }
    }
    #content {
      .breadcrumb > li {
        a {
          color: $font-color;
          &:hover {
            color: $slategray;
          }
        }
        &.active {
          color: $slategray;
        }
      }
    }
    minotaur-nav {
      .nav-heading {
        h3 {
          > a {
            color: $slategray;
          }
        }
      }
      .nav-sidebar > .active > a,
      .nav-sidebar > .active > a:hover,
      .nav-sidebar > .active > a:focus,
      .nav-sidebar > .dropdown.active.open > a,
      .nav-sidebar > .dropdown.active.open > a:hover,
      .nav-sidebar > .dropdown.active.open > a:focus{
        color: $slategray;
        >i {
          background-color: $slategray;
        }
        + ul > li.active > a {
          > i {
            background-color: $slategray;
          }
        }
      }
    }
    .form-control {
      &:focus,
      &:hover:focus {
        border-color: $slategray;
      }
    }
    .form-group {
      &.legend {
        h1, h2, h3, h4, h5, h6 {
          color: $slategray;
        }
      }
    }
    .minotaur-checkbox,
    .minotaur-radio {
      /* Checked state */
      input:checked ~ .input-indicator {
        background: $slategray;
      }
      /* Hover state whilst checked */
      &:hover input:not([disabled]):checked ~ .input-indicator,
      input:checked:focus ~ .input-indicator {
        background: darken($slategray, 15%);
      }
    }
    .table {
      &.minotaur-table {
        >thead {
          >tr {
            th,
            td {
              &.sorting_asc,
              &.sorting_desc {
                background-color: $slategray;
              }
            }
          }
        }
      }
    }
    div.dataTables_wrapper {
      table {
        &.dtr-inline.collapsed {
          >tbody>tr {
            td,
            th {
              &:first-child:before {
                background-color: $slategray;
              }
            }
          }
        }
      }
    }
    table.minotaur-table.DTCR_clonedTable {
      thead tr {
        td,
        th {
          background-color: transparentize($slategray, .7)!important;
        }
      }
    }
  }

}
