<div class="page page-forms pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a ui-sref="app.articles.list">{{ "Menu.ARTICLES" | translate }}</a></li>
    <li class="active">{{ "Menu.ADD" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-md-12">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Menu.ARTICLES" | translate }} - {{ "Menu.ADD" | translate }}</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <form name="articlesAddForm" role="form" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : articlesAddForm.ateName.$invalid && !articlesAddForm.ateName.$pristine, 'has-success' : articlesAddForm.ateName.$valid && !articlesAddForm.ateName.$pristine}">
              <label for="ateName" class="control-label minotaur-label">{{ 'Articles.Title.NAME' | translate }} <span class="text-red">*</span>: </label>
              <input type="text" name="ateName" id="ateName" class="form-control" ng-model="ctrl.item.ate_name" ng-minlength="1" ng-maxlength="60" required>
              <div ng-messages="articlesAddForm.ateName.$error" ng-if="articlesAddForm.ateName.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : articlesAddForm.ahyContent.$invalid && !articlesAddForm.ahyContent.$pristine, 'has-success' : articlesAddForm.ahyContent.$valid && !articlesAddForm.ahyContent.$pristine}">
              <label for="ahyContent" class="control-label minotaur-label">{{ 'Articles.Title.CONTENT' | translate }} <span class="text-red">*</span>: </label>
              <text-angular id="ahyContent" ng-model="ctrl.item.ahy_content" ta-toolbar="[['h2','h3','h4','h5','h6'],['p','quote'],['bold','italics','underline','strikeThrough','redo', 'undo', 'clear'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['ul','ol'],['html','insertImage','insertVideo','insertLink'],['wordcount','charcount']]"></text-angular>
              <div ng-messages="articlesAddForm.ahyContent.$error" ng-if="articlesAddForm.ahyContent.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <div class="form-group form-footer text-right">
              <button type="submit" class="btn btn-success minotaur-btn colored" ng-disabled="articlesAddForm.$invalid || ctrl.item.ahy_content.length === 0 || isLoading()" ng-click="ctrl.add()">
                ADD
                <form-submit-spinner></form-submit-spinner>
              </button>
            </div>

          </form>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->




</div>
