<div class="page page-single-product pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a ui-sref="app.products.list">{{ "Menu.PRODUCTS" | translate }}</a></li>
    <li class="active">{{ "Menu.UPDATE" | translate }}</li>
  </ol>


  <form name="productDetailForm" role="form" novalidate>

    <div class="add-nav">
      <div class="nav-heading">
        <h3>{{ "Menu.PRODUCTS" | translate }} - {{ "Menu.UPDATE" | translate }}</h3>
        <span class="controls pull-right">
            <a ui-sref="app.products.list" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5"><i class="fas fa-arrow-left"></i> {{ 'Global.Button.BACK' | translate }}</a>
            <button type="submit" class="btn btn-ef btn-ef-1 btn-ef-1-success btn-ef-1a btn-rounded-20 mr-5" ng-disabled="productDetailForm.$invalid || (ctrl.item.option_title.trim().length === 0 && ctrl.item.menu_options.length > 0) || (ctrl.item.option_title.trim().length > 0 && (ctrl.item.menu_options === undefined || ctrl.item.menu_options.length === 0)) || ctrl.categories.selected.length === 0 || ctrl.categories.pceMain === null || isLoading()" ng-click="ctrl.update()">
              UPDATE
              <form-submit-spinner></form-submit-spinner>
            </button>
          </span>
      </div>
      <uib-tabset>

        <uib-tab heading="{{ 'Product.Title.MAIN_DETAILS' | translate }}">


          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile form-horizontal" style="overflow: visible;">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Title.MAIN_DETAILS' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.phyName.$invalid && !productDetailForm.phyName.$pristine, 'has-success' : productDetailForm.phyName.$valid && !productDetailForm.phyName.$pristine}">
                    <label for="phyName" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.NAME' | translate }}: <span class="text-red">*</span></label>
                    <div class="col-sm-10">
                      <input type="text" name="phyName" id="phyName" class="form-control" ng-model="ctrl.item.phy_name" ng-minlength="1" ng-maxlength="125" required>
                      <div ng-messages="productDetailForm.phyName.$error" ng-if="productDetailForm.phyName.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.optionTitle.$invalid && !productDetailForm.optionTitle.$pristine, 'has-success' : productDetailForm.optionTitle.$valid && !productDetailForm.optionTitle.$pristine}">
                    <label for="optionTitle" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.OPTIONS_PRODUCT' | translate }}: </label>
                    <label for="optionTitle" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.OPTION_TITLE' | translate }}: </label>
                    <div class="col-sm-8">
                      <input type="text" name="optionTitle" id="optionTitle" class="form-control" ng-model="ctrl.item.option_title" ng-minlength="1" ng-maxlength="40">
                      <div ng-messages="productDetailForm.optionTitle.$error" ng-if="productDetailForm.optionTitle.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.pmnName.$invalid && !productDetailForm.pmnName.$pristine, 'has-success' : productDetailForm.pmnName.$valid && !productDetailForm.pmnName.$pristine}">
                    <label for="pmnName" class="col-sm-4 control-label minotaur-label">{{ 'Product.Title.OPTIONS' | translate }}: </label>
                    <div class="col-sm-8">
                      <tags-input id="pmnName" ng-model="ctrl.item.menu_options"
                                  display-property="pmn_name"
                                  replace-spaces-with-dashes="false"
                                  placeholder="{{ 'Product.Title.ADD_OPTION' | translate }}"
                                  min-length="1"
                                  max-length="40"
                                  add-on-blur="true">
                      </tags-input>
                      <div ng-messages="productDetailForm.pmnName.$error" ng-if="productDetailForm.pmnName.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.descriptionShort.$invalid && !productDetailForm.descriptionShort.$pristine, 'has-success' : productDetailForm.descriptionShort.$valid && !productDetailForm.descriptionShort.$pristine}">
                    <label for="descriptionShort" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.DESCRIPTION_FOR_QUICKVIEW' | translate }}: </label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="descriptionShort" ng-model="ctrl.item.description_short" rows="8"></textarea>
                      <div ng-messages="productDetailForm.descriptionShort.$error" ng-if="productDetailForm.descriptionShort.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.descriptionLong.$invalid && !productDetailForm.descriptionLong.$pristine, 'has-success' : productDetailForm.descriptionLong.$valid && !productDetailForm.descriptionLong.$pristine}">
                    <label for="descriptionLong" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.DESCRIPTION' | translate }}: </label>
                    <div class="col-sm-10">
                      <text-angular id="descriptionLong" ng-model="ctrl.item.description_long" ta-toolbar="[['h2','h3','h4','h5','h6'],['p','quote'],['bold','italics','underline','strikeThrough','redo', 'undo', 'clear'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['ul','ol'],['html','insertImage','insertVideo','insertLink'],['wordcount','charcount']]"></text-angular>
                      <div ng-messages="productDetailForm.descriptionLong.$error" ng-if="productDetailForm.descriptionLong.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.priceNoVat.$invalid && !productDetailForm.priceNoVat.$pristine, 'has-success' : productDetailForm.priceNoVat.$valid && !productDetailForm.priceNoVat.$pristine}">
                    <label for="priceNoVat" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.PRICE_NO_VAT' | translate }}: <span class="text-red">*</span></label>
                    <div class="col-sm-10">
                      <div touch-spin id="priceNoVat" ng-change="ctrl.changeNoVat()" ng-model="ctrl.item.price_no_vat" options="{postfix: 'Kč', min: 0, max: 99000000, decimals: 2, step: 0.01}"></div>
                      <div ng-messages="productDetailForm.priceNoVat.$error" ng-if="productDetailForm.priceNoVat.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.priceVat.$invalid && !productDetailForm.priceVat.$pristine, 'has-success' : productDetailForm.priceVat.$valid && !productDetailForm.priceVat.$pristine}">
                    <label for="priceVat" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.PRICE_VAT' | translate }}: <span class="text-red">*</span></label>
                    <div class="col-sm-10">
                      <div touch-spin id="priceVat" ng-change="ctrl.changeVat()" ng-model="ctrl.item.price_vat" options="{postfix: 'Kč', min: 0, max: 99000000, decimals: 2, step: 0.01}"></div>
                      <div ng-messages="productDetailForm.priceVat.$error" ng-if="productDetailForm.priceVat.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.groups.$invalid && !productDetailForm.groups.$pristine, 'has-success' : productDetailForm.groups.$valid && !productDetailForm.groups.$pristine}">
                    <label class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.GROUPS' | translate }}: </label>
                    <div class="col-sm-10">
                      <i class="text-muted">{{ 'Product.Note.GROUP_DISCOUNT' | translate }}.</i>
                      <div ng-repeat-start="group in ctrl.groups" touch-spin ng-model="group.discount" options="{postfix: '%', min: -1, max: 100, decimals: 2, step: 0.01}"></div>
                      <p ng-repeat-end class="text-muted">{{ group.grp_name }}.</p>
                      <div ng-messages="productDetailForm.groups.$error" ng-if="productDetailForm.groups.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.availability.$invalid && !productDetailForm.availability.$pristine, 'has-success' : productDetailForm.availability.$valid && !productDetailForm.availability.$pristine}">
                    <label for="availability" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.AVAILABILITY' | translate }}: <span class="text-red">*</span></label>
                    <div class="col-sm-10">
                      <div touch-spin id="availability" ng-model="ctrl.item.availability" options="{min: -1, max: 99, decimals: 0, step: 1}"></div>
                      <p class="text-muted">{{ 'Product.Note.AVAILABILITY' | translate }}.</p>
                      <div ng-messages="productDetailForm.availability.$error" ng-if="productDetailForm.availability.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.active.$invalid && !productDetailForm.active.$pristine, 'has-success' : productDetailForm.active.$valid && !productDetailForm.active.$pristine}">
                    <label for="active" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.ACTIVE' | translate }}: <span class="text-red">*</span></label>
                    <div class="col-sm-10">
                      <div class="onoffswitch labeled blue inline-block">
                        <input type="checkbox" name="onoffswitch" ng-model="ctrl.item.active" class="onoffswitch-checkbox" id="active" checked>
                        <label class="onoffswitch-label" for="active">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                      <div ng-messages="productDetailForm.active.$error" ng-if="productDetailForm.active.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.sellable.$invalid && !productDetailForm.sellable.$pristine, 'has-success' : productDetailForm.sellable.$valid && !productDetailForm.sellable.$pristine}">
                    <label for="sellable" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.SELLABLE' | translate }}: <span class="text-red">*</span></label>
                    <div class="col-sm-10">
                      <div class="onoffswitch labeled blue inline-block">
                        <input type="checkbox" name="onoffswitch" ng-model="ctrl.item.sellable" class="onoffswitch-checkbox" id="sellable" checked>
                        <label class="onoffswitch-label" for="sellable">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                      <div ng-messages="productDetailForm.sellable.$error" ng-if="productDetailForm.sellable.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.syncFeedStatus.$invalid && !productDetailForm.syncFeedStatus.$pristine, 'has-success' : productDetailForm.syncFeedStatus.$valid && !productDetailForm.syncFeedStatus.$pristine}">
                    <label for="syncFeedStatus" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.SYNC_FEED_STATUS' | translate }}: <span class="text-red">*</span></label>
                    <div class="col-sm-10">
                      <div class="onoffswitch labeled blue inline-block">
                        <input type="checkbox" name="onoffswitch" ng-model="ctrl.item.sync_feed_status" class="onoffswitch-checkbox" id="syncFeedStatus" checked>
                        <label class="onoffswitch-label" for="syncFeedStatus">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                      <div ng-messages="productDetailForm.syncFeedStatus.$error" ng-if="productDetailForm.syncFeedStatus.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>


                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->




        </uib-tab>

        <uib-tab heading="Meta">


          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile form-horizontal">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">Meta</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.metaKeywords.$invalid && !productDetailForm.metaKeywords.$pristine, 'has-success' : productDetailForm.metaKeywords.$valid && !productDetailForm.metaKeywords.$pristine}">
                    <label for="metaKeywords" class="col-sm-2 control-label minotaur-label">{{ 'MenuItem.Title.META_KEYWORDS' | translate }}:</label>
                    <div class="col-sm-10">
                      <ui-select id="metaKeywords" multiple ng-model="ctrl.metaKeywords.selected" close-on-select="false" title="{{ 'MenuItem.Title.CHOOSE_A_META_KEYWORDS' | translate }}">
                        <ui-select-match placeholder="{{ 'MenuItem.Title.SELECT_META_KEYWORDS' | translate }}...">{{ $item.mkd_name }}</ui-select-match>
                        <ui-select-choices repeat="item in ctrl.metaKeywords.options | filter:$select.search">
                          {{ item.mkd_name }}
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.metaDescription.$invalid && !productDetailForm.metaDescription.$pristine, 'has-success' : productDetailForm.metaDescription.$valid && !productDetailForm.metaDescription.$pristine}">
                    <label for="metaDescription" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.META_DESCRIPTION' | translate }}:</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="metaDescription" ng-model="ctrl.item.description_meta" rows="8" maxlength="160" ng-maxlength="160"></textarea>
                      <div ng-messages="productDetailForm.metaDescription.$error" ng-if="productDetailForm.metaDescription.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>


                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->


        </uib-tab>

        <uib-tab heading="{{ 'Product.Parameters.TITLE' | translate }}">


          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile form-horizontal" style="overflow: visible;">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Parameters.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.barcode.$invalid && !productDetailForm.barcode.$pristine, 'has-success' : productDetailForm.barcode.$valid && !productDetailForm.barcode.$pristine}">
                    <label for="barcode" class="col-sm-2 control-label minotaur-label">{{ 'Product.Parameters.BARCODE' | translate }}:</label>
                    <div class="col-sm-10">
                      <input type="text" name="barcode" id="barcode" class="form-control" ng-model="ctrl.item.barcode" ng-minlength="13" ng-maxlength="13">
                      <div ng-messages="productDetailForm.barcode.$error" ng-if="productDetailForm.barcode.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.code.$invalid && !productDetailForm.code.$pristine, 'has-success' : productDetailForm.code.$valid && !productDetailForm.code.$pristine}">
                    <label for="code" class="col-sm-2 control-label minotaur-label">{{ 'Product.Parameters.CODE' | translate }}: <span class="text-red">*</span></label>
                    <div class="col-sm-10">
                      <input type="text" name="code" id="code" class="form-control" ng-model="ctrl.item.code" ng-minlength="1" ng-maxlength="50" required>
                      <div ng-messages="productDetailForm.code.$error" ng-if="productDetailForm.code.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.manufacturer.$invalid && !productDetailForm.manufacturer.$pristine, 'has-success' : productDetailForm.manufacturer.$valid && !productDetailForm.manufacturer.$pristine}">
                    <label for="manufacturer" class="col-sm-2 control-label minotaur-label">{{ 'Product.Parameters.SELECT_MANUFACTURER' | translate }}: <span class="text-red">*</span></label>
                    <div class="col-sm-10">
                      <select class="form-control select-simple" name="manufacturer" id="manufacturer" ng-model="ctrl.manufacturer.model" required>
                        <option ng-repeat="item in ctrl.manufacturer.options" ng-value="item.id">{{ item.mur_name }}</option>
                      </select>
                      <div ng-messages="productDetailForm.manufacturer.$error" ng-if="productDetailForm.manufacturer.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.weight.$invalid && !productDetailForm.weight.$pristine, 'has-success' : productDetailForm.weight.$valid && !productDetailForm.weight.$pristine}">
                    <label for="weight" class="col-sm-2 control-label minotaur-label">{{ 'Product.Parameters.WEIGHT' | translate }}:</label>
                    <div class="col-sm-10">
                      <div touch-spin id="weight" ng-model="ctrl.item.weight" options="{postfix: 'g', min: -1, max: 99000000, decimals: 2, step: 0.01}"></div>
                      <span class="help-block">{{ "Product.Note.GROUP_DISCOUNT" | translate }}</span>
                      <div ng-messages="productDetailForm.weight.$error" ng-if="productDetailForm.weight.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.warranty.$invalid && !productDetailForm.warranty.$pristine, 'has-success' : productDetailForm.warranty.$valid && !productDetailForm.warranty.$pristine}">
                    <label for="warranty" class="col-sm-2 control-label minotaur-label">{{ 'Product.Parameters.WARRANTY' | translate }}:</label>
                    <div class="col-sm-10">
                      <div touch-spin id="warranty" ng-model="ctrl.item.warranty" options="{postfix: 'měsíc', min: -1, max: 32767, decimals: 0, step: 1}"></div>
                      <span class="help-block">{{ "Product.Note.GROUP_DISCOUNT" | translate }}</span>
                      <div ng-messages="productDetailForm.warranty.$error" ng-if="productDetailForm.warranty.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.parameterGroups.$invalid && !productDetailForm.parameterGroups.$pristine, 'has-success' : productDetailForm.parameterGroups.$valid && !productDetailForm.parameterGroups.$pristine}">
                    <label for="parameterGroups" class="col-sm-2 control-label minotaur-label">{{ 'Product.Parameters.PARAMETER_GROUPS' | translate }} : </label>
                    <div class="col-sm-10">
                      <select class="select-simple" name="parameterGroups" id="parameterGroups" ng-model="ctrl.parameterGroups.model">
                        <option ng-value="0" selected>&#45;&#45; {{ 'Global.Placeholder.SELECT_AN_OPTION' | translate }} &#45;&#45;</option>
                        <option class="group-result" ng-repeat-start="option in ctrl.parameterGroups.options" ng-value="option">{{ option.pgp_name }}</option>
                        <option disabled ng-repeat="param in option.parameters" ng-repeat-end>{{ param.prr_name }}</option>
                      </select>
                      <div ng-messages="productDetailForm.parameterGroups.$error" ng-if="productDetailForm.parameterGroups.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div ng-repeat="item in ctrl.parameterGroups.model.parameters" class="form-group" >
                    <label for="param{{item.prr_id}}" class="col-sm-2 control-label minotaur-label">{{ item.prr_name }}:</label>
                    <div class="col-sm-10">
                      <tags-input id="param{{item.prr_id}}" ng-model="item.value"
                                  replace-spaces-with-dashes="false"
                                  max-tags="1"
                                  placeholder=" "
                                  on-tag-added="ctrl.paramChanged($tag, item)"
                                  min-length="1"
                                  max-length="50"
                                  add-on-blur="true">
                        <auto-complete source="ctrl.searchItem(item.options, $query)"
                                       min-length="0"
                                       debounce-delay="0"
                                       max-results-to-show="10"></auto-complete>
                      </tags-input>
                      <span ng-if="item.prr_unit !== null" class="help-block">{{ "Product.Note.UNIT" | translate }}: {{ item.prr_unit }}</span>
                    </div>
                  </div>


                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->




        </uib-tab>

        <uib-tab heading="{{ 'Product.Stickers.TITLE' | translate }}">


          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile form-horizontal" style="overflow: visible;">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Stickers.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="form-group" ng-class="{ 'has-error' : productDetailForm.sale.$invalid && !productDetailForm.sale.$pristine, 'has-success' : productDetailForm.sale.$valid && !productDetailForm.sale.$pristine}">
                    <label for="sale" class="col-sm-2 control-label minotaur-label">{{ 'Product.Stickers.SALE' | translate }}: <span class="text-red">*</span></label>
                    <div class="col-sm-10">
                      <div class="onoffswitch labeled blue inline-block">
                        <input type="checkbox" name="onoffswitch" ng-model="ctrl.item.sale" class="onoffswitch-checkbox" id="sale">
                        <label class="onoffswitch-label" for="sale">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                      <div ng-messages="productDetailForm.sale.$error" ng-if="productDetailForm.sale.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->




        </uib-tab>

        <uib-tab heading="{{ 'Product.Shipping.TITLE' | translate }}">



          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="form-horizontal tile">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Shipping.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="table-responsive">
                    <table class="table table-hover table-striped m-0">
                      <thead>
                      <tr>
                        <th>{{ 'Product.Shipping.SELECT' | translate }}</th>
                        <th>{{ 'Product.Shipping.DONT_SHOW' | translate }}</th>
                        <th>ID</th>
                        <th>{{ 'Product.Shipping.NAME' | translate }}</th>
                        <th>{{ 'Product.Shipping.PRICE' | translate }}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in ctrl.shipping">
                        <td>
                          <label class="checkbox minotaur-checkbox minotaur-checkbox-sm m-0">
                            <input type="checkbox" ng-model="item.selected" ng-change="ctrl.shippingChange(item)" ng-disabled="item.dontShow">
                            <div class="input-indicator"></div>
                          </label>
                        </td>
                        <td>
                          <label class="checkbox minotaur-checkbox minotaur-checkbox-sm m-0">
                            <input type="checkbox" ng-model="item.dontShow" ng-change="ctrl.shippingChange(item)">
                            <div class="input-indicator"></div>
                          </label>
                        </td>
                        <td>{{ item.spg_id }}</td>
                        <td>{{ item.shy_name }}</td>
                        <td>
                          <div disabled="!item.selected" touch-spin ng-model="item.price" options="{postfix: 'Kč', min: 0, max: 99000000, decimals: 2, step: 0.01}"></div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->



        </uib-tab>

        <uib-tab heading="{{ 'Product.Payment.TITLE' | translate }}">



          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Payment.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="table-responsive">
                    <table class="table table-hover table-striped m-0">
                      <thead>
                      <tr>
                        <th>ID</th>
                        <th>{{ 'Product.Payment.NAME' | translate }}</th>
                        <th>{{ 'Product.Payment.ENABLE' | translate }}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in ctrl.payment">
                        <td>{{ item.id }}</td>
                        <td>{{ item.poy_name }}</td>
                        <td>
                          <div class="onoffswitch labeled blue inline-block">
                            <input type="checkbox" name="onoffswitch" ng-model="item.enable" class="onoffswitch-checkbox" id="payment{{item.id}}" checked>
                            <label class="onoffswitch-label" for="payment{{item.id}}">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->



        </uib-tab>

        <uib-tab heading="{{ 'Product.Images.TITLE' | translate }}">



          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Images.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <ul class="mix-filter">
                    <li ng-repeat="item in ctrl.imageCategories" ng-class="{'mixitup-control-active': ctrl.selectedIcyId === item.icy_id}" class="filter" ng-click="ctrl.selectImageCategory(item.icy_id)">
                      {{ item.icy_name }}
                    </li>
                  </ul>

                  <div class="row mb-20">
                    <div class="col-md-4">
                      <label class="checkbox minotaur-checkbox inline-block m-0">{{ 'Product.Images.SELECT_ALL' | translate }}
                        <input type="checkbox" ng-model="ctrl.selectedAllImages" ng-click="ctrl.selectAllImages()">
                        <div class="input-indicator"></div>
                      </label>
                    </div>

                    <div class="col-md-4">
                      <input type="text" class="form-control" ng-model="ctrl.searchImage" placeholder="{{ 'Global.Placeholder.SEARCH' | translate }}...">
                    </div>
                  </div>

                  <!-- row -->
                  <div class="row mix-grid">

                    <div class="gallery" ng-mixitup magnific-popup="{
                          delegate: 'a.img-preview',
                          type: 'image',
                          tLoading: 'Loading image #%curr%...',
                          mainClass: 'mfp-img-mobile',
                          gallery: {
                            enabled: true,
                            navigateByImgClick: true,
                            preload: [0,1]
                          }
                         }"
                    >

                      <!-- col -->
                      <div ng-repeat="image in ctrl.images | filter:ctrl.searchImage" class="col-md-2 col-sm-4 mb-20 mix" ng-class="{'selected': image.selected}">
                        <div class="img-container h-300">
                          <img class="img-responsive mh-300"
                               ng-src="{{ ctrl.pathImages.toString() + image.iae_path.toString() + ctrl.mediumImage.toString() + '.' + image.iae_type}}"
                               alt="">
                          <div class="img-details">
                            <h4>{{image.iae_name}}</h4>
                            <div class="img-controls">
                              <a href="javascript:;" class="img-select" ng-click="ctrl.selectImage($index)">
                                <i class="fas fa-times" ng-show="!image.selected"></i>
                                <i class="fas fa-check" ng-show="image.selected"></i>
                              </a>
                              <a class="img-preview" href="{{ ctrl.pathImages.toString() + image.iae_path.toString() + ctrl.originalImage.toString() + '.' + image.iae_type}}" title="{{image.iae_name}}">
                                <i class="fa fa-search"></i>
                              </a>
                              <a href="javascript:;" ng-class="{'img-select': image.selectedMain && image.selected}" ng-click="ctrl.selectImageMain($index)">
                                <i class="far fa-circle" ng-show="!image.selectedMain"></i>
                                <i class="fas fa-circle" ng-show="image.selectedMain"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /col -->

                    </div>

                  </div>
                  <!-- /row -->

                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->



        </uib-tab>

        <uib-tab heading="{{ 'Product.Files.TITLE' | translate }}">



          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Files.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="table-responsive-wide">
                    <div class="dataTables_wrapper form-inline">
                      <div class="row">
                        <div class="col-md-8 col-sm-12"></div>
                        <div class="col-md-4 col-sm-12">
                          <div class="pull-right">
                            <div class="dataTables_filter">
                              <label>{{'Global.Table.SEARCH'|translate}}<input ng-model="ctrl.search.string" type="search" ng-keyup="ctrl.searchData()" class="form-control input-sm"></label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <table class="dataTable table table-striped table-hover minotaur-table" style="min-width: 1000px;">
                      <thead>
                      <tr>
                        <th style="width:40px;" class="sorting_disabled">
                          <label class="checkbox minotaur-checkbox minotaur-checkbox-sm checkbox-white m-0">
                            <input type="checkbox" ng-model="ctrl.selectedAllFiles" ng-click="ctrl.selectAllFiles()">
                            <div class="input-indicator"></div>
                          </label>
                        </th>
                        <th ng-click="ctrl.updateSort(0, true);" class="{{ctrl.sort.options[ctrl.sort.columns[0].sort]}}">{{ "Product.Files.NAME" | translate }}</th>
                        <th style="width:60px;" ng-click="ctrl.updateSort(1, true);" class="{{ctrl.sort.options[ctrl.sort.columns[1].sort]}}">{{ "Product.Files.TYPE" | translate }}</th>
                        <th ng-click="ctrl.updateSort(2, true);" class="{{ctrl.sort.options[ctrl.sort.columns[2].sort]}}">{{ "Product.Files.SIZE" | translate }}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in ctrl.filesSelected" data-index="{{$index}}">
                        <td>
                          <label class="checkbox minotaur-checkbox minotaur-checkbox-sm m-0">
                            <input type="checkbox" ng-model="item.selected">
                            <div class="input-indicator"></div>
                          </label>
                        </td>
                        <td>{{ item.fie_name }}</td>
                        <td>{{ item.fie_type }}</td>
                        <td>{{ item.fie_size }} kB</td>
                      </tr>
                      <tr ng-if="ctrl.filesSelected.length===0">
                        <td valign="top" colspan="4" class="dataTables_empty">{{'Global.Table.NO_DATA'|translate}}</td>
                      </tr>
                      </tbody>
                      </table>
                      <div class="row">
                        <div class="col-md-4 col-sm-12"></div>
                        <div class="col-md-4 col-sm-12">
                          <div class="inline-controls text-center">
                            <div class="dataTables_info">{{ ctrl.page.msgFound }}</div>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                          <div class="dataTables_paginate paging_input" ng-if="ctrl.limit<ctrl.files.length">
                            <span class="paginate_page">{{ 'Global.Table.PAGE' | translate }}&nbsp;</span>
                            <span ng-click="ctrl.page.current=1;ctrl.updateData();" class="first btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === 1}">
                    <i class="fa fa-angle-double-left"></i>
                  </span>
                            <span ng-click="ctrl.page.current=ctrl.page.current===1?1:ctrl.page.current-1;ctrl.updateData();" class="previous btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === 1}">
                    <i class="fa fa-angle-left"></i>
                  </span>
                            <input ng-change="ctrl.updateData();" class="paginate_input form-control input-sm input-inline" ng-model="ctrl.page.current" type="text">
                            <span ng-click="ctrl.page.current=ctrl.page.current===ctrl.page.total?ctrl.page.total:ctrl.page.current+1;ctrl.updateData();" class="next btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === ctrl.page.total}">
                    <i class="fa fa-angle-right"></i>
                  </span>
                            <span ng-click="ctrl.page.current=ctrl.page.total;ctrl.updateData();" class="last btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === ctrl.page.total}">
                    <i class="fa fa-angle-double-right"></i>
                  </span>
                            <span class="paginate_of">&nbsp;{{ 'Global.Table.OF' | translate }}&nbsp;{{ctrl.page.total}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->



        </uib-tab>

        <uib-tab heading="{{ 'Product.Categories.TITLE' | translate }}">



          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Categories.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <button type="button" class="btn btn-sm btn-warning minotaur-btn mb-20" ng-click="ctrl.collapseAll()">{{ 'Global.Button.COLLAPSE_ALL' | translate }}</button>
                  <button type="button" class="btn btn-sm btn-info minotaur-btn mb-20" ng-click="ctrl.expandAll()">{{ 'Global.Button.EXPAND_ALL' | translate }}</button>


                  <!-- Nested list template -->
                  <script type="text/ng-template" id="items_renderer.html">
                    <div class="tree-node">
                      <div class="tree-node-content">
                        <label class="checkbox minotaur-checkbox minotaur-checkbox-sm list-checkbox" data-nodrag>
                          <input type="checkbox" ng-change="ctrl.selectCategory(item)" ng-model="item.selected">
                          <div class="input-indicator"></div>
                        </label>
                        <label class="checkbox minotaur-radio minotaur-radio-sm list-checkbox" uib-tooltip="{{ 'Product.Categories.MAIN' | translate }}" data-nodrag>
                          <input type="radio" ng-model="ctrl.categories.pceMain" ng-value="item.cey_id" ng-click="ctrl.selectCategoryMain(item.cey_id)" name="pceMain">
                          <div class="input-indicator"></div>
                        </label>
                        <a class="btn" data-nodrag ng-click="toggle(this)">
                          <i class="fa fa-angle-down" ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}"></i>
                        </a>
                        {{item.cey_name}}
                      </div>
                    </div>
                    <ol ui-tree-nodes="" ng-model="item.items" ng-class="{hidden: collapsed}">
                      <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'"></li>
                    </ol>
                  </script>

                  <div ui-tree>
                    <ol ui-tree-nodes="" ng-model="ctrl.categories">
                      <li ng-repeat="item in ctrl.categories.items" ui-tree-node ng-include="'items_renderer.html'"></li>
                    </ol>
                  </div>

                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->



        </uib-tab>

        <uib-tab heading="{{ 'Product.History.TITLE' | translate }}">



          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="form-horizontal tile">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.History.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="table-responsive">
                    <table class="table table-hover table-striped m-0">
                      <thead>
                      <tr>
                        <th>{{ 'Product.History.ADMIN' | translate }}</th>
                        <th>{{ 'Product.History.DATE' | translate }}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in ctrl.item.history | orderBy:'-date_from'">
                        <td>
                          <img height="40" width="40" ng-src="{{item.amr_avatar}}">&nbsp;
                          <a ui-sref="app.users.admins.detail({act_id:item.act_id})">{{ item.amr_first_name }}&nbsp;{{ item.amr_last_name }}</a>
                        </td>
                        <td>{{ 'Global.DATE_FORMAT' | translate:{date:item.date_from} }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->



        </uib-tab>


      </uib-tabset>
    </div>

  </form>


</div>
