<div class="page page-forms pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a ui-sref="app.files.category.list">{{ "Menu.FILES_CATEGORY_LIST" | translate }}</a></li>
    <li class="active">{{ "Menu.UPDATE" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-md-12">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Menu.FILES_CATEGORY_LIST" | translate }} - {{ "Menu.UPDATE" | translate }}</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <form name="fileCategoryDetailForm" role="form" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : fileCategoryDetailForm.name.$invalid && !fileCategoryDetailForm.name.$pristine, 'has-success' : fileCategoryDetailForm.name.$valid && !fileCategoryDetailForm.name.$pristine}">
              <label for="name" class="control-label minotaur-label">{{ 'Images.Title.NAME' | translate }} <span class="text-red">*</span>: </label>
              <input type="text" name="name" id="name" class="form-control" ng-model="ctrl.fcyName" ng-minlength="1" ng-maxlength="70" required>
              <div ng-messages="fileCategoryDetailForm.name.$error" ng-if="fileCategoryDetailForm.name.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <div class="form-group form-footer text-right">
              <button type="submit" class="btn btn-success minotaur-btn colored" ng-disabled="fileCategoryDetailForm.$invalid || isLoading()" ng-click="ctrl.update()">
                SAVE
                <form-submit-spinner></form-submit-spinner>
              </button>
            </div>

          </form>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->




</div>
