<div class="page page-forms pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a ui-sref="app.parameters.group.list">{{ "Menu.PARAMETERS_GROUP_LIST" | translate }}</a></li>
    <li class="active">{{ "Menu.ADD" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-md-12">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Menu.PARAMETERS_GROUP_LIST" | translate }} - {{ "Menu.ADD" | translate }}</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <form name="parameterGroupsAddForm" role="form" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : parameterGroupsAddForm.pgpName.$invalid && !parameterGroupsAddForm.pgpName.$pristine, 'has-success' : parameterGroupsAddForm.pgpName.$valid && !parameterGroupsAddForm.pgpName.$pristine}">
              <label for="pgpName" class="control-label minotaur-label">{{ 'ParameterGroups.Title.NAME' | translate }} <span class="text-red">*</span>: </label>
              <input type="text" name="pgpName" id="pgpName" class="form-control" ng-model="ctrl.item.pgp_name" ng-minlength="1" ng-maxlength="50" required>
              <div ng-messages="parameterGroupsAddForm.pgpName.$error" ng-if="parameterGroupsAddForm.pgpName.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : parameterGroupsAddForm.parameters.$invalid && !parameterGroupsAddForm.parameters.$pristine, 'has-success' : parameterGroupsAddForm.parameters.$valid && !parameterGroupsAddForm.parameters.$pristine}">

              <label for="parameters" class="control-label minotaur-label">{{ 'ParameterGroups.Title.PARAMETERS' | translate }} <span class="text-red">*</span>: </label>

              <ui-select id="parameters" multiple ng-model="ctrl.item.selected" close-on-select="false" title="{{ 'ParameterGroups.Title.CHOOSE_A_PARAMETER' | translate }}">
                <ui-select-match placeholder="{{ 'ParameterGroups.Title.SELECT_PARAMETERS' | translate }}...">{{ $item.prr_name }}</ui-select-match>
                <ui-select-choices repeat="item in ctrl.item.parameters | filter:$select.search">
                  {{ item.prr_name }}
                </ui-select-choices>
              </ui-select>

            </div>

            <div class="form-group form-footer text-right">
              <button type="submit" class="btn btn-success minotaur-btn colored" ng-disabled="parameterGroupsAddForm.$invalid || ctrl.item.selected.length === 0 || isLoading()" ng-click="ctrl.add()">
                ADD
                <form-submit-spinner></form-submit-spinner>
              </button>
            </div>

          </form>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->




</div>
