<div class="page page-ui pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a ui-sref="app.categories.list">{{ "Menu.CATEGORIES" | translate }}</a></li>
    <li class="active">{{ "Menu.UPDATE" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">

    <div class="col-md-12">

      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Menu.CATEGORIES" | translate }} - {{ "Menu.UPDATE" | translate }}</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <form name="categoryDetailForm" role="form" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : categoryDetailForm.ceyId.$invalid && !categoryDetailForm.ceyId.$pristine, 'has-success' : categoryDetailForm.ceyId.$valid && !categoryDetailForm.ceyId.$pristine}">
              <label for="cey-id" class="control-label minotaur-label">ID <span class="text-red">*</span>: </label>
              <input type="text" name="cey-id" id="cey-id" class="form-control" ng-model="ctrl.item.cey_id" disabled required>
              <div ng-messages="categoryDetailForm.ceyId.$error" ng-if="categoryDetailForm.ceyId.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <ul class="mix-filter">
              <li ng-repeat="itemCategory in ctrl.imageCategories" ng-class="{'mixitup-control-active': ctrl.selectedIcyId === itemCategory.icy_id}" class="filter" ng-click="ctrl.selectImageCategory(itemCategory.icy_id)">
                {{ itemCategory.icy_name }}
              </li>
            </ul>

            <div class="row mb-20">
              <div class="col-md-4"></div>

              <div class="col-md-4">
                <input type="text" class="form-control" ng-model="ctrl.searchImage" placeholder="{{ 'Global.Placeholder.SEARCH' | translate }}...">
              </div>
            </div>

            <!-- row -->
            <div class="row mix-grid">

              <div class="gallery" ng-mixitup magnific-popup="{
                          delegate: 'a.img-preview',
                          type: 'image',
                          tLoading: 'Loading image #%curr%...',
                          mainClass: 'mfp-img-mobile',
                          gallery: {
                            enabled: true,
                            navigateByImgClick: true,
                            preload: [0,1]
                          }
                         }"
              >

                <!-- col -->
                <div ng-if="ctrl.imagesSelected" class="col-md-2 col-sm-4 mb-20 mix" ng-class="{'selected': ctrl.imagesSelected.selectedMain}">
                  <div class="img-container h-300">
                    <img class="img-responsive mh-300"
                         ng-src="{{ ctrl.pathImages.toString() + ctrl.imagesSelected.iae_path.toString() + ctrl.mediumImage.toString() + '.' + ctrl.imagesSelected.iae_type}}"
                         alt="">
                    <div class="img-details">
                      <h4>{{ctrl.imagesSelected.iae_name}}</h4>
                      <div class="img-controls">
                        <a class="img-preview" href="{{ ctrl.pathImages.toString() + ctrl.imagesSelected.iae_path.toString() + ctrl.originalImage.toString() + '.' + ctrl.imagesSelected.iae_type}}" title="{{image.iae_name}}">
                          <i class="fa fa-search"></i>
                        </a>
                        <a href="javascript:;" ng-class="{'img-select': ctrl.imagesSelected.selectedMain}" ng-click="ctrl.selectImageMain(ctrl.imagesSelected.iae_id,true)">
                          <i class="far fa-circle" ng-show="!ctrl.imagesSelected.selectedMain"></i>
                          <i class="fas fa-circle" ng-show="ctrl.imagesSelected.selectedMain"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-repeat="image in ctrl.images | filter:ctrl.searchImage" class="col-md-2 col-sm-4 mb-20 mix" ng-class="{'selected': image.selectedMain}">
                  <div class="img-container h-300">
                    <img class="img-responsive mh-300"
                         ng-src="{{ ctrl.pathImages.toString() + image.iae_path.toString() + ctrl.mediumImage.toString() + '.' + image.iae_type}}"
                         alt="">
                    <div class="img-details">
                      <h4>{{image.iae_name}}</h4>
                      <div class="img-controls">
                        <a class="img-preview" href="{{ ctrl.pathImages.toString() + image.iae_path.toString() + ctrl.originalImage.toString() + '.' + image.iae_type}}" title="{{image.iae_name}}">
                          <i class="fa fa-search"></i>
                        </a>
                        <a href="javascript:;" ng-class="{'img-select': image.selectedMain}" ng-click="ctrl.selectImageMain(image.iae_id,false)">
                          <i class="far fa-circle" ng-show="!image.selectedMain"></i>
                          <i class="fas fa-circle" ng-show="image.selectedMain"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /col -->

              </div>

            </div>
            <!-- /row -->

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : categoryDetailForm.name.$invalid && !categoryDetailForm.name.$pristine, 'has-success' : categoryDetailForm.name.$valid && !categoryDetailForm.name.$pristine}">
              <label for="name" class="control-label minotaur-label">{{ 'Category.Title.NAME' | translate }} <span class="text-red">*</span>: </label>
              <input type="text" name="name" id="name" class="form-control" ng-model="ctrl.item.cey_name" ng-minlength="1" ng-maxlength="70" required>
              <div ng-messages="categoryDetailForm.name.$error" ng-if="categoryDetailForm.name.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : categoryDetailForm.categoryDescription.$invalid && !categoryDetailForm.categoryDescription.$pristine, 'has-success' : categoryDetailForm.categoryDescription.$valid && !categoryDetailForm.categoryDescription.$pristine}">
              <label for="desc-category" class="control-label minotaur-label">{{ 'Category.Title.CATEGORY_DESCRIPTION' | translate }} : </label>
              <text-angular id="desc-category" ng-model="ctrl.item.cey_description" ta-toolbar="[['p'],['bold','italics','underline','redo', 'undo', 'clear'],['justifyLeft','justifyCenter','justifyRight'],['ul','ol'],['insertLink']]"></text-angular>
              <div ng-messages="categoryDetailForm.categoryDescription.$error" ng-if="categoryDetailForm.categoryDescription.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : categoryDetailForm.groups.$invalid && !categoryDetailForm.groups.$pristine, 'has-success' : categoryDetailForm.groups.$valid && !categoryDetailForm.groups.$pristine}">
              <label class="control-label minotaur-label">{{ 'Category.Title.GROUPS' | translate }} (%) <span class="text-lightred">*</span>:</label>
              <div class="row mt-10" ng-repeat="group in ctrl.item.discounts">
                <label for="group.grp_id" class="col-sm-2 control-label minotaur-label">{{ group.grp_name }}: </label>
                <div class="col-sm-10">
                  <div touch-spin id="group.grp_id" ng-model="group.discount" options="{min: 0, max: 100, postfix: '%', decimals: 2, step: 0.01}"></div>
                </div>
              </div>
              <div ng-messages="categoryDetailForm.groups.$error" ng-if="categoryDetailForm.groups.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : categoryDetailForm.parameters.$invalid && !categoryDetailForm.parameters.$pristine, 'has-success' : categoryDetailForm.parameters.$valid && !categoryDetailForm.parameters.$pristine}">
              <label for="parameters" class="control-label minotaur-label">{{ 'Category.Title.PARAMETER_GROUPS' | translate }} : </label>
              <select class="select-simple" name="parameters" id="parameters" ng-model="ctrl.parameterGroups.model">
                <option ng-value="0" selected>&#45;&#45; {{ 'Global.Placeholder.SELECT_AN_OPTION' | translate }} &#45;&#45;</option>
                <option class="group-result" ng-repeat-start="option in ctrl.parameterGroups.options" ng-value="option.pgp_id">{{ option.pgp_name }}</option>
                <option disabled ng-repeat="param in option.parameters" ng-repeat-end>{{ param.prr_name }}</option>
              </select>
              <div ng-messages="categoryDetailForm.parameters.$error" ng-if="categoryDetailForm.parameters.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : categoryDetailForm.showParameters.$invalid && !categoryDetailForm.showParameters.$pristine, 'has-success' : categoryDetailForm.showParameters.$valid && !categoryDetailForm.showParameters.$pristine}">
              <label class="control-label minotaur-label">{{ 'Category.Title.SHOW_PARAMETERS' | translate }} <span class="text-red">*</span>:</label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.true' | translate }}
                <input ng-model="ctrl.item.show_parameters" ng-value="1" name="show-parameters" type="radio">
                <div class="input-indicator"></div>
              </label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.false' | translate }}
                <input ng-model="ctrl.item.show_parameters" ng-value="0" name="show-parameters" type="radio">
                <div class="input-indicator"></div>
              </label>
              <div ng-messages="categoryDetailForm.showParameters.$error" ng-if="categoryDetailForm.showParameters.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : categoryDetailForm.category.$invalid && !categoryDetailForm.category.$pristine, 'has-success' : categoryDetailForm.category.$valid && !categoryDetailForm.category.$pristine}">
              <label class="control-label minotaur-label">{{ 'Menu.CATEGORIES' | translate }} <span class="text-red">*</span>:</label>
              <script type="text/ng-template" id="items_renderer_detail.html">
                <div class="tree-node">
                  <div class="tree-node-content">
                    <label class="checkbox minotaur-radio minotaur-radio-sm list-checkbox" data-nodrag>
                      <input type="radio" name="parent" ng-model="ctrl.selectedParent" ng-value="item.cey_id">
                      <div class="input-indicator"></div>
                    </label>
                    <a class="btn" data-nodrag ng-click="toggle(this)">
                      <i class="fa fa-angle-down" ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}"></i>
                    </a>
                    {{item.cey_id}}&nbsp;|&nbsp;{{item.cey_name}}
                  </div>
                </div>
                <ol ui-tree-nodes="" ng-model="item.items" ng-class="{hidden: collapsed}">
                  <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer_detail.html'"></li>
                </ol>
              </script>

              <div ui-tree>
                <ol ui-tree-nodes="" ng-model="ctrl.items">
                  <li ng-repeat="item in ctrl.items" ui-tree-node ng-include="'items_renderer_detail.html'"></li>
                </ol>
              </div>
            </div>

            <div class="form-group form-footer text-right">
              <button type="submit" class="btn btn-success minotaur-btn colored" ng-disabled="categoryDetailForm.$invalid || isLoading()" ng-click="ctrl.update()">
                SAVE
                <form-submit-spinner></form-submit-spinner>
              </button>
            </div>

          </form>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->

  </div>


</div>
<!-- /row -->
