<p ng-message="required" style="margin: 0">{{ 'Global.Alert.THIS_FIELD_IS_REQUIRED' | translate }}</p>
<p ng-message="minlength" style="margin: 0">{{ 'Global.Alert.THIS_FIELD_IS_TOO_SHORT' | translate }}</p>
<p ng-message="maxlength" style="margin: 0">{{ 'Global.Alert.THIS_FIELD_IS_TOO_LONG' | translate }}</p>
<p ng-message="email" style="margin: 0">{{ 'Global.Alert.THIS_NEEDS_TO_BE_A_VALID_EMAIL' | translate }}</p>
<p ng-message="number" style="margin: 0">{{ 'Global.Alert.THIS_NEEDS_TO_BE_A_VALID_NUMBER' | translate }}</p>
<p ng-message="match" style="margin: 0">{{ 'Global.Alert.VALUES_DO_NOT_MATCH' | translate }}!</p>
<p ng-message="pattern" style="margin: 0">{{ 'Global.Alert.INPUT_IN_BAD_FORMAT' | translate }}!</p>
<p ng-message="min" style="margin: 0">{{ 'Global.Alert.THIS_VALUE_IS_TOO_LOW' | translate }}</p>
<p ng-message="max" style="margin: 0">{{ 'Global.Alert.THIS_VALUE_IS_TOO_HIGH' | translate }}</p>
