<div class="modal-header">
  <h3 class="modal-title text-warning"><i class="fa fa-warning"></i>&nbsp;{{ "Global.Modal.WARNING" | translate }}</h3>
</div>
<div class="modal-body">
  <p>{{ "Global.Modal.CHANGE_MESSAGE" | translate }}&nbsp;{{ "Global.Modal.STATUS" | translate }}&nbsp;<strong>{{ "Order.Shipping.State." + modal.status | translate }}</strong>&nbsp;{{ "Global.Modal.FOR" | translate }}&nbsp;{{ "Global.Modal.THESE_ITEMS" | translate }}:</p>
  <ul class="nav">
    <li ng-repeat="item in modal.items"><strong>{{ item.id }}</strong></li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="modal.cancel()">
    <i class="fa fa-arrow-left"></i>
    {{ "Global.Button.CLOSE" | translate }}
  </button>
  <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="isLoading()" ng-click="modal.ok()">
    <i class="fa fa-arrow-right"></i>
    CHANGE
    <form-submit-spinner></form-submit-spinner>
  </button>
  <button type="submit" class="btn btn-success btn-ef btn-ef-7 btn-ef-7b" ng-disabled="isLoading()" ng-click="modal.email()">
    <i class="fa fa-envelope"></i>
    SEND_EMAIL
    <form-submit-spinner></form-submit-spinner>
  </button>
</div>
