<div class="modal-header">
  <h3 class="modal-title text-warning"><i class="fa fa-warning"></i>&nbsp;{{ "Global.Modal.WARNING" | translate }}</h3>
</div>
<div class="modal-body">
  <p>{{ "Global.Modal.CHANGE_MESSAGE" | translate }}&nbsp;{{ "Global.Modal.THESE_ITEMS" | translate }}&nbsp:</p>
  <ul class="list-inline">
    <li ng-repeat="item in modal.items"><strong>{{ item.id }}{{ $index === modal.items.length-1 ? "" : "," }}</strong></li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="modal.cancel()">
    <i class="fa fa-arrow-left"></i>
    {{ "Global.Button.CLOSE" | translate }}
  </button>
  <a ui-sref="app.products.multipleUpdate({ids:modal.items})" ng-click="modal.cancel()" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="isLoading()">
    <i class="fa fa-arrow-right"></i>
    {{ "Global.Button.SUBMIT" | translate }}
  </a>
</div>
