<div class="modal-header">
  <h3 class="modal-title">{{ modal.title | translate }}</h3>
</div>
<div class="modal-body">
  <p>{{ modal.items }}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="modal.cancel()">{{ "Global.Button.CLOSE" | translate }}</button>
</div>
