<div class="page page-ui pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li class="active">{{ "Menu.CATEGORIES" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">

    <div class="col-md-12">

      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Menu.CATEGORIES" | translate }}</h1>
          <div class="controls">
            <a ui-sref="app.categories.add" class="btn btn-transparent" uib-tooltip="{{ 'Menu.ADD' | translate }}" tooltip-placement="bottom"><i class="fa fa-plus mr-5"></i></a>
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <form name="categoryForm" role="form" novalidate>

            <button type="button" class="btn btn-sm btn-default minotaur-btn mb-20" ng-model="ctrl.selectedAll" ng-click="ctrl.selectAll()">{{ 'Global.Button.SELECT_ALL' | translate }}</button>
            <button type="button" class="btn btn-sm btn-danger minotaur-btn mb-20" ng-click="ctrl.modalDeleteMultiple()">{{ 'Global.Button.DELETE' | translate }}</button>
            <button type="button" class="btn btn-sm btn-warning minotaur-btn mb-20" ng-click="ctrl.collapseAll()">{{ 'Global.Button.COLLAPSE_ALL' | translate }}</button>
            <button type="button" class="btn btn-sm btn-info minotaur-btn mb-20" ng-click="ctrl.expandAll()">{{ 'Global.Button.EXPAND_ALL' | translate }}</button>

            <!-- Nested list template -->
            <script type="text/ng-template" id="items_renderer.html">
              <div class="tree-node tree-node-image">
                <div class="pull-left tree-handle" ui-tree-handle>
                  <i class="fa fa-list"></i>
                </div>
                <div class="tree-node-content">
                  <label class="checkbox minotaur-checkbox minotaur-checkbox-sm list-checkbox" data-nodrag>
                    <input type="checkbox" ng-model="item.selected">
                    <div class="input-indicator"></div>
                  </label>
                  <a class="btn" data-nodrag ng-click="toggle(this)">
                    <i class="fa fa-angle-down" ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}"></i>
                  </a>
                  <i ng-if="!item.iae_path" class="fa fa-image"></i>
                  <img ng-if="item.iae_path" width="30" ng-src="{{ ctrl.pathImages.toString() + item.iae_path.toString() + ctrl.smallestImage.toString() + '.' + item.iae_type }}">&nbsp;|&nbsp;{{item.cey_id}}&nbsp;|&nbsp;{{item.cey_name}}
                  <a class="pull-right btn remove" uib-tooltip="{{ 'Global.Button.DELETE' | translate }}" tooltip-placement="top" data-nodrag ng-click="ctrl.modalDeleteSingle(item.cey_id)"><i class="fa fa-times"></i></a>
                  <a class="pull-right btn edit" uib-tooltip="{{ 'Menu.UPDATE' | translate }}" tooltip-placement="top" data-nodrag ui-sref="app.categories.detail({cey_id:item.cey_id})" ><i class="fa fa-edit"></i></a>
                </div>
              </div>
              <ol ui-tree-nodes="" ng-model="item.items" ng-class="{hidden: collapsed}">
                <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'"></li>
              </ol>
            </script>

            <div ui-tree>
              <ol ui-tree-nodes="" ng-model="ctrl.items">
                <li ng-repeat="item in ctrl.items" ui-tree-node ng-include="'items_renderer.html'"></li>
              </ol>
            </div>

            <div class="form-group form-footer text-right">
              <button type="submit" class="btn btn-success minotaur-btn colored" ng-disabled="isLoading()" ng-click="ctrl.update()">
                SORT
                <form-submit-spinner></form-submit-spinner>
              </button>
            </div>

          </form>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->

  </div>
  <!-- /row -->

</div>
