<div class="page page-profile pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ 'Menu.HOME' | translate }}</a></li>
    <li class="active">{{ 'Menu.PROFILE' | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-lg-12">

      <!-- tile -->
      <div class="tile tile-simple">

        <!-- tile widget -->
        <section class="tile-widget p-30 text-center">

          <img height="120" width="120" ng-src="{{ ctrl.item.amr_avatar }}" alt="">
          <h4 class="mb-0"><strong>{{ ctrl.item.amr_first_name }}</strong>&nbsp;{{ ctrl.item.amr_last_name }}</h4>
          <span class="text-muted">{{ 'UsersAdmins.Rights.' + ctrl.item.amr_rights | translate }}</span>

        </section>
        <!-- /tile widget -->

      </div>
      <!-- /tile -->


      <!-- tile -->
      <div class="tile tile-simple">

        <!-- tile body -->
        <section class="tile-body p-0">

          <uib-tabset class="minotaur-tab minotaur-tab-light padded">

            <uib-tab heading="{{ 'Global.Label.SETTINGS' | translate }}">
              <div class="wrap-reset">

                <form class="profile-settings" name="profileForm" role="form" novalidate>

                  <div class="row">
                    <div class="form-group col-md-12 legend">
                      <h4><strong>{{ 'Global.Label.PERSONAL' | translate }}</strong> {{ 'Global.Label.SETTINGS' | translate }}</h4>
                      <p>{{ 'Global.Label.YOUR_PERSONAL_ACCOUNT_SETTINGS' | translate }}</p>
                    </div>
                  </div>

                  <div class="row">

                    <div class="form-group col-sm-6" ng-class="{ 'has-error' : profileForm.amrFirstName.$invalid && !profileForm.amrFirstName.$pristine, 'has-success' : profileForm.amrFirstName.$valid && !profileForm.amrFirstName.$pristine}">
                      <label for="amrFirstName">{{ 'Profile.Title.FIRST_NAME' | translate }} <span class="text-red">*</span>: </label>
                      <input type="text" name="amrFirstName" id="amrFirstName" class="form-control" ng-model="ctrl.item.amr_first_name" ng-minlength="1" ng-maxlength="30" required>
                      <div ng-messages="profileForm.amrFirstName.$error" ng-if="profileForm.amrFirstName.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>

                    <div class="form-group col-sm-6" ng-class="{ 'has-error' : profileForm.amrLastName.$invalid && !profileForm.amrLastName.$pristine, 'has-success' : profileForm.amrLastName.$valid && !profileForm.amrLastName.$pristine}">
                      <label for="amrLastName">{{ 'Profile.Title.LAST_NAME' | translate }} <span class="text-red">*</span>: </label>
                      <input type="text" name="amrLastName" id="amrLastName" class="form-control" ng-model="ctrl.item.amr_last_name" ng-minlength="1" ng-maxlength="40" required>
                      <div ng-messages="profileForm.amrLastName.$error" ng-if="profileForm.amrLastName.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="form-group col-sm-12" ng-class="{ 'has-error' : profileForm.actEmail.$invalid && !profileForm.actEmail.$pristine, 'has-success' : profileForm.actEmail.$valid && !profileForm.actEmail.$pristine}">
                      <label for="actEmail">{{ 'Profile.Title.EMAIL' | translate }} <span class="text-red">*</span>: </label>
                      <input type="text" name="actEmail" id="actEmail" class="form-control" ng-model="ctrl.item.act_email" ng-minlength="1" ng-maxlength="100" required>
                      <div ng-messages="profileForm.actEmail.$error" ng-if="profileForm.actEmail.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>

                  </div>

                  <div class="row mix-grid">

                    <div class="form-group col-sm-12">
                      <label>{{ 'Profile.Title.AVATAR' | translate }} <span class="text-red">*</span>: </label>

                      <div class="gallery" ng-mixitup magnific-popup="{
                              delegate: 'a.img-preview',
                              type: 'image',
                              tLoading: 'Loading image #%curr%...',
                              mainClass: 'mfp-img-mobile',
                              gallery: {
                                enabled: true,
                                navigateByImgClick: true,
                                preload: [0,1]
                              }
                             }">

                        <!-- col -->
                        <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6 mb-20 mix" ng-class="{'selected': image.selected}" ng-repeat="image in ctrl.images">
                          <div class="img-container">
                            <img class="img-middle" ng-src="{{image.src}}" height="90" width="90" alt="">
                            <div class="img-details">
                              <div class="img-controls">
                                <a href="javascript:;" class="img-select" ng-click="ctrl.selectImage($index)">
                                  <i class="far fa-circle" ng-show="!image.selected"></i>
                                  <i class="fa fa-circle" ng-show="image.selected"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /col -->

                      </div>
                    </div>

                  </div>
                  <!-- /row -->

                  <div class="row">
                    <div class="form-group col-md-12 legend">
                      <h4><strong>{{ 'Global.Label.SETTINGS' | translate }}</strong>&nbsp;{{ 'Profile.Title.COLORS' | translate }}</h4>
                      <p>{{ 'Profile.Title.CUSTOMIZE_YOUR_ADMIN' | translate }}</p>
                    </div>
                  </div>

                  <div class="row minotaur-customize">
                    <div class="form-group col-sm-4 customize-body">
                      <label>{{ 'Profile.Title.SOLID' | translate }} : </label>
                      <ul>
                        <li ng-repeat="item in ctrl.colors.solid">
                          <div class="{{item.class}}" ng-click="ctrl.selectHeader(item.value)"></div>
                        </li>
                      </ul>
                    </div>

                    <div class="form-group col-sm-4 customize-body">
                      <label>{{ 'Profile.Title.GRADIENT' | translate }} : </label>
                      <ul>
                        <li ng-repeat="item in ctrl.colors.gradient">
                          <div class="{{item.class}}" ng-click="ctrl.selectHeader(item.value)"></div>
                        </li>
                      </ul>
                    </div>

                    <div class="form-group col-sm-4 customize-body">
                      <label>{{ 'Profile.Title.PRIMARY' | translate }} : </label>
                      <ul>
                        <li ng-repeat="item in ctrl.colors.primary">
                          <div class="{{item.class}}" ng-click="ctrl.selectPrimary(item.value)"></div>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-12 legend">
                      <h4><strong>{{ 'Profile.Title.SECURITY' | translate }}</strong>&nbsp;{{ 'Global.Label.SETTINGS' | translate }}</h4>
                      <p>{{ 'Profile.Title.SECURE_YOUR_ACCOUNT' | translate }}</p>
                    </div>
                  </div>

                  <div class="row">

                    <div class="form-group col-sm-6" ng-class="{ 'has-error' : profileForm.newPassword.$invalid && !profileForm.newPassword.$pristine, 'has-success' : profileForm.newPassword.$valid && !profileForm.newPassword.$pristine}">
                      <label for="newPassword">{{ 'Profile.Title.NEW_PASSWORD' | translate }} : </label>
                      <input type="password" name="newPassword" id="newPassword" class="form-control" ng-model="ctrl.item.new_password" ng-minlength="8">
                      <div ng-messages="profileForm.newPassword.$error" ng-if="profileForm.newPassword.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>

                    <div class="form-group col-sm-6" ng-class="{ 'has-error' : profileForm.newPasswordRepeat.$invalid && !profileForm.newPasswordRepeat.$pristine, 'has-success' : profileForm.newPasswordRepeat.$valid && !profileForm.newPasswordRepeat.$pristine}">
                      <label for="newPasswordRepeat">{{ 'Profile.Title.NEW_PASSWORD_REPEAT' | translate }} : </label>
                      <input type="password" name="newPasswordRepeat" id="newPasswordRepeat" class="form-control" ng-model="ctrl.item.new_password_repeat" match="ctrl.item.new_password" ng-minlength="8">
                      <div ng-messages="profileForm.newPasswordRepeat.$error" ng-if="profileForm.newPasswordRepeat.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="form-group col-sm-12" ng-class="{ 'has-error' : profileForm.rurPassword.$invalid && !profileForm.rurPassword.$pristine, 'has-success' : profileForm.rurPassword.$valid && !profileForm.rurPassword.$pristine}">
                      <label for="rurPassword">{{ 'Profile.Title.CURRENT_PASSWORD' | translate }} <span class="text-red">*</span>: </label>
                      <input type="password" name="rurPassword" id="rurPassword" class="form-control" ng-model="ctrl.item.rur_password" ng-minlength="8" required>
                      <div ng-messages="profileForm.rurPassword.$error" ng-if="profileForm.rurPassword.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>

                  </div>

                  <div class="form-group form-footer text-right">
                    <button type="submit" class="btn btn-success minotaur-btn colored" ng-disabled="profileForm.$invalid || isLoading()" ng-click="ctrl.update()">
                      SAVE
                      <form-submit-spinner></form-submit-spinner>
                    </button>
                  </div>

                </form>

              </div>
            </uib-tab>



          </uib-tabset>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->

    </div>
    <!-- /col -->











  </div>
  <!-- /row -->




</div>
