<div class="page page-single-product pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a ui-sref="app.products.list">{{ "Menu.PRODUCTS" | translate }}</a></li>
    <li class="active">{{ "Menu.MULTIPLE_UPDATE" | translate }}</li>
  </ol>


  <form name="productMultipleUpdateForm" role="form" novalidate>

    <div class="add-nav">
      <div class="nav-heading">
        <h3>{{ "Menu.PRODUCTS" | translate }} - {{ "Menu.MULTIPLE_UPDATE" | translate }} : <strong ng-repeat="item in ctrl.ids" class="text-theme">#{{ item.id }}{{ $index === ctrl.ids.length - 1 ? "" : ", " }}</strong></h3>
        <span class="controls pull-right">
          <a ui-sref="app.products.list" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5"><i class="fas fa-arrow-left"></i> {{ 'Global.Button.BACK' | translate }}</a>
          <button type="submit" class="btn btn-ef btn-ef-1 btn-ef-1-success btn-ef-1a btn-rounded-20 mr-5" ng-disabled="productMultipleUpdateForm.$invalid || (ctrl.item.option_title.trim().length === 0 && ctrl.item.menu_options.length > 0) || (ctrl.item.option_title.trim().length > 0 && (ctrl.item.menu_options === undefined || ctrl.item.menu_options.length === 0)) || isLoading() || ctrl.isEdited()" ng-click="ctrl.update()">
            UPDATE
            <form-submit-spinner></form-submit-spinner>
          </button>
        </span>
      </div>

      <uib-tabset>

        <uib-tab heading="{{ 'Product.Title.MAIN_DETAILS' | translate }}">


          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile form-horizontal" style="overflow: visible;">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Title.MAIN_DETAILS' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="alert alert-warning">
                    <i class="text-red fas fa-heart"></i> <strong>{{ 'Global.Tooltip.DYNAMIC_VALUES' | translate }}:</strong> některé atributy musí mít jedinečnou hodnotu, proto se v hodnotě musí objevit alespoň jedna složená závorka a v ní jedinečné hodnoty, které jsou oddělené středníkem. Pořadí hodnot je určeno podle pořadí id upravovaných produktů. Toto pořadí nalezneš v nádpise stránky: „Produkty - Hromadná aktualizace : #n1, #n2, ... , #nk“.
                    <br><br> <strong>Syntaxe:</strong> {hodnota pro id1;hodnota pro id2;hodnota pro id3}
                    <br><br> <strong>Příklad úpravy názvu pro produkty s id (id1 = 1, id2 = 2):</strong> Koleno 30° DN{110;120} mm
                    <br> <strong>Výsledek pro id1:</strong> Koleno 30° DN110 mm
                    <br> <strong>Výsledek pro id2:</strong> Koleno 30° DN120 mm
                  </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.phyName.$invalid && !productMultipleUpdateForm.phyName.$pristine, 'has-success' : productMultipleUpdateForm.phyName.$valid && !productMultipleUpdateForm.phyName.$pristine}">
                      <label for="phyName" class="col-sm-2 control-label minotaur-label">
                        <i tooltip-placement="top" uib-tooltip="{{ 'Global.Tooltip.HEART_FILLED_MEANING' | translate }}" class="text-red fas fa-heart"></i>
                        {{ 'Product.Title.NAME' | translate }}:</label>
                      <div class="col-sm-10">
                        <input ng-required="ctrl.checkbox.phyName" ng-disabled="!ctrl.checkbox.phyName" type="text" name="phyName" id="phyName" class="form-control" ng-model="ctrl.item.phy_name" placeholder="{{'Global.Label.FOR_EXAMPLE' | translate}}: Koleno 30° DN{110;120;130} mm" ng-minlength="1" ng-pattern="ctrl.regexPhyName">
                        <div ng-messages="productMultipleUpdateForm.phyName.$error" ng-if="productMultipleUpdateForm.phyName.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox m-0">
                          <input type="checkbox" ng-model="ctrl.checkbox.phyName" ng-change="ctrl.item.phy_name = '';">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.optionTitle.$invalid && !productMultipleUpdateForm.optionTitle.$pristine, 'has-success' : productMultipleUpdateForm.optionTitle.$valid && !productMultipleUpdateForm.optionTitle.$pristine}">
                      <label for="optionTitle" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.OPTIONS_PRODUCT' | translate }}: </label>
                      <label for="optionTitle" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.OPTION_TITLE' | translate }}: </label>
                      <div class="col-sm-8">
                        <input ng-disabled="!ctrl.checkbox.options" type="text" name="optionTitle" id="optionTitle" class="form-control" ng-model="ctrl.item.option_title" ng-minlength="1" ng-maxlength="40">
                        <div ng-messages="productMultipleUpdateForm.optionTitle.$error" ng-if="productMultipleUpdateForm.optionTitle.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.pmnName.$invalid && !productMultipleUpdateForm.pmnName.$pristine, 'has-success' : productMultipleUpdateForm.pmnName.$valid && !productMultipleUpdateForm.pmnName.$pristine}">
                      <label for="pmnName" class="col-sm-4 control-label minotaur-label">{{ 'Product.Title.OPTIONS' | translate }}: </label>
                      <div class="col-sm-8">
                        <tags-input ng-disabled="!ctrl.checkbox.options" id="pmnName" ng-model="ctrl.item.menu_options"
                                    display-property="pmn_name"
                                    replace-spaces-with-dashes="false"
                                    placeholder="{{ 'Product.Title.ADD_OPTION' | translate }}"
                                    min-length="1"
                                    max-length="40"
                                    add-on-blur="true">
                        </tags-input>
                        <div ng-messages="productMultipleUpdateForm.pmnName.$error" ng-if="productMultipleUpdateForm.pmnName.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox m-0">
                          <input type="checkbox" ng-model="ctrl.checkbox.options" ng-change="ctrl.item.menu_options = [];ctrl.item.option_title = '';">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.descriptionShort.$invalid && !productMultipleUpdateForm.descriptionShort.$pristine, 'has-success' : productMultipleUpdateForm.descriptionShort.$valid && !productMultipleUpdateForm.descriptionShort.$pristine}">
                      <label for="descriptionShort" class="col-sm-2 control-label minotaur-label">
                        <i tooltip-placement="top" uib-tooltip="{{ 'Global.Tooltip.HEART_EMPTY_MEANING' | translate }}" class="text-red far fa-heart"></i>
                        {{ 'Product.Title.DESCRIPTION_FOR_QUICKVIEW' | translate }}: </label>
                      <div class="col-sm-10">
                        <textarea ng-disabled="!ctrl.checkbox.descriptionShort" class="form-control" id="descriptionShort" ng-model="ctrl.item.description_short" rows="8"></textarea>
                        <div ng-messages="productMultipleUpdateForm.descriptionShort.$error" ng-if="productMultipleUpdateForm.descriptionShort.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox m-0">
                          <input type="checkbox" ng-model="ctrl.checkbox.descriptionShort" ng-change="ctrl.item.description_short = '';">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.descriptionLong.$invalid && !productMultipleUpdateForm.descriptionLong.$pristine, 'has-success' : productMultipleUpdateForm.descriptionLong.$valid && !productMultipleUpdateForm.descriptionLong.$pristine}">
                      <label for="descriptionLong" class="col-sm-2 control-label minotaur-label">
                        <i tooltip-placement="top" uib-tooltip="{{ 'Global.Tooltip.HEART_EMPTY_MEANING' | translate }}" class="text-red far fa-heart"></i>
                        {{ 'Product.Title.DESCRIPTION' | translate }}: </label>
                      <div class="col-sm-10">
                        <text-angular ta-disabled="!ctrl.checkbox.descriptionLong" id="descriptionLong" ng-model="ctrl.item.description_long" ta-toolbar="[['h2','h3','h4','h5','h6'],['p','quote'],['bold','italics','underline','strikeThrough','redo', 'undo', 'clear'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['ul','ol'],['html','insertImage','insertVideo','insertLink'],['wordcount','charcount']]"></text-angular>
                        <div ng-messages="productMultipleUpdateForm.descriptionLong.$error" ng-if="productMultipleUpdateForm.descriptionLong.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox m-0">
                          <input type="checkbox" ng-model="ctrl.checkbox.descriptionLong" ng-change="ctrl.item.description_long = '';">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.priceNoVat.$invalid && !productMultipleUpdateForm.priceNoVat.$pristine, 'has-success' : productMultipleUpdateForm.priceNoVat.$valid && !productMultipleUpdateForm.priceNoVat.$pristine}">
                      <label for="priceNoVat" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.PRICE_NO_VAT' | translate }}:</label>
                      <div class="col-sm-10">
                        <div disabled="!ctrl.checkbox.priceVat" touch-spin id="priceNoVat" ng-change="ctrl.changeNoVat()" ng-model="ctrl.item.price_no_vat" options="{postfix: 'Kč', min: 0, max: 99000000, decimals: 2, step: 0.01}"></div>
                        <div ng-messages="productMultipleUpdateForm.priceNoVat.$error" ng-if="productMultipleUpdateForm.priceNoVat.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.priceVat.$invalid && !productMultipleUpdateForm.priceVat.$pristine, 'has-success' : productMultipleUpdateForm.priceVat.$valid && !productMultipleUpdateForm.priceVat.$pristine}">
                      <label for="priceVat" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.PRICE_VAT' | translate }}:</label>
                      <div class="col-sm-10">
                        <div disabled="!ctrl.checkbox.priceVat" touch-spin id="priceVat" ng-change="ctrl.changeVat()" ng-model="ctrl.item.price_vat" options="{postfix: 'Kč', min: 0, max: 99000000, decimals: 2, step: 0.01}"></div>
                        <div ng-messages="productMultipleUpdateForm.priceVat.$error" ng-if="productMultipleUpdateForm.priceVat.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox m-0">
                          <input type="checkbox" ng-model="ctrl.checkbox.priceVat">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.groups.$invalid && !productMultipleUpdateForm.groups.$pristine, 'has-success' : productMultipleUpdateForm.groups.$valid && !productMultipleUpdateForm.groups.$pristine}">
                      <label class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.GROUPS' | translate }}: </label>
                      <div class="col-sm-10">
                        <label ng-repeat-start="group in ctrl.groups" class="block minotaur-label">{{ group.grp_name }}: </label>
                        <div disabled="!group.enabled" touch-spin ng-model="group.discount" options="{postfix: '%', min: 0, max: 100, decimals: 2, step: 0.01}"></div>
                        <div ng-messages="productMultipleUpdateForm.groups.$error" ng-if="productMultipleUpdateForm.groups.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox mb-15 inline-block mr-15">
                          <input type="checkbox" ng-model="group.enabled" ng-change="group.delete = false;">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                        <label ng-repeat-end class="checkbox minotaur-checkbox mb-15 inline-block">
                          <input type="checkbox" ng-model="group.delete" ng-change="group.enabled = false;">
                          <div class="input-indicator"></div>
                          {{ 'Product.Title.DISCOUNT_CATEGORY' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.availability.$invalid && !productMultipleUpdateForm.availability.$pristine, 'has-success' : productMultipleUpdateForm.availability.$valid && !productMultipleUpdateForm.availability.$pristine}">
                      <label for="availability" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.AVAILABILITY' | translate }}:</label>
                      <div class="col-sm-10">
                        <p class="text-muted m-0">{{ 'Product.Note.AVAILABILITY_FROM_1' | translate }}.</p>
                        <div disabled="!ctrl.checkbox.availability" touch-spin id="availability" ng-model="ctrl.item.availability" options="{min: 1, max: 99, decimals: 0, step: 1}"></div>
                        <div ng-messages="productMultipleUpdateForm.availability.$error" ng-if="productMultipleUpdateForm.availability.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox inline-block mr-15">
                          <input type="checkbox" ng-model="ctrl.checkbox.availability" ng-change="ctrl.checkbox.notInStock = false; ctrl.checkbox.inStock = false;">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                        <label class="checkbox minotaur-checkbox inline-block mr-15">
                          <input type="checkbox" ng-model="ctrl.checkbox.notInStock" ng-change="ctrl.checkbox.availability = false; ctrl.checkbox.inStock = false;">
                          <div class="input-indicator"></div>
                          {{ 'Product.Note.NOT_IN_STOCK' | translate }}
                        </label>
                        <label class="checkbox minotaur-checkbox inline-block">
                          <input type="checkbox" ng-model="ctrl.checkbox.inStock" ng-change="ctrl.checkbox.availability = false; ctrl.checkbox.notInStock = false;">
                          <div class="input-indicator"></div>
                          {{ 'Product.Note.IN_STOCK' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.active.$invalid && !productMultipleUpdateForm.active.$pristine, 'has-success' : productMultipleUpdateForm.active.$valid && !productMultipleUpdateForm.active.$pristine}">
                      <label for="active" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.ACTIVE' | translate }}:</label>
                      <div class="col-sm-10">
                        <div class="onoffswitch labeled blue inline-block">
                          <input ng-disabled="!ctrl.checkbox.active" type="checkbox" name="onoffswitch" ng-model="ctrl.item.active" class="onoffswitch-checkbox" id="active" checked>
                          <label class="onoffswitch-label" for="active">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                        <div ng-messages="productMultipleUpdateForm.active.$error" ng-if="productMultipleUpdateForm.active.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox m-0">
                          <input type="checkbox" ng-model="ctrl.checkbox.active">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.sellable.$invalid && !productMultipleUpdateForm.sellable.$pristine, 'has-success' : productMultipleUpdateForm.sellable.$valid && !productMultipleUpdateForm.sellable.$pristine}">
                      <label for="sellable" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.SELLABLE' | translate }}:</label>
                      <div class="col-sm-10">
                        <div class="onoffswitch labeled blue inline-block">
                          <input ng-disabled="!ctrl.checkbox.sellable" type="checkbox" name="onoffswitch" ng-model="ctrl.item.sellable" class="onoffswitch-checkbox" id="sellable" checked>
                          <label class="onoffswitch-label" for="sellable">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                        <div ng-messages="productMultipleUpdateForm.sellable.$error" ng-if="productMultipleUpdateForm.sellable.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox m-0">
                          <input type="checkbox" ng-model="ctrl.checkbox.sellable">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.syncFeedStatus.$invalid && !productMultipleUpdateForm.syncFeedStatus.$pristine, 'has-success' : productMultipleUpdateForm.syncFeedStatus.$valid && !productMultipleUpdateForm.syncFeedStatus.$pristine}">
                      <label for="syncFeedStatus" class="col-sm-2 control-label minotaur-label">{{ 'Product.Title.SYNC_FEED_STATUS' | translate }}: <span class="text-red">*</span></label>
                      <div class="col-sm-10">
                        <div class="onoffswitch labeled blue inline-block">
                          <input ng-disabled="!ctrl.checkbox.sync_feed_status" type="checkbox" name="onoffswitch" ng-model="ctrl.item.sync_feed_status" class="onoffswitch-checkbox" id="syncFeedStatus" checked>
                          <label class="onoffswitch-label" for="syncFeedStatus">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                        <div ng-messages="productMultipleUpdateForm.syncFeedStatus.$error" ng-if="productMultipleUpdateForm.syncFeedStatus.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox m-0">
                          <input type="checkbox" ng-model="ctrl.checkbox.sync_feed_status">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>


                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->




        </uib-tab>

        <uib-tab heading="Meta">


          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile form-horizontal">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">Meta</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="alert alert-warning">
                    <i class="text-red fas fa-heart"></i> <strong>{{ 'Global.Tooltip.DYNAMIC_VALUES' | translate }}:</strong> některé atributy musí mít jedinečnou hodnotu, proto se v hodnotě musí objevit alespoň jedna složená závorka a v ní jedinečné hodnoty, které jsou oddělené středníkem. Pořadí hodnot je určeno podle pořadí id upravovaných produktů. Toto pořadí nalezneš v nadpisu stránky: „Produkty - Hromadná aktualizace : #n1, #n2, ... , #nk“.
                    <br><br> <strong>Syntaxe:</strong> {hodnota pro id1;hodnota pro id2;hodnota pro id3}
                    <br><br> <strong>Příklad úpravy názvu pro produkty s id (id1 = 1, id2 = 2):</strong> Koleno 30° DN{110;120} mm
                    <br> <strong>Výsledek pro id1:</strong> Koleno 30° DN110 mm
                    <br> <strong>Výsledek pro id2:</strong> Koleno 30° DN120 mm
                  </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.metaKeywords.$invalid && !productMultipleUpdateForm.metaKeywords.$pristine, 'has-success' : productMultipleUpdateForm.metaKeywords.$valid && !productMultipleUpdateForm.metaKeywords.$pristine}">
                      <label for="metaKeywords" class="col-sm-2 control-label minotaur-label">{{ 'MenuItem.Title.META_KEYWORDS' | translate }}:</label>
                      <div class="col-sm-10">
                        <ui-select ng-disabled="!ctrl.checkbox.metaKeywords" id="metaKeywords" multiple ng-model="ctrl.metaKeywords.selected" close-on-select="false" title="{{ 'MenuItem.Title.CHOOSE_A_META_KEYWORDS' | translate }}">
                          <ui-select-match placeholder="{{ 'MenuItem.Title.SELECT_META_KEYWORDS' | translate }}...">{{ $item.mkd_name }}</ui-select-match>
                          <ui-select-choices repeat="item in ctrl.metaKeywords.options | filter:$select.search">
                            {{ item.mkd_name }}
                          </ui-select-choices>
                        </ui-select>
                        <label class="checkbox minotaur-checkbox m-0">
                          <input type="checkbox" ng-model="ctrl.checkbox.metaKeywords" ng-change="ctrl.metaKeywords.selected = [];">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.metaDescription.$invalid && !productMultipleUpdateForm.metaDescription.$pristine, 'has-success' : productMultipleUpdateForm.metaDescription.$valid && !productMultipleUpdateForm.metaDescription.$pristine}">
                      <label for="metaDescription" class="col-sm-2 control-label minotaur-label">
                        <i tooltip-placement="top" uib-tooltip="{{ 'Global.Tooltip.HEART_EMPTY_MEANING' | translate }}" class="text-red far fa-heart"></i>
                        {{ 'Product.Title.META_DESCRIPTION' | translate }}:</label>
                      <div class="col-sm-10">
                        <textarea ng-disabled="!ctrl.checkbox.descriptionMeta" class="form-control" id="metaDescription" ng-model="ctrl.item.description_meta" rows="8"></textarea>
                        <div ng-messages="productMultipleUpdateForm.metaDescription.$error" ng-if="productMultipleUpdateForm.metaDescription.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox m-0">
                          <input type="checkbox" ng-model="ctrl.checkbox.descriptionMeta" ng-change="ctrl.item.description_meta = '';">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>


                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->


        </uib-tab>

        <uib-tab heading="{{ 'Product.Parameters.TITLE' | translate }}">


          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile form-horizontal" style="overflow: visible;">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Parameters.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="alert alert-warning">
                    <i class="text-red fas fa-heart"></i> <strong>{{ 'Global.Tooltip.DYNAMIC_VALUES' | translate }}:</strong> některé atributy musí mít jedinečnou hodnotu, proto se v hodnotě musí objevit alespoň jedna složená závorka a v ní jedinečné hodnoty, které jsou oddělené středníkem. Pořadí hodnot je určeno podle pořadí id upravovaných produktů. Toto pořadí nalezneš v nádpise stránky: „Produkty - Hromadná aktualizace : #n1, #n2, ... , #nk“.
                    <br><br> <strong>Syntaxe:</strong> {hodnota pro id1;hodnota pro id2;hodnota pro id3}
                    <br><br> <strong>Příklad úpravy názvu pro produkty s id (id1 = 1, id2 = 2):</strong> Koleno 30° DN{110;120} mm
                    <br> <strong>Výsledek pro id1:</strong> Koleno 30° DN110 mm
                    <br> <strong>Výsledek pro id2:</strong> Koleno 30° DN120 mm
                  </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.barcode.$invalid && !productMultipleUpdateForm.barcode.$pristine, 'has-success' : productMultipleUpdateForm.barcode.$valid && !productMultipleUpdateForm.barcode.$pristine}">
                      <label for="barcode" class="col-sm-2 control-label minotaur-label">
                        <i tooltip-placement="top" uib-tooltip="{{ 'Global.Tooltip.HEART_EMPTY_MEANING' | translate }}" class="text-red far fa-heart"></i>
                        {{ 'Product.Parameters.BARCODE' | translate }}:</label>
                      <div class="col-sm-10">
                        <input ng-disabled="!ctrl.checkbox.barcode" type="text" name="barcode" id="barcode" class="form-control" ng-model="ctrl.item.barcode" ng-minlength="13">
                        <div ng-messages="productMultipleUpdateForm.barcode.$error" ng-if="productMultipleUpdateForm.barcode.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox">
                          <input type="checkbox" ng-model="ctrl.checkbox.barcode" ng-change="ctrl.item.barcode = '';">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.code.$invalid && !productMultipleUpdateForm.code.$pristine, 'has-success' : productMultipleUpdateForm.code.$valid && !productMultipleUpdateForm.code.$pristine}">
                      <label for="code" class="col-sm-2 control-label minotaur-label">
                        <i tooltip-placement="top" uib-tooltip="{{ 'Global.Tooltip.HEART_FILLED_MEANING' | translate }}" class="text-red fas fa-heart"></i>
                        {{ 'Product.Parameters.CODE' | translate }}:</label>
                      <div class="col-sm-10">
                        <input ng-required="ctrl.checkbox.code" ng-disabled="!ctrl.checkbox.code" type="text" name="code" id="code" class="form-control" ng-model="ctrl.item.code" ng-minlength="1" ng-pattern="ctrl.regexPhyName">
                        <div ng-messages="productMultipleUpdateForm.code.$error" ng-if="productMultipleUpdateForm.code.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox">
                          <input type="checkbox" ng-model="ctrl.checkbox.code" ng-change="ctrl.item.code = '';">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.manufacturer.$invalid && !productMultipleUpdateForm.manufacturer.$pristine, 'has-success' : productMultipleUpdateForm.manufacturer.$valid && !productMultipleUpdateForm.manufacturer.$pristine}">
                      <label for="manufacturer" class="col-sm-2 control-label minotaur-label">{{ 'Product.Parameters.SELECT_MANUFACTURER' | translate }}:</label>
                      <div class="col-sm-10">
                        <select ng-disabled="!ctrl.checkbox.manufacturer" class="form-control select-simple" name="manufacturer" id="manufacturer" ng-model="ctrl.manufacturer.model">
                          <option ng-repeat="item in ctrl.manufacturer.options" ng-value="item.id">{{ item.mur_name }}</option>
                        </select>
                        <div ng-messages="productMultipleUpdateForm.manufacturer.$error" ng-if="productMultipleUpdateForm.manufacturer.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox">
                          <input type="checkbox" ng-model="ctrl.checkbox.manufacturer">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.weight.$invalid && !productMultipleUpdateForm.weight.$pristine, 'has-success' : productMultipleUpdateForm.weight.$valid && !productMultipleUpdateForm.weight.$pristine}">
                      <label for="weight" class="col-sm-2 control-label minotaur-label">{{ 'Product.Parameters.WEIGHT' | translate }}:</label>
                      <div class="col-sm-10">
                        <div disabled="!ctrl.checkbox.weight" touch-spin id="weight" ng-model="ctrl.item.weight" options="{postfix: 'g', min: 0, max: 99000000, decimals: 2, step: 0.01}"></div>
                        <div ng-messages="productMultipleUpdateForm.weight.$error" ng-if="productMultipleUpdateForm.weight.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox inline-block mr-15">
                          <input type="checkbox" ng-model="ctrl.checkbox.weight" ng-change="ctrl.checkbox.weightNull = false;">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                        <label class="checkbox minotaur-checkbox inline-block">
                          <input type="checkbox" ng-model="ctrl.checkbox.weightNull" ng-change="ctrl.checkbox.weight = false;">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.NULL' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.warranty.$invalid && !productMultipleUpdateForm.warranty.$pristine, 'has-success' : productMultipleUpdateForm.warranty.$valid && !productMultipleUpdateForm.warranty.$pristine}">
                      <label for="warranty" class="col-sm-2 control-label minotaur-label">{{ 'Product.Parameters.WARRANTY' | translate }}:</label>
                      <div class="col-sm-10">
                        <div disabled="!ctrl.checkbox.warranty" touch-spin id="warranty" ng-model="ctrl.item.warranty" options="{postfix: 'měsíc', min: 0, max: 32767, decimals: 0, step: 1}"></div>
                        <div ng-messages="productMultipleUpdateForm.warranty.$error" ng-if="productMultipleUpdateForm.warranty.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox inline-block mr-15">
                          <input type="checkbox" ng-model="ctrl.checkbox.warranty" ng-change="ctrl.checkbox.warrantyNull = false;">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                        <label class="checkbox minotaur-checkbox inline-block">
                          <input type="checkbox" ng-model="ctrl.checkbox.warrantyNull" ng-change="ctrl.checkbox.warranty = false;">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.NULL' | translate }}
                        </label>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.parameterGroups.$invalid && !productMultipleUpdateForm.parameterGroups.$pristine, 'has-success' : productMultipleUpdateForm.parameterGroups.$valid && !productMultipleUpdateForm.parameterGroups.$pristine}">
                      <label for="parameterGroups" class="col-sm-2 control-label minotaur-label">
                        <i tooltip-placement="top" uib-tooltip="{{ 'Global.Tooltip.HEART_EMPTY_MEANING' | translate }}" class="text-red far fa-heart"></i>
                        {{ 'Product.Parameters.PARAMETER_GROUPS' | translate }} : </label>
                      <div class="col-sm-10">
                        <select ng-disabled="!ctrl.checkbox.parameters" class="select-simple" name="parameterGroups" id="parameterGroups" ng-model="ctrl.parameterGroups.model">
                          <option ng-value="0" selected>&#45;&#45; {{ 'Global.Placeholder.SELECT_AN_OPTION' | translate }} &#45;&#45;</option>
                          <option class="group-result" ng-repeat-start="option in ctrl.parameterGroups.options" ng-value="option">{{ option.pgp_name }}</option>
                          <option disabled ng-repeat="param in option.parameters" ng-repeat-end>{{ param.prr_name }}</option>
                        </select>
                        <div ng-messages="productMultipleUpdateForm.parameterGroups.$error" ng-if="productMultipleUpdateForm.parameterGroups.$dirty" role="alert" class="help-block text-red">
                          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                        </div>
                        <label class="checkbox minotaur-checkbox">
                          <input type="checkbox" ng-model="ctrl.checkbox.parameters" ng-change="ctrl.parameterGroups.model = 0;">
                          <div class="input-indicator"></div>
                          {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        </label>
                      </div>
                    </div>

                    <div ng-repeat="item in ctrl.parameterGroups.model.parameters" class="form-group" >
                      <label for="param{{item.prr_id}}" class="col-sm-2 control-label minotaur-label">{{ item.prr_name }}:</label>
                      <div class="col-sm-10">
                        <input id="param{{item.prr_id}}" class="form-control" ng-model="item.value">
                        <span ng-if="item.prr_unit !== null" class="help-block">{{ "Product.Note.UNIT" | translate }}: {{ item.prr_unit }}</span>
                      </div>
                    </div>


                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->




        </uib-tab>

        <uib-tab heading="{{ 'Product.Stickers.TITLE' | translate }}">


          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile form-horizontal" style="overflow: visible;">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Stickers.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="form-group" ng-class="{ 'has-error' : productMultipleUpdateForm.sale.$invalid && !productMultipleUpdateForm.sale.$pristine, 'has-success' : productMultipleUpdateForm.sale.$valid && !productMultipleUpdateForm.sale.$pristine}">
                    <label for="sale" class="col-sm-2 control-label minotaur-label">{{ 'Product.Stickers.SALE' | translate }}:</label>
                    <div class="col-sm-10">
                      <div class="onoffswitch labeled blue inline-block">
                        <input ng-disabled="!ctrl.checkbox.sale" type="checkbox" name="onoffswitch" ng-model="ctrl.item.sale" class="onoffswitch-checkbox" id="sale">
                        <label class="onoffswitch-label" for="sale">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                      <div ng-messages="productMultipleUpdateForm.sale.$error" ng-if="productMultipleUpdateForm.sale.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                      <label class="checkbox minotaur-checkbox">
                        <input type="checkbox" ng-model="ctrl.checkbox.sale">
                        <div class="input-indicator"></div>
                        {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                      </label>
                    </div>
                  </div>

                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->




        </uib-tab>

        <uib-tab heading="{{ 'Product.Shipping.TITLE' | translate }}">



          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="form-horizontal tile">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Shipping.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="table-responsive">
                    <table class="table table-hover table-striped m-0">
                      <thead>
                        <tr>
                          <th>{{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}</th>
                          <th>{{ 'Product.Shipping.SELECT' | translate }}</th>
                          <th>{{ 'Product.Shipping.DONT_SHOW' | translate }}</th>
                          <th>ID</th>
                          <th>{{ 'Product.Shipping.NAME' | translate }}</th>
                          <th>{{ 'Product.Shipping.PRICE' | translate }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in ctrl.shipping">
                          <td>
                            <label class="checkbox minotaur-checkbox minotaur-checkbox-sm m-0">
                              <input type="checkbox" ng-model="item.enabled" ng-change="item.selected = false; item.dontShow = false;">
                              <div class="input-indicator"></div>
                            </label>
                          </td>
                          <td>
                            <label class="checkbox minotaur-checkbox minotaur-checkbox-sm m-0">
                              <input type="checkbox" ng-model="item.selected" ng-change="ctrl.shippingChange(item)" ng-disabled="item.dontShow || !item.enabled">
                              <div class="input-indicator"></div>
                            </label>
                          </td>
                          <td>
                            <label class="checkbox minotaur-checkbox minotaur-checkbox-sm m-0">
                              <input type="checkbox" ng-model="item.dontShow" ng-change="ctrl.shippingChange(item)" ng-disabled="!item.enabled">
                              <div class="input-indicator"></div>
                            </label>
                          </td>
                          <td>{{ item.spg_id }}</td>
                          <td>{{ item.shy_name }}</td>
                          <td>
                            <div disabled="!item.selected || !item.enabled" touch-spin ng-model="item.price" options="{postfix: 'Kč', min: 0, max: 99000000, decimals: 2, step: 0.01}"></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->



        </uib-tab>

        <uib-tab heading="{{ 'Product.Payment.TITLE' | translate }}">



          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Payment.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <div class="table-responsive">
                    <table class="table table-hover table-striped m-0">
                      <thead>
                      <tr>
                        <th>{{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}</th>
                        <th>ID</th>
                        <th>{{ 'Product.Payment.NAME' | translate }}</th>
                        <th>{{ 'Product.Payment.ENABLE' | translate }}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in ctrl.payment">
                        <td>
                          <label class="checkbox minotaur-checkbox minotaur-checkbox-sm m-0">
                            <input type="checkbox" ng-model="item.enabled" ng-change="item.enable = true;">
                            <div class="input-indicator"></div>
                          </label>
                        </td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.poy_name }}</td>
                        <td>
                          <div class="onoffswitch labeled blue inline-block">
                            <input type="checkbox" name="onoffswitch" ng-disabled="!item.enabled" ng-model="item.enable" class="onoffswitch-checkbox" id="payment{{item.id}}" checked>
                            <label class="onoffswitch-label" for="payment{{item.id}}">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->



        </uib-tab>

        <uib-tab heading="{{ 'Product.Images.TITLE' | translate }}">



          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Images.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <ul class="mix-filter" ng-class="{'disabled': !ctrl.checkbox.image}">
                    <li ng-repeat="item in ctrl.imageCategories" ng-class="{'mixitup-control-active': ctrl.selectedIcyId === item.icy_id}" class="filter" ng-click="ctrl.selectImageCategory(item.icy_id)">
                      {{ item.icy_name }}
                    </li>
                  </ul>

                  <div class="row mb-20">
                    <div class="col-md-4">
                      <label class="checkbox minotaur-checkbox inline-block mr-15"> {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                        <input type="checkbox" ng-model="ctrl.checkbox.image" ng-change="ctrl.selectedAllImages = false;">
                        <div class="input-indicator"></div>
                      </label>
                      <label class="checkbox minotaur-checkbox inline-block m-0">{{ 'Product.Images.SELECT_ALL' | translate }}
                        <input ng-disabled="!ctrl.checkbox.image" type="checkbox" ng-model="ctrl.selectedAllImages" ng-click="ctrl.selectAllImages()">
                        <div class="input-indicator"></div>
                      </label>
                    </div>

                    <div class="col-md-4">
                      <input type="text" class="form-control" ng-model="ctrl.searchImage" placeholder="{{ 'Global.Placeholder.SEARCH' | translate }}...">
                    </div>
                  </div>

                  <!-- row -->
                  <div class="row mix-grid" ng-class="{'disabled': !ctrl.checkbox.image}">

                    <div class="gallery" ng-mixitup magnific-popup="{
                          delegate: 'a.img-preview',
                          type: 'image',
                          tLoading: 'Loading image #%curr%...',
                          mainClass: 'mfp-img-mobile',
                          gallery: {
                            enabled: true,
                            navigateByImgClick: true,
                            preload: [0,1]
                          }
                         }"
                    >

                      <!-- col -->
                      <div ng-repeat="image in ctrl.images | filter:ctrl.searchImage" class="col-md-2 col-sm-4 mb-20 mix" ng-class="{'selected': image.selected}">
                        <div class="img-container h-300">
                          <img class="img-responsive mh-300"
                               ng-src="{{ ctrl.pathImages.toString() + image.iae_path.toString() + ctrl.mediumImage.toString() + '.' + image.iae_type}}"
                               alt="">
                          <div class="img-details">
                            <h4>{{image.iae_name}}</h4>
                            <div class="img-controls">
                              <a href="javascript:;" class="img-select" ng-click="ctrl.selectImage($index)">
                                <i class="fas fa-times" ng-show="!image.selected"></i>
                                <i class="fas fa-check" ng-show="image.selected"></i>
                              </a>
                              <a class="img-preview" href="{{ ctrl.pathImages.toString() + image.iae_path.toString() + ctrl.originalImage.toString() + '.' + image.iae_type}}" title="{{image.iae_name}}">
                                <i class="fa fa-search"></i>
                              </a>
                              <a href="javascript:;" ng-class="{'img-select': image.selectedMain && image.selected}" ng-click="ctrl.selectImageMain($index)">
                                <i class="far fa-circle" ng-show="!image.selectedMain"></i>
                                <i class="fas fa-circle" ng-show="image.selectedMain"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /col -->

                    </div>

                  </div>
                  <!-- /row -->

                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->



        </uib-tab>

        <uib-tab heading="{{ 'Product.Files.TITLE' | translate }}">



        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-md-12">


            <!-- tile -->
            <section class="tile">

              <!-- tile header -->
              <div class="tile-header">
                <h3 class="tile-heading">{{ 'Product.Files.TITLE' | translate }}</h3>
              </div>
              <!-- /tile header -->


              <!-- tile body -->
              <div class="tile-body">
                <label class="checkbox minotaur-checkbox inline-block mr-15"> {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                  <input type="checkbox" ng-model="ctrl.checkbox.files" ng-change="ctrl.selectedAllFiles = false;">
                  <div class="input-indicator"></div>
                </label>

                <div class="table-responsive-wide">
                  <table datatable="ng" dt-options="ctrl.dtOptions" dt-column-defs="ctrl.dtColumnDefs" class="table table-striped table-hover minotaur-table" style="min-width: 1000px;">
                    <thead>
                    <tr>
                      <th style="width:40px;">
                        <label class="checkbox minotaur-checkbox minotaur-checkbox-sm checkbox-white m-0">
                          <input ng-disabled="!ctrl.checkbox.files" type="checkbox" ng-model="ctrl.selectedAllFiles" ng-click="ctrl.selectAllFiles()">
                          <div class="input-indicator"></div>
                        </label>
                      </th>
                      <th>{{ "Product.Files.NAME" | translate }}</th>
                      <th style="width:60px;">{{ "Product.Files.TYPE" | translate }}</th>
                      <th>{{ "Product.Files.SIZE" | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ctrl.files">
                      <td>
                        <label class="checkbox minotaur-checkbox minotaur-checkbox-sm m-0">
                          <input ng-disabled="!ctrl.checkbox.files" type="checkbox" ng-model="item.selected">
                          <div class="input-indicator"></div>
                        </label>
                      </td>
                      <td>{{ item.fie_name }}</td>
                      <td>{{ item.fie_type }}</td>
                      <td>{{ item.fie_size }} kB</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
              <!-- /tile body -->

            </section>
            <!-- /tile -->


          </div>
          <!-- /col -->
        </div>
        <!-- /row -->



      </uib-tab>

        <uib-tab heading="{{ 'Product.Categories.TITLE' | translate }}">



          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">


              <!-- tile -->
              <section class="tile">

                <!-- tile header -->
                <div class="tile-header">
                  <h3 class="tile-heading">{{ 'Product.Categories.TITLE' | translate }}</h3>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body">

                  <!-- Nested list template -->
                  <script type="text/ng-template" id="items_renderer.html">
                    <div class="tree-node">
                      <div class="tree-node-content">
                        <label class="checkbox minotaur-checkbox minotaur-checkbox-sm list-checkbox" data-nodrag>
                          <input ng-disabled="!ctrl.checkbox.categories" type="checkbox" ng-change="ctrl.selectCategory(item)" ng-model="item.selected">
                          <div class="input-indicator"></div>
                        </label>
                        <label class="checkbox minotaur-radio minotaur-radio-sm list-checkbox" uib-tooltip="{{ 'Product.Categories.MAIN' | translate }}" data-nodrag>
                          <input ng-disabled="!ctrl.checkbox.categories" type="radio" ng-model="item.pce_main" ng-click="ctrl.selectCategoryMain(item.cey_id)" name="pceMain">
                          <div class="input-indicator"></div>
                        </label>
                        <a class="btn" data-nodrag ng-click="toggle(this)">
                          <i class="fa fa-angle-down" ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}"></i>
                        </a>
                        {{item.cey_name}}
                      </div>
                    </div>
                    <ol ui-tree-nodes="" ng-model="item.items" ng-class="{hidden: collapsed}">
                      <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'"></li>
                    </ol>
                  </script>

                  <div ui-tree>
                    <label class="checkbox minotaur-checkbox"> {{ 'Products.Title.I_WANT_TO_UPDATE' | translate }}
                      <input type="checkbox" ng-model="ctrl.checkbox.categories">
                      <div class="input-indicator"></div>
                    </label>
                    <ol ui-tree-nodes="" ng-model="ctrl.categories">
                      <li ng-repeat="item in ctrl.categories.items" ui-tree-node ng-include="'items_renderer.html'"></li>
                    </ol>
                  </div>

                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->


            </div>
            <!-- /col -->
          </div>
          <!-- /row -->



        </uib-tab>

      </uib-tabset>
    </div>

  </form>


</div>
