<div class="page page-orders pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li class="active">{{ "Menu.SHIPPING" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-lg-12">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Pages.Title.SHIPPING_LIST" | translate }}</h1>
          <div class="controls">
            <a ui-sref="app.shipping.add" class="btn btn-transparent" uib-tooltip="{{ 'Menu.ADD' | translate }}" tooltip-placement="bottom"><i class="fa fa-plus mr-5"></i></a>
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">
          <div class="table-responsive-wide">
            <div class="dataTables_wrapper form-inline">
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <div class="inline-controls">
                    <div class="btn-group dropdown" uib-dropdown>
                      <button id="btn-append-to-body" type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                        {{"Global.Title.ACTIONS"|translate}} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
                        <li role="menuitem"><a href="javascript:;" ng-click="ctrl.modalDeleteMultipleSpg()">{{'Global.Button.DELETE'|translate}}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="pull-right">
                    <div class="dataTables_filter">
                      <label>{{'Global.Table.SEARCH'|translate}}<input ng-model="ctrl.search.string" type="search" ng-keyup="ctrl.searchData(-1)" class="form-control input-sm"></label>
                    </div>
                  </div>
                </div>
              </div>
              <table class="dataTable table table-striped table-hover minotaur-table" style="min-width: 1000px;">
                <thead>
                  <tr>
                    <th class="b-0"></th>
                    <th class="b-0">
                      <div class="form-group">
                        <label>
                          <select ng-options="x for x in ctrl.shyIds" ng-model="ctrl.selectedShyId" class="form-control input-sm"></select>
                        </label>
                      </div>
                    </th>
                    <th class="b-0"></th>
                    <th class="b-0">
                      <div class="form-group">
                        <label>
                          <input type="number" class="form-control input-sm" name="weightMin" ng-model="ctrl.weightMin" min="0" ng-value="0">
                          (g)
                        </label>
                      </div>
                    </th>
                    <th class="b-0">
                      <div class="form-group">
                        <label>
                          <input id="weight-max" type="number" class="form-control input-sm" name="weightMax" ng-model="ctrl.weightMax" min="1" ng-value="1">
                          (g)
                        </label>
                      </div>
                    </th>
                    <th class="b-0">
                      <div class="form-group">
                        <label>
                          <input id="price" type="number" class="form-control input-sm" name="price" ng-model="ctrl.price" min="0" ng-value="0">
                          (Kč)
                        </label>
                      </div>
                    </th>
                    <th class="b-0" colspan="2"></th>
                    <th class="b-0">
                      <div class="form-group">
                        <button type="submit" ng-click="ctrl.add()" class="btn btn-sm btn-default">{{ 'Global.Button.ADD' | translate }}</button>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <th class="bt-0 sorting_disabled" style="width:40px;">
                      <label class="checkbox minotaur-checkbox minotaur-checkbox-sm checkbox-white m-0">
                        <input type="checkbox" ng-model="ctrl.selectedAll" ng-click="ctrl.selectAll()">
                        <div class="input-indicator"></div>
                      </label>
                    </th>
                    <th class="bt-0 {{ctrl.sort.options[ctrl.sort.columns[0].sort]}}" style="width:40px;" ng-click="ctrl.updateSort(0, true);">ID</th>
                    <th class="bt-0 sorting_disabled" style="width:200px;">{{ "Shipping.Title.NAME" | translate }}</th>
                    <th class="bt-0 sorting_disabled" style="width:50px;">{{ "Shipping.Title.MIN_WEIGHT" | translate }}</th>
                    <th class="bt-0 sorting_disabled" style="width:50px;">{{ "Shipping.Title.MAX_WEIGHT" | translate }}</th>
                    <th class="bt-0 sorting_disabled" style="width:80px;">{{ "Shipping.Title.PRICE" | translate }}</th>
                    <th class="bt-0 sorting_disabled" style="width:70px;">{{ "Shipping.Title.SHOW_ALL" | translate }}</th>
                    <th class="bt-0 sorting_disabled" style="width:70px;">{{ "Shipping.Title.SUM_PRICES" | translate }}</th>
                    <th class="bt-0 sorting_disabled" style="width:150px;">{{ "Global.Title.ACTIONS" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="spg in ctrl.shippingSelected" data-index="{{$index}}" ng-init="spg.$hideRows = true">
                  <td>
                    <label class="checkbox minotaur-checkbox minotaur-checkbox-sm m-0">
                      <input type="checkbox" ng-model="spg.selected">
                      <div class="input-indicator"></div>
                    </label>
                  </td>
                  <td>{{ spg.shy_id }}</td>
                  <td>
                    <a href="" ng-click="spg.$hideRows = !spg.$hideRows">
                      <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': spg.$hideRows, 'glyphicon-chevron-down': !spg.$hideRows }"></span>
                      <strong>{{ spg.shy_name }}</strong>
                    </a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <span class="label"
                          ng-class="{
                            'bg-primary' : spg.show_on_default === true,
                            'bg-lightred' : spg.show_on_default === false}">{{ "Global.Boolean." + spg.show_on_default | translate }}</span>
                  </td>
                  <td>
                    <span class="label"
                          ng-class="{
                            'bg-primary' : spg.sum_weight_price === true,
                            'bg-lightred' : spg.sum_weight_price === false}">{{ "Global.Boolean." + spg.sum_weight_price | translate }}</span>
                  </td>
                  <td>
                    <a ui-sref="app.shipping.detail({id:spg.spg_id})" class="btn btn-xs btn-default"><i class="fa fa-search"></i> {{ 'Global.Button.VIEW' | translate }}</a>
                    <a href="javascript:;" class="btn btn-xs btn-lightred" ng-click="ctrl.modalDeleteSingleSpg(spg.spg_id, null)"><i class="fa fa-times"></i> {{ 'Global.Button.DELETE' | translate }}</a>
                  </td>
                </tr>
                <tr ng-hide="spg.$hideRows" ng-repeat="item in spg.items" ng-repeat-end>
                  <td>
                    <label class="checkbox minotaur-checkbox minotaur-checkbox-sm m-0">
                      <input type="checkbox" ng-model="item.selected">
                      <div class="input-indicator"></div>
                    </label>
                  </td>
                  <td class="text-transparent">{{ spg.shy_id }}</td>
                  <td class="text-transparent">{{ spg.shy_name }}</td>
                  <td data-attr="weight-min">
                    <span>{{ item.weight_min * 0.001 }} kg</span>
                    <div class="form-group"></div>
                  </td>
                  <td data-attr="weight-max">
                    <span>{{ item.weight_max >= 1000000 ? item.weight_max * 0.000001 + ' t' : item.weight_max * 0.001 + ' kg' }}</span>
                    <div class="form-group"></div>
                  </td>
                  <td data-attr="price">
                    <span>{{ item.price|currency }}</span>
                    <div class="form-group"></div>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="javascript:;" class="btn btn-xs btn-primary" data-sht-id="{{item.sht_id}}" data-weight-min="{{item.weight_min}}" data-weight-max="{{item.weight_max}}" data-price="{{item.price}}" update-button><i class="fa fa-edit"></i> {{ 'Global.Button.UPDATE' | translate }}</a>
                    <a href="javascript:;" class="btn btn-xs btn-lightred" ng-click="ctrl.modalDeleteSingleSpg(null, item.sht_id)"><i class="fa fa-times"></i> {{ 'Global.Button.DELETE' | translate }}</a>
                    <a href="javascript:;" class="btn btn-xs btn-success d-none" ng-click="ctrl.put(spg.shy_id, item.sht_id)"><i class="fa fa-save"></i> {{ 'Global.Button.SAVE' | translate }}</a>
                    <a href="javascript:;" class="btn btn-xs btn-default d-none" cancel-button><i class="fa fa-times"></i> {{ 'Global.Button.CANCEL' | translate }}</a>
                  </td>
                </tr>
                <tr ng-if="ctrl.shippingSelected.length===0">
                  <td valign="top" colspan="9" class="dataTables_empty">{{'Global.Table.NO_DATA'|translate}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" disabled>
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.shy_id" ng-keyup="ctrl.searchData(0)" type="text" class="text_filter form-control search_init" rel="0">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.shy_name" ng-keyup="ctrl.searchData(1)" type="text" class="text_filter form-control search_init" rel="1">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" disabled>
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" disabled>
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" disabled>
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.show_on_default" ng-keyup="ctrl.searchData(5)" type="text" class="text_filter form-control search_init" rel="5">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.sum_weight_price" ng-keyup="ctrl.searchData(6)" type="text" class="text_filter form-control search_init" rel="6">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" disabled>
                    </span>
                  </th>
                </tr>
                </tfoot>
              </table>
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <div class="inline-controls">
                    <div class="dataTables_length">
                      <label>{{"Global.Table.VIEW"|translate}}&nbsp;
                        <select ng-change="ctrl.updateData()" class="form-control input-sm" ng-options="option.name for option in ctrl.limit.options track by option.id"
                                ng-model="ctrl.limit.selected"></select>
                        &nbsp;{{"Global.Table.RECORDS"|translate}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="inline-controls text-center">
                    <div class="dataTables_info">{{ ctrl.page.msgFound }}</div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="dataTables_paginate paging_input" ng-if="ctrl.limit.selected.name<ctrl.shipping.length">
                    <span class="paginate_page">{{ 'Global.Table.PAGE' | translate }}&nbsp;</span>
                    <span ng-click="ctrl.page.current=1;ctrl.updateData();" class="first btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === 1}">
                    <i class="fa fa-angle-double-left"></i>
                  </span>
                    <span ng-click="ctrl.page.current=ctrl.page.current===1?1:ctrl.page.current-1;ctrl.updateData();" class="previous btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === 1}">
                    <i class="fa fa-angle-left"></i>
                  </span>
                    <input ng-change="ctrl.updateData();" class="paginate_input form-control input-sm input-inline" ng-model="ctrl.page.current" type="text">
                    <span ng-click="ctrl.page.current=ctrl.page.current===ctrl.page.total?ctrl.page.total:ctrl.page.current+1;ctrl.updateData();" class="next btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === ctrl.page.total}">
                    <i class="fa fa-angle-right"></i>
                  </span>
                    <span ng-click="ctrl.page.current=ctrl.page.total;ctrl.updateData();" class="last btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === ctrl.page.total}">
                    <i class="fa fa-angle-double-right"></i>
                  </span>
                    <span class="paginate_of">&nbsp;{{ 'Global.Table.OF' | translate }}&nbsp;{{ctrl.page.total}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->

</div>
