<div class="page page-orders pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.images.list">{{ "Menu.HOME" | translate }}</a></li>
    <li class="active">{{ "Menu.IMAGES" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-lg-12">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Menu.IMAGES" | translate }}</h1>
          <div class="controls">
            <a ui-sref="app.images.add" class="btn btn-transparent" uib-tooltip="{{ 'Menu.ADD' | translate }}" tooltip-placement="bottom"><i class="fa fa-plus mr-5"></i></a>
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">
          <div class="table-responsive-wide">
            <div class="dataTables_wrapper form-inline">
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <div class="inline-controls">

                    <div class="btn-group dropdown" uib-dropdown>
                      <button id="btn-append-to-body" type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                        {{"Global.Title.ACTIONS"|translate}} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
                        <li ng-repeat="item in ctrl.categories" role="menuitem">
                          <a href="javascript:;" ng-click="ctrl.modalChangeImageCategory(item.icy_id)">{{item.icy_name}}</a>
                        </li>
                        <li class="divider"></li>
                        <li role="menuitem">
                          <a href="javascript:;" ng-click="ctrl.modalDeleteMultiple()">{{'Global.Button.DELETE'|translate}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="pull-right">
                    <div class="dataTables_filter">
                      <label>{{'Global.Table.SEARCH'|translate}}<input ng-model="ctrl.search.string" type="search" ng-keyup="ctrl.searchData(-1)" class="form-control input-sm"></label>
                    </div>
                  </div>
                </div>
              </div>
              <table class="dataTable table table-striped table-hover minotaur-table" style="min-width: 1000px;">
                <thead>
              <tr>
                <th style="width:40px;" class="sorting_disabled">
                  <label class="checkbox minotaur-checkbox minotaur-checkbox-sm checkbox-white m-0">
                    <input type="checkbox" ng-model="ctrl.selectedAll" ng-click="ctrl.selectAll()">
                    <div class="input-indicator"></div>
                  </label>
                </th>
                <th style="width:40px;" ng-click="ctrl.updateSort(0, true);" class="{{ctrl.sort.options[ctrl.sort.columns[0].sort]}}">ID</th>
                <th class="sorting_disabled">{{ "Images.Title.IMAGE" | translate }}</th>
                <th ng-click="ctrl.updateSort(1, true);" class="{{ctrl.sort.options[ctrl.sort.columns[1].sort]}}">{{ "Images.Title.NAME" | translate }}</th>
                <th ng-click="ctrl.updateSort(2, true);" class="{{ctrl.sort.options[ctrl.sort.columns[2].sort]}}">{{ "Images.Title.TYPE" | translate }}</th>
                <th ng-click="ctrl.updateSort(3, true);" class="{{ctrl.sort.options[ctrl.sort.columns[3].sort]}}">{{ "Images.Title.SIZE" | translate }}</th>
                <th ng-click="ctrl.updateSort(4, true);" class="{{ctrl.sort.options[ctrl.sort.columns[4].sort]}}">{{ "Images.Title.CATEGORY" | translate }}</th>
                <th style="width:150px;" class="sorting_disabled">{{ "Global.Title.ACTIONS" | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in ctrl.itemsSelected" data-index="{{$index}}">
                <td>
                  <label class="checkbox minotaur-checkbox minotaur-checkbox-sm m-0">
                    <input type="checkbox" ng-model="item.selected">
                    <div class="input-indicator"></div>
                  </label>
                </td>
                <td>{{ item.iae_id }}</td>
                <td>
                  <img width="50" ng-src="{{ ctrl.pathImages.toString() + item.iae_path.toString() + ctrl.smallestImage.toString() + '.' + item.iae_type }}">
                </td>
                <td>{{ item.iae_name }}</td>
                <td>{{ item.iae_type }}</td>
                <td>{{ item.iae_size }} kB</td>
                <td>{{ item.icy_name }}</td>
                <td>
                  <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" uib-dropdown-toggle>
                      <i class="fa fa-download"></i>
                      {{ 'Images.Title.DOWNLOAD' | translate }}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                      <li role="menuitem" ng-repeat="markings in ctrl.categories | filter : { icy_name: item.icy_name }">
                        <a ng-href="{{ ctrl.pathImages.toString() + item.iae_path.toString() + '_' + marking.mig_marking + '.' + item.iae_type }}" ng-repeat="marking in markings.mig" download="{{ item.iae_name }}">
                          {{ (marking.mig_max_width == null && marking.mig_max_height == null) ? 'Originál' : '' }}
                          {{ (marking.mig_max_width != null && marking.mig_max_height == null) ? 'Maximální šířka: ' + marking.mig_max_width + 'px' : '' }}
                          {{ (marking.mig_max_width == null && marking.mig_max_height != null) ? 'Maximální výška: ' + marking.mig_max_height + 'px' : '' }}
                          {{ (marking.mig_max_width != null && marking.mig_max_height != null) ? marking.mig_max_width + ' x ' + marking.mig_max_height : '' }}
                        </a>
                      </li>
                    </ul>
                  </div>
                  <a href="javascript:;" class="btn btn-xs btn-lightred" ng-click="ctrl.modalDeleteSingle(item.iae_id)"><i class="fa fa-times"></i> {{ 'Global.Button.DELETE' | translate }}</a>
                </td>
              </tr>
              <tr ng-if="ctrl.itemsSelected.length===0">
                <td valign="top" colspan="8" class="dataTables_empty">{{'Global.Table.NO_DATA'|translate}}</td>
              </tr>
              </tbody>
                <tfoot>
                <tr>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" disabled>
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.iae_id" ng-keyup="ctrl.searchData(0)" type="text" class="text_filter form-control search_init" rel="2">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" disabled>
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.iae_name" ng-keyup="ctrl.searchData(1)" type="text" class="text_filter form-control search_init" rel="4">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.iae_type" ng-keyup="ctrl.searchData(2)" type="text" class="text_filter form-control search_init" rel="5">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.iae_size" ng-keyup="ctrl.searchData(3)" type="text" class="text_filter form-control search_init" rel="6">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.icy_name" ng-keyup="ctrl.searchData(4)" type="text" class="text_filter form-control search_init" rel="6">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" disabled>
                    </span>
                  </th>
                </tr>
                </tfoot>
            </table>
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <div class="inline-controls">
                  <div class="dataTables_length">
                    <label>{{"Global.Table.VIEW"|translate}}&nbsp;
                      <select ng-change="ctrl.updateData()" class="form-control input-sm" ng-options="option.name for option in ctrl.limit.options track by option.id"
                              ng-model="ctrl.limit.selected"></select>
                      &nbsp;{{"Global.Table.RECORDS"|translate}}
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="inline-controls text-center">
                  <div class="dataTables_info">{{ ctrl.page.msgFound }}</div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="dataTables_paginate paging_input" ng-if="ctrl.limit.selected.name<ctrl.items.length">
                  <span class="paginate_page">{{ 'Global.Table.PAGE' | translate }}&nbsp;</span>
                  <span ng-click="ctrl.page.current=1;ctrl.updateData();" class="first btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === 1}">
                    <i class="fa fa-angle-double-left"></i>
                  </span>
                  <span ng-click="ctrl.page.current=ctrl.page.current===1?1:ctrl.page.current-1;ctrl.updateData();" class="previous btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === 1}">
                    <i class="fa fa-angle-left"></i>
                  </span>
                  <input ng-change="ctrl.updateData();" class="paginate_input form-control input-sm input-inline" ng-model="ctrl.page.current" type="text">
                  <span ng-click="ctrl.page.current=ctrl.page.current===ctrl.page.total?ctrl.page.total:ctrl.page.current+1;ctrl.updateData();" class="next btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === ctrl.page.total}">
                    <i class="fa fa-angle-right"></i>
                  </span>
                  <span ng-click="ctrl.page.current=ctrl.page.total;ctrl.updateData();" class="last btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === ctrl.page.total}">
                    <i class="fa fa-angle-double-right"></i>
                  </span>
                  <span class="paginate_of">&nbsp;{{ 'Global.Table.OF' | translate }}&nbsp;{{ctrl.page.total}}</span>
                </div>
              </div>
            </div>
            </div>
          </div>
        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->

</div>
