<div class="page page-ui pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a>{{ "Menu.MENU" | translate }}</a></li>
    <li><a ui-sref="app.menu.main.list">{{ "Menu.MAIN" | translate }}</a></li>
    <li class="active">{{ "Menu.UPDATE" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">

    <div class="col-md-12">

      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Menu.MAIN" | translate }} {{ "Menu.MENU" | translate }} - {{ "Menu.UPDATE" | translate }}</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <form name="menuMainDetailForm" role="form" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : menuMainDetailForm.mimName.$invalid && !menuMainDetailForm.mimName.$pristine, 'has-success' : menuMainDetailForm.mimName.$valid && !menuMainDetailForm.mimName.$pristine}">
              <label for="mimName" class="control-label minotaur-label">{{ 'MenuItem.Title.NAME' | translate }} <span class="text-red">*</span>: </label>
              <input type="text" name="mimName" id="mimName" class="form-control" ng-model="ctrl.item.mim_name" ng-minlength="1" ng-maxlength="60" required>
              <div ng-messages="menuMainDetailForm.mimName.$error" ng-if="menuMainDetailForm.mimName.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : menuMainDetailForm.articles.$invalid && !menuMainDetailForm.articles.$pristine, 'has-success' : menuMainDetailForm.articles.$valid && !menuMainDetailForm.articles.$pristine}">
              <label for="articles" class="control-label minotaur-label">{{ 'MenuItem.Title.SELECT_ARTICLE' | translate }} : </label>
              <select class="form-control select-simple" name="articles" id="articles" ng-model="ctrl.articles.model">
                <option ng-value="0" selected>&#45;&#45; {{ 'Global.Placeholder.SELECT_AN_OPTION' | translate }} &#45;&#45;</option>
                <option ng-repeat="option in ctrl.articles.options" ng-value="option.ate_id">{{ option.ate_name }}</option>
              </select>
              <div ng-messages="menuMainDetailForm.articles.$error" ng-if="menuMainDetailForm.articles.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : menuMainDetailForm.company.$invalid && !menuMainDetailForm.company.$pristine, 'has-success' : menuMainDetailForm.company.$valid && !menuMainDetailForm.company.$pristine}">
              <label for="company" class="control-label minotaur-label">{{ 'MenuItem.Title.SELECT_COMPANY' | translate }} <span class="text-red">*</span>: </label>
              <select class="form-control select-simple" name="company" id="company" ng-model="ctrl.company.model">
                <option ng-repeat="option in ctrl.company.options" ng-value="option.cct_id">{{ option.cct_email }}&nbsp;|&nbsp;{{ option.cct_cellnumber }}</option>
              </select>
              <div ng-messages="menuMainDetailForm.company.$error" ng-if="menuMainDetailForm.company.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : menuMainDetailForm.metaKeywords.$invalid && !menuMainDetailForm.metaKeywords.$pristine, 'has-success' : menuMainDetailForm.metaKeywords.$valid && !menuMainDetailForm.metaKeywords.$pristine}">

              <label for="metaKeywords" class="control-label minotaur-label">{{ 'MenuItem.Title.META_KEYWORDS' | translate }} <span class="text-red">*</span>: </label>

              <ui-select id="metaKeywords" multiple ng-model="ctrl.item.metaKeywords.selected" close-on-select="false" title="{{ 'MenuItem.Title.CHOOSE_A_META_KEYWORDS' | translate }}">
                <ui-select-match placeholder="{{ 'MenuItem.Title.SELECT_META_KEYWORDS' | translate }}...">{{ $item.mkd_name }}</ui-select-match>
                <ui-select-choices repeat="item in ctrl.item.metaKeywords.options | filter:$select.search">
                  {{ item.mkd_name }}
                </ui-select-choices>
              </ui-select>

            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : menuMainDetailForm.metaDescription.$invalid && !menuMainDetailForm.metaDescription.$pristine, 'has-success' : menuMainDetailForm.metaDescription.$valid && !menuMainDetailForm.metaDescription.$pristine}">
              <label for="metaDescription" class="control-label minotaur-label">{{ 'MenuItem.Title.META_DESCRIPTION' | translate }} <span class="text-red">*</span>: </label>
              <input type="text" name="metaDescription" id="metaDescription" class="form-control" ng-model="ctrl.item.meta_description" ng-minlength="1" ng-maxlength="160" required>
              <div ng-messages="menuMainDetailForm.metaDescription.$error" ng-if="menuMainDetailForm.metaDescription.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : menuMainDetailForm.mimEcommerce.$invalid && !menuMainDetailForm.mimEcommerce.$pristine, 'has-success' : menuMainDetailForm.mimEcommerce.$valid && !menuMainDetailForm.mimEcommerce.$pristine}">
              <label class="control-label minotaur-label">{{ 'MenuItem.Title.ESHOP' | translate }} :</label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.true' | translate }}
                <input ng-model="ctrl.item.mim_ecommerce" ng-value="true" name="mimEcommerce" type="radio">
                <div class="input-indicator"></div>
              </label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.false' | translate }}
                <input ng-model="ctrl.item.mim_ecommerce" ng-value="false" name="mimEcommerce" type="radio">
                <div class="input-indicator"></div>
              </label>
              <div ng-messages="menuMainDetailForm.mimEcommerce.$error" ng-if="menuMainDetailForm.mimEcommerce.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : menuMainDetailForm.mimHome.$invalid && !menuMainDetailForm.mimHome.$pristine, 'has-success' : menuMainDetailForm.mimHome.$valid && !menuMainDetailForm.mimHome.$pristine}">
              <label class="control-label minotaur-label">{{ 'MenuItem.Title.HOME' | translate }} :</label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.true' | translate }}
                <input ng-model="ctrl.item.mim_home" ng-value="true" name="mimHome" type="radio">
                <div class="input-indicator"></div>
              </label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.false' | translate }}
                <input ng-model="ctrl.item.mim_home" ng-value="false" name="mimHome" type="radio">
                <div class="input-indicator"></div>
              </label>
              <div ng-messages="menuMainDetailForm.mimHome.$error" ng-if="menuMainDetailForm.mimHome.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>


            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : menuMainDetailForm.category.$invalid && !menuMainDetailForm.category.$pristine, 'has-success' : menuMainDetailForm.category.$valid && !menuMainDetailForm.category.$pristine}">
              <label class="control-label minotaur-label">{{ 'MenuItem.Title.MAIN_MENU' | translate }} <span class="text-red">*</span>:</label>
              <script type="text/ng-template" id="items_renderer_add.html">
                <div class="tree-node">
                  <div class="tree-node-content">
                    <label ng-if="item.mim_mim_id === null" class="checkbox minotaur-radio minotaur-radio-sm list-checkbox" data-nodrag>
                      <input type="radio" name="parent" ng-model="ctrl.selectedParent" ng-value="item.mim_id">
                      <div class="input-indicator"></div>
                    </label>
                    <a class="btn" data-nodrag ng-click="toggle(this)">
                      <i class="fa fa-angle-down" ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}"></i>
                    </a>
                    {{item.mim_id}}&nbsp;|&nbsp;{{item.mim_name}}
                  </div>
                </div>
                <ol ui-tree-nodes="" ng-model="item.items" ng-class="{hidden: collapsed}">
                  <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer_add.html'"></li>
                </ol>
              </script>

              <div ui-tree>
                <ol ui-tree-nodes="" ng-model="ctrl.items">
                  <li ng-repeat="item in ctrl.items" ui-tree-node ng-include="'items_renderer_add.html'"></li>
                </ol>
              </div>
            </div>

            <div class="form-group form-footer text-right">
              <button type="submit" class="btn btn-success minotaur-btn colored" ng-disabled="menuMainDetailForm.$invalid || ctrl.item.metaKeywords.selected.length === 0 || isLoading()" ng-click="ctrl.update()">
                SAVE
                <form-submit-spinner></form-submit-spinner>
              </button>
            </div>

          </form>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->

  </div>


</div>
<!-- /row -->
