<div class="page page-forms pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a>{{ "Menu.USERS" | translate }}</a></li>
    <li><a ui-sref="app.users.customers.list">{{ "Menu.USERS_CUSTOMERS" | translate }}</a></li>
    <li class="active">{{ "Menu.DETAIL" | translate }}</li>
  </ol>


  <div class="add-nav">
    <div class="nav-heading">
      <h3>{{ "Menu.USERS_CUSTOMERS" | translate }} - {{ 'Menu.DETAIL' | translate }} : <strong class="text-theme">#{{ ctrl.item.act_id }}</strong></h3>
    </div>
    <uib-tabset>








      <uib-tab heading="{{ 'UsersCustomers.Title.DETAILS' | translate }}">


        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-md-12">


            <!-- tile -->
            <section class="tile tile-simple">


              <!-- tile body -->
              <div class="tile-body">


                <!-- row -->
                <div class="row">

                  <!-- col -->
                  <div class="col-md-9">
                    <h5 class="text-uppercase mt-40 mb-0">{{ 'UsersCustomers.Title.ACTIVE' | translate }}</h5>
                    <h3 class="text-uppercase mt-0 mb-20" ng-class="{
                          'text-success' : ctrl.item.uer_active === true,
                          'text-lightred' : ctrl.item.uer_active === false}">{{ "Global.Boolean." + ctrl.item.uer_active | translate }}</h3>
                  </div>
                  <!-- /col -->

                </div>
                <!-- /row -->

                <!-- row -->
                <div class="row b-t pt-20">

                  <!-- col -->
                  <div class="col-md-3 b-r">
                    <h5 class="text-uppercase mb-10">{{ 'UsersCustomers.Title.CUSTOMER' | translate }}</h5>
                    <ul class="list-unstyled text-default lt mb-20">
                      <li><strong class="text-default-dark">{{ 'UsersCustomers.Title.FIRST_NAME' | translate }}:</strong> {{ ctrl.item.first_name }}</li>
                      <li><strong class="text-default-dark">{{ 'UsersCustomers.Title.LAST_NAME' | translate }}:</strong> {{ ctrl.item.last_name }}</li>
                      <li><strong class="text-default-dark">{{ 'UsersCustomers.Title.EMAIL' | translate }}:</strong> {{ ctrl.item.act_email }}</li>
                      <li><strong class="text-default-dark">{{ 'UsersCustomers.Title.CELLNUMBER' | translate }}:</strong> {{ ctrl.item.cellnumber }}</li>

                    </ul>
                  </div>
                  <!-- /col -->

                  <!-- col -->
                  <div class="col-md-3 b-r">
                    <h5 class="text-uppercase mb-10">
                      {{ 'UsersCustomers.Title.ADDRESS' | translate }}
                    </h5>
                    <ul class="list-unstyled text-default lt mb-20">
                      <li><strong class="text-default-dark">{{ 'UsersCustomers.Title.STREET' | translate }}:</strong> {{ ctrl.item.street }}</li>
                      <li><strong class="text-default-dark">{{ 'UsersCustomers.Title.CITY' | translate }}:</strong> {{ ctrl.item.city }}</li>
                      <li><strong class="text-default-dark">{{ 'UsersCustomers.Title.ZIP' | translate }}:</strong> {{ ctrl.item.zip }}</li>
                      <li><strong class="text-default-dark">{{ 'UsersCustomers.Title.COUNTRY' | translate }}:</strong> {{ ctrl.item.country }}</li>
                    </ul>
                  </div>
                  <!-- /col -->

                  <!-- col -->
                  <div class="col-md-3 b-r">
                    <h5 class="text-uppercase mb-10">
                      {{ 'UsersCustomers.Title.ENTERPRISE_INFO' | translate }}
                    </h5>
                    <ul class="list-unstyled text-default lt mb-20">
                      <li>
                        <strong class="text-default-dark">{{ 'UsersCustomers.Title.ENTERPRISE' | translate }}:</strong> {{ ctrl.item.enterprise }}
                        <span class="label bg-lightred" ng-if="ctrl.item.enterprise === null">{{ "Global.Boolean.false" | translate }}</span>
                      </li>
                      <li>
                        <strong class="text-default-dark">{{ 'UsersCustomers.Title.TIN' | translate }}:</strong> {{ ctrl.item.tin }}
                        <span class="label bg-lightred" ng-if="ctrl.item.tin === null">{{ "Global.Boolean.false" | translate }}</span>
                      </li>
                      <li>
                        <strong class="text-default-dark">{{ 'UsersCustomers.Title.VATIN' | translate }}:</strong> {{ ctrl.item.vatin }}
                        <span class="label bg-lightred" ng-if="ctrl.item.vatin === null">{{ "Global.Boolean.false" | translate }}</span>
                      </li>
                    </ul>
                  </div>
                  <!-- /col -->

                  <!-- col -->
                  <div class="col-md-3">
                    <h5 class="text-uppercase mb-10">{{ 'UsersCustomers.Title.ACCOUNT_INFO' | translate }}</h5>
                    <ul class="list-unstyled text-default lt mb-20">
                      <li><strong class="text-default-dark">{{ 'UsersCustomers.Title.GROUP' | translate }}:</strong> {{ ctrl.item.grp_name }}</li>
                      <li><strong class="text-default-dark">{{ 'UsersCustomers.Title.NEWSLETTER' | translate }}:</strong> <span class="label" ng-class="{
                          'bg-success' : ctrl.item.uer_newsletter === true,
                          'bg-lightred' : ctrl.item.uer_newsletter === false}">{{ "Global.Boolean." + ctrl.item.uer_newsletter | translate }}</span></li>
                      <li><strong class="text-default-dark">{{ 'UsersCustomers.Title.DATE_CREATED' | translate }}:</strong> {{ 'Global.DATE_FORMAT' | translate:{date:ctrl.item.uer_date_created} }}</li>
                    </ul>
                  </div>
                  <!-- /col -->

                </div>
                <!-- /row -->


              </div>
              <!-- /tile body -->

            </section>
            <!-- /tile -->



          </div>
          <!-- /col -->
        </div>
        <!-- /row -->




      </uib-tab>







      <uib-tab ng-if="ctrl.item.orders.length > 0" heading="{{ 'UsersCustomers.Title.ORDERS' | translate }}">

        <!-- row -->
        <div class="row">

          <!-- col -->
          <div class="col-md-12">

            <!-- tile -->
            <section class="tile tile-simple">

              <!-- tile body -->
              <div class="tile-body p-0">

                <div class="table-responsive">
                  <table class="table table-hover table-striped m-0">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>{{ 'Order.Title.DATE' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ctrl.item.orders">
                      <td><a href="javascript:;" ui-sref="app.orders.detail({id:item.id})">{{ item.id }}</a></td>
                      <td>{{ 'Global.DATE_FORMAT' | translate:{date:item.odr_date} }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
              <!-- /tile body -->

            </section>
            <!-- /tile -->

          </div>
          <!-- /col -->

        </div>
        <!-- /row -->



      </uib-tab>








    </uib-tabset>
  </div>




</div>
