<div class="page page-core page-signup">

  <div class="login-modal" ng-controller="SignupController as signup">

    <div class="branding">
      <img src="assets/images/logo-alt.png" alt>
    </div>

    <form name="signUpForm" role="form" novalidate>

      <div class="row mix-grid">

        <div class="gallery" ng-mixitup magnific-popup="{
                delegate: 'a.img-preview',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                  enabled: true,
                  navigateByImgClick: true,
                  preload: [0,1]
                }
               }"
        >

          <!-- col -->
          <div class="col-md-4 col-sm-4 col-xs-4 mb-20 mix" ng-class="{'selected': image.selected}" ng-repeat="image in signup.images">
            <div class="img-container">
              <img class="img-middle img-responsive" ng-src="{{image.src}}" alt="">
              <div class="img-details">
                <div class="img-controls">
                  <a href="javascript:;" class="img-select" ng-click="signup.selectImage($index)">
                    <i class="far fa-circle" ng-show="!image.selected"></i>
                    <i class="fa fa-circle" ng-show="image.selected"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- /col -->

        </div>

      </div>
      <!-- /row -->

      <div class="row">
        <div class="form-group with-addon col-md-6 col-sm-6" ng-class="{'has-error' : signUpForm.firstName.$invalid && !signUpForm.firstName.$pristine, 'has-success' : signUpForm.firstName.$valid && !signUpForm.firstName.$pristine}">
          <span class="input-addon"><i class="icon-user"></i></span>
          <input type="text" name="fullName" placeholder="{{ 'Global.Placeholder.FIRST_NAME' | translate }}" class="form-control" ng-model="signup.firstName" ng-maxlength="30" required>
          <div ng-messages="signUpForm.firstName.$error" ng-show="signUpForm.firstName.$dirty" role="alert" class="help-block text-red">
            <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
          </div>
        </div>
        <div class="form-group with-addon col-md-6 col-sm-6" ng-class="{'has-error' : signUpForm.lastName.$invalid && !signUpForm.lastName.$pristine, 'has-success' : signUpForm.lastName.$valid && !signUpForm.lastName.$pristine}">
          <span class="input-addon"><i class="icon-user"></i></span>
          <input type="text" name="fullName" placeholder="{{ 'Global.Placeholder.LAST_NAME' | translate }}" class="form-control" ng-model="signup.lastName" ng-maxlength="40" required>
          <div ng-messages="signUpForm.lastName.$error" ng-show="signUpForm.lastName.$dirty" role="alert" class="help-block text-red">
            <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
          </div>
        </div>
      </div>

      <div class="form-group with-addon" ng-class="{'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine, 'has-success' : signUpForm.email.$valid && !signUpForm.email.$pristine}">
        <span class="input-addon"><i class="icon-envelope"></i></span>
        <input type="email" name="email" placeholder="{{ 'Global.Placeholder.EMAIL_ADDRESS' | translate }}" class="form-control" ng-model="signup.email" ng-maxlength="100" required>
        <div ng-messages="signUpForm.email.$error" ng-show="signUpForm.email.$dirty" role="alert" class="help-block text-red">
          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
        </div>
      </div>

      <div class="form-group with-addon" ng-class="{'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine, 'has-success' : signUpForm.password.$valid && !signUpForm.password.$pristine}">
        <span class="input-addon"><i class="icon-key"></i></span>
        <input type="password" name="password" placeholder="{{ 'Global.Placeholder.PASSWORD' | translate }}" class="form-control" ng-model="signup.password" ng-minlength="8" required>
        <div ng-messages="signUpForm.password.$error" ng-show="signUpForm.password.$dirty" role="alert" class="help-block text-red">
          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
        </div>
      </div>

      <div id="alertsPlaceholder">
        <uib-alert template-url="alert.html" ng-repeat="alert in signup.alerts" ng-class="'alert alert-' + alert.type" close="closeAlert($index)">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-if="alert.closeable">&#215;</button>
          <i class="fa {{alert.icon}}"></i> {{alert.msg}}
        </uib-alert>
      </div>

      <button type="submit" class="btn btn-lg btn-block btn-rounded-40" ng-disabled="signUpForm.$invalid || isLoading()" ng-click="signup.signUp()">
        SIGN_UP
        <form-submit-spinner></form-submit-spinner>
      </button>

    </form>

    <div class="mt-15 text-center">{{ 'Global.Label.ALREADY_HAVE_AN_ACCOUNT' | translate }}? <a ui-sref="auth.login">{{ 'Global.Label.PLEASE_LOG_IN' | translate }}</a></div>

  </div>

</div>
