<div class="page page-orders pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li class="active">{{ "Menu.PRODUCTS" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">

    <!-- col -->
    <div class="col-lg-3">

      <!-- tile -->
      <div class="tile">

        <!-- tile body -->
        <section class="tile-body">

          <button type="button" class="btn btn-sm btn-warning minotaur-btn mb-20" ng-click="ctrl.collapseAll()">{{ 'Global.Button.COLLAPSE_ALL' | translate }}</button>
          <button type="button" class="btn btn-sm btn-info minotaur-btn mb-20" ng-click="ctrl.expandAll()">{{ 'Global.Button.EXPAND_ALL' | translate }}</button>

          <!-- Nested list template -->
          <script type="text/ng-template" id="items_renderer.html">
            <div ng-class="{selected: ctrl.selectedCeyId === item.cey_id}" class="tree-node">
              <div class="tree-node-content">
                <a class="btn" data-nodrag ng-click="toggle(this)">
                  <i class="fa fa-angle-down" ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}"></i>
                </a>
                <a href="javascript:;" data-nodrag ng-click="ctrl.selectProducts(item.cey_id)">
                  {{item.cey_name}}
                </a>
              </div>
            </div>
            <ol ui-tree-nodes="" ng-model="item.items" ng-class="{hidden: collapsed}">
              <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'"></li>
            </ol>
          </script>

          <div ui-tree>
            <ol ui-tree-nodes="" ng-model="ctrl.categories">
              <li ng-repeat="item in ctrl.categories" ui-tree-node ng-include="'items_renderer.html'"></li>
            </ol>
          </div>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->

    </div>
    <!-- /col -->


    <!-- col -->
    <div class="col-lg-9">


      <!-- tile -->
      <div id="products" class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Menu.PRODUCTS" | translate }}</h1>
          <div class="controls">
            <a ui-sref="app.products.add" class="btn btn-transparent" uib-tooltip="{{ 'Menu.ADD' | translate }}" tooltip-placement="bottom"><i class="fa fa-plus mr-5"></i></a>
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">
          <div class="table-responsive-wide">
            <div class="dataTables_wrapper form-inline">
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <div class="inline-controls">
                    <div class="btn-group dropdown" uib-dropdown>
                      <button id="btn-append-to-body" type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                        {{"Global.Title.ACTIONS"|translate}} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu ng-scope" uib-dropdown-menu="" role="menu">
                        <li role="menuitem"><a href="javascript:;" ng-click="ctrl.modalChangeMultiple()">{{"Products.Title.CHANGE_MULTIPLE"|translate}}</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="javascript:;" ng-click="ctrl.modalDeleteMultiple()">{{"Global.Button.DELETE"|translate}}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="pull-right">
                    <div class="dataTables_filter">
                      <label>{{'Global.Table.SEARCH'|translate}}<input ng-model="ctrl.search.string" type="search" ng-keyup="ctrl.searchData(-1)" class="form-control input-sm"></label>
                    </div>
                  </div>
                </div>
              </div>
            <table class="dataTable table table-striped table-hover minotaur-table" style="min-width: 1000px;">
              <thead>
              <tr>
                <th style="width:40px;" class="sorting_disabled">
                  <label class="checkbox minotaur-checkbox minotaur-checkbox-sm checkbox-white m-0">
                    <input type="checkbox" ng-model="ctrl.selectedAll" ng-click="ctrl.selectAll()">
                    <div class="input-indicator"></div>
                  </label>
                </th>
                <th style="width:60px;" ng-click="ctrl.updateSort(0, true);" class="{{ctrl.sort.options[ctrl.sort.columns[0].sort]}}">ID</th>
                <th ng-click="ctrl.updateSort(1, true);" class="{{ctrl.sort.options[ctrl.sort.columns[1].sort]}}">{{ "Products.Title.CODE" | translate }}</th>
                <th ng-click="ctrl.updateSort(2, true);" class="{{ctrl.sort.options[ctrl.sort.columns[2].sort]}}">{{ "Products.Title.NAME" | translate }}</th>
                <th ng-click="ctrl.updateSort(3, true);" class="{{ctrl.sort.options[ctrl.sort.columns[3].sort]}}">{{ "Products.Title.PRICE_NO_VAT" | translate }}</th>
                <th ng-click="ctrl.updateSort(4, true);" style="width:80px;" class="{{ctrl.sort.options[ctrl.sort.columns[4].sort]}}">{{ "Products.Title.Status.NAME" | translate }}</th>
                <th style="width:180px;" class="sorting_disabled">{{ "Global.Title.ACTIONS" | translate }}</th>
              </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in ctrl.itemsSelected" data-index="{{$index}}">
                  <td>
                    <label class="checkbox minotaur-checkbox minotaur-checkbox-sm m-0">
                      <input type="checkbox" ng-model="item.selected">
                      <div class="input-indicator"></div>
                    </label>
                  </td>
                  <td>{{ item.put_id }}</td>
                  <td>{{ item.code }}</td>
                  <td>{{ item.phy_name }}</td>
                  <td>{{ item.price_no_vat | currency }}</td>
                  <td>
                    <span class="label"
                          ng-class="{
                            'bg-success' : item.active === true,
                            'bg-lightred' : item.active === false}">{{ "Products.Title.Status." + item.active | translate }}</span>
                  </td>
                  <td>
                    <a ui-sref="app.products.detail({put_id:item.put_id})" class="btn btn-xs btn-default"><i class="fa fa-search"></i> {{ 'Global.Button.VIEW' | translate }}</a>
                    <a href="javascript:;" class="btn btn-xs btn-lightred" ng-click="ctrl.modalDeleteSingle(item.put_id)"><i class="fa fa-times"></i> {{ 'Global.Button.DELETE' | translate }}</a>
                  </td>
                </tr>
                <tr ng-if="ctrl.itemsSelected.length===0">
                  <td valign="top" colspan="7" class="dataTables_empty">{{'Global.Table.NO_DATA'|translate}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" disabled>
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.put_id" ng-keyup="ctrl.searchData(0)" type="text" class="text_filter form-control search_init" rel="2">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.code" ng-keyup="ctrl.searchData(1)" type="text" class="text_filter form-control search_init" rel="3">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.phy_name" ng-keyup="ctrl.searchData(2)" type="text" class="text_filter form-control search_init" rel="4">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.price_no_vat" ng-keyup="ctrl.searchData(3)" type="text" class="text_filter form-control search_init" rel="5">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.active" ng-keyup="ctrl.searchData(4)" type="text" class="text_filter form-control search_init" rel="6">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" disabled>
                    </span>
                  </th>
                </tr>
              </tfoot>
            </table>
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <div class="inline-controls">
                  <div class="dataTables_length">
                    <label>{{"Global.Table.VIEW"|translate}}&nbsp;
                      <select ng-change="ctrl.updateData()" class="form-control input-sm" ng-options="option.name for option in ctrl.limit.options track by option.id"
                              ng-model="ctrl.limit.selected"></select>
                      &nbsp;{{"Global.Table.RECORDS"|translate}}
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="inline-controls text-center">
                  <div class="dataTables_info">{{ ctrl.page.msgFound }}</div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="dataTables_paginate paging_input" ng-if="ctrl.limit.selected.name<ctrl.items.length">
                  <span class="paginate_page">{{ 'Global.Table.PAGE' | translate }}&nbsp;</span>
                  <span ng-click="ctrl.page.current=1;ctrl.updateData();" class="first btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === 1}">
                    <i class="fa fa-angle-double-left"></i>
                  </span>
                  <span ng-click="ctrl.page.current=ctrl.page.current===1?1:ctrl.page.current-1;ctrl.updateData();" class="previous btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === 1}">
                    <i class="fa fa-angle-left"></i>
                  </span>
                  <input ng-change="ctrl.updateData();" class="paginate_input form-control input-sm input-inline" ng-model="ctrl.page.current" type="text">
                  <span ng-click="ctrl.page.current=ctrl.page.current===ctrl.page.total?ctrl.page.total:ctrl.page.current+1;ctrl.updateData();" class="next btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === ctrl.page.total}">
                    <i class="fa fa-angle-right"></i>
                  </span>
                  <span ng-click="ctrl.page.current=ctrl.page.total;ctrl.updateData();" class="last btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === ctrl.page.total}">
                    <i class="fa fa-angle-double-right"></i>
                  </span>
                  <span class="paginate_of">&nbsp;{{ 'Global.Table.OF' | translate }}&nbsp;{{ctrl.page.total}}</span>
                </div>
              </div>
            </div>
            </div>
          </div>
        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->

</div>
