<div class="page page-forms pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a ui-sref="app.payment.list">{{ "Menu.PAYMENT" | translate }}</a></li>
    <li class="active">{{ "Menu.UPDATE" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-md-12">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ 'Menu.PAYMENT' | translate }} - {{ 'Menu.UPDATE' | translate }}</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <form name="paymentDetailForm" role="form" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : paymentDetailForm.name.$invalid && !paymentDetailForm.name.$pristine, 'has-success' : paymentDetailForm.name.$valid && !paymentDetailForm.name.$pristine}">
              <label for="name" class="control-label minotaur-label">{{ 'Payment.Title.NAME' | translate }} <span class="text-red">*</span>: </label>
              <input type="text" name="name" id="name" class="form-control" ng-model="ctrl.poyName" ng-minlength="1" ng-maxlength="80" required>
              <div ng-messages="paymentDetailForm.name.$error" ng-if="paymentDetailForm.name.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : paymentDetailForm.cashOnDelivery.$invalid && !paymentDetailForm.cashOnDelivery.$pristine, 'has-success' : paymentDetailForm.cashOnDelivery.$valid && !paymentDetailForm.cashOnDelivery.$pristine}">
              <label class="control-label minotaur-label">{{ 'Payment.Title.CASH_ON_DELIVERY' | translate }} <span class="text-red">*</span>:</label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.true' | translate }}
                <input ng-model="ctrl.cashOnDelivery" ng-value="1" name="cash-on-delivery" type="radio" checked>
                <div class="input-indicator"></div>
              </label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.false' | translate }}
                <input ng-model="ctrl.cashOnDelivery" ng-value="0" name="cash-on-delivery" type="radio">
                <div class="input-indicator"></div>
              </label>
              <div ng-messages="paymentDetailForm.cashOnDelivery.$error" ng-if="paymentDetailForm.cashOnDelivery.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : paymentDetailForm.addPercentageOottPrice.$invalid && !paymentDetailForm.addPercentageOottPrice.$pristine, 'has-success' : paymentDetailForm.addPercentageOottPrice.$valid && !paymentDetailForm.addPercentageOottPrice.$pristine}">
              <label for="add-percentage-oott-price" class="control-label minotaur-label">{{ 'Payment.Title.ADD_PERCENTAGE_OOTT_PRICE' | translate }} <span class="text-lightred">*</span>:</label>
              <div touch-spin id="add-percentage-oott-price" ng-model="ctrl.addPercentageOottPrice" options="{min: 0, max: 100, postfix: '%', decimals: 3, step: 0.001}"></div>
              <div ng-messages="paymentDetailForm.addPercentageOottPrice.$error" ng-if="paymentDetailForm.addPercentageOottPrice.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : paymentDetailForm.price.$invalid && !paymentDetailForm.price.$pristine, 'has-success' : paymentDetailForm.price.$valid && !paymentDetailForm.price.$pristine}">
              <label for="price" class="control-label minotaur-label">{{ 'Payment.Title.PRICE' | translate }} (Kč) <span class="text-lightred">*</span>:</label>
              <div touch-spin id="price" ng-model="ctrl.price" options="{min: 0, max: 99999999, postfix: 'Kč', decimals: 2, step: 1}"></div>
              <div ng-messages="paymentDetailForm.price.$error" ng-if="paymentDetailForm.price.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <div class="form-group form-footer text-right">
              <button type="submit" class="btn btn-success minotaur-btn colored" ng-disabled="paymentDetailForm.$invalid || isLoading()" ng-click="ctrl.update()">
                SAVE
                <form-submit-spinner></form-submit-spinner>
              </button>
            </div>

          </form>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->




</div>
