<div class="page page-forms pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a>{{ "Menu.USERS" | translate }}</a></li>
    <li><a ui-sref="app.users.admins.list">{{ "Menu.USERS_ADMINS" | translate }}</a></li>
    <li class="active">{{ "Menu.DETAIL" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-md-12">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Menu.USERS_ADMINS" | translate }} - {{ 'Menu.DETAIL' | translate }}</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
          </div>
        </section>
        <!-- /tile header -->

        <section class="tile-widget p-30 text-center">
          <div class="thumb thumb-xl">
            <img ng-src="{{ ctrl.item.amr_avatar }}" alt="">
          </div>
          <h4 class="mb-0">{{ ctrl.item.amr_first_name }}&nbsp;{{ ctrl.item.amr_last_name }}</h4>
        </section>

        <!-- tile body -->
        <section class="tile-body">

          <form class="form-horizontal">

            <hr class="line-dashed line-full">

            <div class="form-group">
              <label class="col-sm-2 control-label minotaur-label">ID :</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ ctrl.item.act_id }}</p>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group">
              <label class="col-sm-2 control-label minotaur-label">{{ 'UsersAdmins.Title.EMAIL' | translate }} :</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ ctrl.item.act_email }}</p>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group">
              <label class="col-sm-2 control-label minotaur-label">{{ 'UsersAdmins.Title.FIRST_NAME' | translate }} :</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ ctrl.item.amr_first_name }}</p>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group">
              <label class="col-sm-2 control-label minotaur-label">{{ 'UsersAdmins.Title.LAST_NAME' | translate }} :</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ ctrl.item.amr_last_name }}</p>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group">
              <label class="col-sm-2 control-label minotaur-label">{{ 'UsersAdmins.Title.RIGHTS' | translate }} :</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ "UsersAdmins.Rights." + ctrl.item.amr_rights | translate }}</p>
              </div>
            </div>

          </form>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->




</div>
