<div class="page page-single-order pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ 'Menu.HOME' | translate }}</a></li>
    <li><a ui-sref="app.orders.list">{{ 'Menu.ORDERS' | translate }}</a></li>
    <li class="active">{{ 'Menu.DETAIL_ORDER' | translate }}</li>
  </ol>




  <div class="add-nav">
    <div class="nav-heading">
      <h3>{{ 'Menu.DETAIL_ORDER' | translate }} : <strong class="text-theme">#{{ ctrl.order.order_info.odr_id }}</strong></h3>
      <span class="controls pull-right">
        <a ui-sref="app.orders.list" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5" uib-tooltip="{{ 'Global.Button.BACK' | translate }}"><i class="fas fa-times"></i></a>
        <a href="mailto:{{ ctrl.order.order_info.act_email }}" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5" uib-tooltip="{{ 'Global.Button.SEND_EMAIL' | translate }}"><i class="fas fa-envelope"></i></a>
        <a href="javascript:window.print()" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20" uib-tooltip="{{ 'Global.Button.PRINT' | translate }}"><i class="fas fa-print"></i></a>
      </span>
    </div>
    <uib-tabset>








      <uib-tab heading="{{ 'Order.Title.DETAILS' | translate }}">


        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-md-12">


            <!-- tile -->
            <section class="tile tile-simple">


              <!-- tile body -->
              <div class="tile-body">


                <!-- row -->
                <div class="row">

                  <!-- col -->
                  <div class="col-md-9">
                    <p class="text-default lt">{{ 'Order.Label.CREATED' | translate }}: {{ 'Global.DATE_FORMAT' | translate:{date:ctrl.order.order_info.odr_date} }}</p>
                    <h5 class="text-uppercase mt-40 mb-0">Status</h5>
                    <h3 class="text-uppercase mt-0 mb-20" ng-class="{'text-lightred' : ctrl.order.order_info.status == '0',
                      'text-primary' : ctrl.order.order_info.status == '1',
                      'text-dutch': ctrl.order.order_info.status == '2',
                      'text-success' : ctrl.order.order_info.status == '3',
                      'text-warning' : ctrl.order.order_info.status == '4'}">{{ 'Order.Shipping.State.' + ctrl.order.order_info.status | translate }}</h3>
                  </div>
                  <!-- /col -->

                  <!-- col -->
                  <div class="col-md-3">
                    <h5 class="text-uppercase mb-10">{{ 'Order.Title.CUSTOMER' | translate }}</h5>
                    <ul class="list-unstyled text-default lt mb-20">
                      <li><strong class="text-default-dark inline-block w-xs">{{ 'Order.Label.NAME' | translate }}:</strong> {{ ctrl.order.order_info.big_customer }}</li>
                      <li ng-if="ctrl.order.order_info.enterprise"><strong class="text-default-dark inline-block w-xs">{{ 'Order.Label.ENTERPRISE' | translate }}:</strong> {{ ctrl.order.order_info.enterprise }}</li>
                      <li ng-if="ctrl.order.order_info.big_vatin"><strong class="text-default-dark inline-block w-xs">{{ 'Order.Label.VATIN' | translate }}:</strong> {{ ctrl.order.order_info.big_vatin }}</li>
                      <li ng-if="ctrl.order.order_info.big_tin"><strong class="text-default-dark inline-block w-xs">{{ 'Order.Label.TIN' | translate }}:</strong> {{ ctrl.order.order_info.big_tin }}</li>
                      <li><strong class="text-default-dark inline-block w-xs">{{ 'Order.Title.CELLNUMBER' | translate }}:</strong> {{ ctrl.order.order_info.big_cellnumber }}</li>
                      <li><strong class="text-default-dark inline-block w-xs">{{ 'Order.Title.EMAIL' | translate }}:</strong> <a href="javascript:;">{{ ctrl.order.order_info.act_email }}</a></li>
                    </ul>
                  </div>
                  <!-- /col -->

                </div>
                <!-- /row -->

                <!-- row -->
                <div class="row b-t pt-20">

                  <!-- col -->
                  <div class="col-md-3 b-r">
                    <h5 class="text-uppercase mb-10">{{ 'Menu.DETAIL_ORDER' | translate }}</h5>
                    <ul class="list-unstyled text-default lt mb-20">
                      <li><strong class="text-default-dark">ID:</strong> <a href="javascript:;">{{ ctrl.order.order_info.odr_id }}</a></li>
                      <li ng-if="ctrl.order.order_info.note"><strong class="text-default-dark">{{ 'Order.Title.IS_NOTE' | translate }}:</strong> {{ ctrl.order.order_info.note }}</li>
                    </ul>
                  </div>
                  <!-- /col -->

                  <!-- col -->
                  <div class="col-md-6 b-r">

                    <!-- row -->
                    <div class="row">

                      <!-- col -->
                      <div class="col-md-6">
                        <h5 class="text-uppercase mb-10">
                          {{ 'Order.Title.BILLING_ADDRESS' | translate }}
                        </h5>
                        <ul class="list-unstyled text-default lt mb-20">
                          <li>{{ ctrl.order.order_info.big_customer }}</li>
                          <li>{{ ctrl.order.order_info.big_street }}</li>
                          <li>{{ ctrl.order.order_info.big_city }}</li>
                          <li>{{ ctrl.order.order_info.big_zip }}</li>
                          <li>{{ ctrl.order.order_info.big_country }}</li>
                        </ul>
                      </div>
                      <!-- /col -->

                      <!-- col -->
                      <div class="col-md-6">
                        <h5 class="text-uppercase mb-10">
                          {{ 'Order.Title.DELIVERY_ADDRESS' | translate }}
                        </h5>
                        <ul class="list-unstyled text-default lt mb-20">
                          <li>{{ ctrl.order.order_info.dly_customer }}</li>
                          <li>{{ ctrl.order.order_info.dly_street }}</li>
                          <li>{{ ctrl.order.order_info.dly_city }}</li>
                          <li>{{ ctrl.order.order_info.dly_zip }}</li>
                          <li>{{ ctrl.order.order_info.dly_country }}</li>
                        </ul>
                      </div>
                      <!-- /col -->

                    </div>
                    <!-- /row -->

                  </div>
                  <!-- /col -->

                  <!-- col -->
                  <div class="col-md-3">
                    <h5 class="text-uppercase mb-10">{{ 'Order.Title.DELIVERY_PAYMENT' | translate }}</h5>
                    <ul class="list-unstyled text-default lt mb-20">
                      <li><strong class="text-default-dark inline-block w-xs">{{ 'Order.Label.DELIVERY' | translate }}:</strong> {{ ctrl.order.order_info.spg_name }}</li>
                      <li><strong class="text-default-dark inline-block w-xs">{{ 'Order.Label.PAYMENT' | translate }}:</strong> {{ ctrl.order.order_info.pmt_name }}</li>
                    </ul>
                  </div>
                  <!-- /col -->

                </div>
                <!-- /row -->


              </div>
              <!-- /tile body -->

            </section>
            <!-- /tile -->


            <!-- tile -->
            <section class="tile tile-simple">

              <!-- tile body -->
              <div class="tile-body p-0">

                <div class="table-responsive">
                  <table class="table table-hover table-striped m-0">
                    <thead>
                    <tr>
                      <th>{{ 'Product.Column.PRODUCT' | translate }}</th>
                      <th>{{ 'Product.Column.WEIGHT' | translate }} ({{ 'Global.TOTAL' | translate }})</th>
                      <th>{{ 'Product.Column.PRICE_NOVAT' | translate }}</th>
                      <th>{{ 'Product.Column.DISCOUNT' | translate }} %</th>
                      <th>{{ 'Order.Title.PRICE_DISCOUNT_NOVAT' | translate }}</th>
                      <th>{{ 'Order.Title.QUANTITY' | translate }}</th>
                      <th>{{ 'Order.Title.TOTAL_VAT' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in ctrl.order.order_items">
                      <td><a href="javascript:;" ui-sref="app.products.detail({put_id:product.put_id})">{{ product.phy_name }}</a></td>
                      <td>{{ product.weight_item / 1000 }} ({{ product.weight_total / 1000 }}) Kg</td>
                      <td>{{ product.price_no_vat_item | currency }}</td>
                      <td>{{ product.discount }} %</td>
                      <td>{{ product.price_no_vat_discount_item | currency }}</td>
                      <td>{{ product.quantity }} ks</td>
                      <td>{{ product.price_vat_discount_total | currency }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
              <!-- /tile body -->

            </section>
            <!-- /tile -->


          </div>
          <!-- /col -->
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-md-3 col-md-offset-9 price-total">

            <!-- tile -->
            <section class="tile bg-slategray">

              <!-- tile body -->
              <div class="tile-body">

                <ul class="list-unstyled">
                  <li><strong class="inline-block w-sm mb-5">{{ 'Order.Title.GOODS' | translate }}:</strong> {{ ctrl.order.order_info.put_total | currency }} ({{ ctrl.order.order_info.put_weight / 1000 }} Kg)</li>
                  <li><strong class="inline-block w-sm mb-5">{{ 'Order.Label.DELIVERY' | translate }}:</strong> {{ ctrl.order.order_info.spg_price | currency }}</li>
                  <li><strong class="inline-block w-sm mb-5">{{ 'Order.Label.PAYMENT' | translate }}:</strong> {{ ctrl.order.order_info.pmt_price | currency }}</li>
                  <li><strong class="inline-block w-sm">{{ 'Order.Title.TOTAL_VAT' | translate }}:</strong> <h3 class="inline-block text-success">{{ ctrl.order.order_info.ord_total | currency }}</h3></li>
                </ul>

              </div>
              <!-- /tile body -->

            </section>
            <!-- /tile -->

          </div>
          <!-- /col -->
        </div>
        <!-- /row -->



      </uib-tab>







      <uib-tab heading="{{ 'Order.Title.NOTES' | translate }}">

        <!-- row -->
        <div class="row" ng-init="hideNoteForm = true">
          <!-- col -->
          <div class="col-md-3" ng-repeat="note in ctrl.order.order_notes">

            <!-- tile -->
            <section class="tile tile-simple">

              <!-- tile body -->
              <div class="tile-body">

                <header class="mb-20">
                  <span class="text-sm text-default lt">{{ 'Global.Label.CREATED' | translate }}: {{ 'Global.DATE_FORMAT' | translate:{date:note.one_date} }}</span>
                  <span class="pull-right text-sm text-default lt">Admin: {{ note.amr_first_name }}&nbsp;{{ note.amr_last_name }}</span>
                </header>

                <h4 class="mt-10">{{ note.title }}</h4>
                <p>{{ note.one_content }}</p>

              </div>
              <!-- /tile body -->

            </section>
            <!-- /tile -->

          </div>
          <!-- /col -->

          <!-- col -->
          <div class="col-md-3" ng-show="hideNoteForm">

            <!-- tile -->
            <section class="tile tile-simple no-bg">

              <!-- tile body -->
              <div class="tile-body p-0">

                <h4><a href="javascript:;" class="tile-button bg-white" ng-click="hideNoteForm=false;"><i class="fas fa-plus"></i> {{ 'Order.Label.ADD_NOTE' | translate }}</a></h4>

              </div>
              <!-- /tile body -->

            </section>
            <!-- /tile -->

          </div>
          <!-- /col -->

          <div class="col-md-3" ng-show="!hideNoteForm">

            <!-- tile -->
            <section class="tile tile-simple">
              <!-- tile body -->
              <div class="tile-body">

                <form class="form-horizontal" role="form" name="noteForm" novalidate>

                  <div class="form-group" ng-class="{'has-error' : noteForm.title.$invalid && !noteForm.title.$pristine, 'has-success' : noteForm.title.$valid && !noteForm.title.$pristine}">
                    <label for="i-title" class="col-sm-2 control-label">Nápis</label>
                    <div class="col-sm-10">
                      <input id="i-title" type="text" name="title" class="form-control" placeholder="Sem zadej nápis poznámky" ng-model="ctrl.title" ng-maxlength="50" required>
                      <div ng-messages="noteForm.title.$error" ng-show="noteForm.title.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{'has-error' : noteForm.content.$invalid && !noteForm.content.$pristine, 'has-success' : noteForm.content.$valid && !noteForm.content.$pristine}">
                    <label for="t-content" class="col-sm-2 control-label">Text</label>
                    <div class="col-sm-10">
                      <textarea id="t-content" name="content" class="form-control" rows="4" placeholder="Sem zadej text poznámky" ng-model="ctrl.content" style="resize: vertical;min-height: 60px;" required></textarea>
                      <div ng-messages="noteForm.content.$error" ng-show="noteForm.content.$dirty" role="alert" class="help-block text-red">
                        <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                      <div id="alertsPlaceholder">
                        <uib-alert ng-if="ctrl.alert" template-url="alert.html" ng-class="'alert alert-' + ctrl.alert.type">
                          <i class="fas {{ctrl.alert.icon}}"></i> {{ctrl.alert.msg}}
                        </uib-alert>
                      </div>
                      <button type="reset" class="btn btn-lightred" ng-click="hideNoteForm=true;">Zrušit</button>
                      <button type="submit" class="btn btn-default" ng-disabled="noteForm.$invalid || isLoading()" ng-click="ctrl.postNote()">
                        CREATE
                        <form-submit-spinner></form-submit-spinner>
                      </button>
                    </div>
                  </div>

                </form>

              </div>
              <!-- /tile body -->

            </section>
            <!-- /tile -->
          </div>

        </div>
        <!-- /row -->



      </uib-tab>









      <uib-tab heading="{{ 'Order.Title.HISTORY' | translate }}">




        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-md-12">


            <!-- tile -->
            <section class="tile tile-simple">

              <!-- tile body -->
              <div class="tile-body p-0">

                <div class="table-responsive">
                  <table class="table table-hover table-striped m-0">
                    <thead>
                    <tr>
                      <th>{{ 'Global.Users.ADMINISTRATOR' | translate }}</th>
                      <th>{{ 'Order.Title.DATE' | translate }}</th>
                      <th>{{ 'Order.Title.STATUS' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="history in ctrl.order.order_histories">
                      <td><img ng-src="{{ history.amr_avatar ? history.amr_avatar : 'assets/images/logo-alt-sm.png'}}" class="img-responsive img-avatar">&nbsp;{{ history.amr_first_name ? history.amr_first_name : 'Komínexpres' }}&nbsp;{{ history.amr_last_name }}</td>
                      <td>{{ 'Global.DATE_FORMAT' | translate:{date:history.date_from} }}</td>
                      <td><span ng-if="ctrl.order.order_histories[$index-1]" class="label" ng-class="{'bg-lightred' : ctrl.order.order_histories[$index-1].status == '0',
                        'bg-primary' : ctrl.order.order_histories[$index-1].status == '1',
                        'bg-dutch': ctrl.order.order_histories[$index-1].status == '2',
                        'bg-success' : ctrl.order.order_histories[$index-1].status == '3',
                        'bg-warning' : ctrl.order.order_histories[$index-1].status == '4'}">{{ "Order.Shipping.State." + ctrl.order.order_histories[$index-1].status | translate }}</span> <i ng-if="ctrl.order.order_histories[$index-1]" class="fas fa-long-arrow-alt-right"></i> <span class="label" ng-class="{'bg-lightred' : history.status == '0',
                        'bg-primary' : history.status == '1',
                        'bg-dutch': history.status == '2',
                        'bg-success' : history.status == '3',
                        'bg-warning' : history.status == '4'}">{{ "Order.Shipping.State." + history.status | translate }}</span></td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
              <!-- /tile body -->

            </section>
            <!-- /tile -->


          </div>
          <!-- /col -->
        </div>
        <!-- /row -->




      </uib-tab>









    </uib-tabset>
  </div>




</div>
