<div class="nav-heading">
  <a class="brand" ui-sref="app.dashboard"></a>
  <h3>{{ 'Global.Title.NAVIGATION' | translate }}
    <a href="javascript:;" class="pull-right" id="expand-toggle">
      <i class="far fa-circle"></i>
    </a>
  </h3>
</div>

<div slimscroll="{
      height: '100%',
      size: '4px',
      borderRadius: '0px',
      opacity: .2
     }">

  <ul class="nav nav-sidebar">
    <li ng-class="{'active':$state.includes('app.dashboard')}">
      <a ui-sref="app.dashboard">
        <span class="nav-text">{{ 'Menu.DASHBOARD' | translate }}</span>
        <i class="fas fa-home"></i>
      </a>
    </li>
    <li ng-class="{'open active':$state.includes('app.articles')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.ARTICLES' | translate }}</span>
        <i class="fas fa-newspaper"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="app.articles.list">
            <span class="nav-text">{{ 'Menu.LIST' | translate }}</span>
            <i>{{ 'Menu.LIST' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.articles.add">
            <span class="nav-text">{{ 'Menu.ADD' | translate }}</span>
            <i>{{ 'Menu.ADD' | translate | limitTo: 2 }}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'open active':$state.includes('app.shipping')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.SHIPPING' | translate }}</span>
        <i class="fas fa-shipping-fast"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="app.shipping.list">
            <span class="nav-text">{{ 'Menu.LIST' | translate }}</span>
            <i>{{ 'Menu.LIST' | translate | limitTo: 2}}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.shipping.add">
            <span class="nav-text">{{ 'Menu.ADD' | translate }}</span>
            <i>{{ 'Menu.ADD' | translate | limitTo: 2}}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.shipping.type.list">
            <span class="nav-text">{{ 'Menu.SHIPPING_TYPE_LIST' | translate }}</span>
            <i>{{ 'Menu.SHIPPING_TYPE_LIST' | translate | limitTo: 2}}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.shipping.type.add">
            <span class="nav-text">{{ 'Menu.SHIPPING_TYPE_ADD' | translate }}</span>
            <i>{{ 'Menu.SHIPPING_TYPE_ADD' | translate | limitTo: 2}}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'open active':$state.includes('app.categories')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.CATEGORIES' | translate }}</span>
        <i class="fas fa-list-ul"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="app.categories.list">
            <span class="nav-text">{{ 'Menu.LIST' | translate }}</span>
            <i>{{ 'Menu.LIST' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.categories.add">
            <span class="nav-text">{{ 'Menu.ADD' | translate }}</span>
            <i>{{ 'Menu.ADD' | translate | limitTo: 2 }}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'open active':$state.includes('app.menu')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.MENU' | translate }}</span>
        <i class="fas fa-bars"></i>
      </a>
      <ul>
        <li ng-class="{'open active':$state.includes('app.menu.main')}">
          <a href="javascript:;">
            <span class="nav-text">{{ 'Menu.MAIN' | translate }}</span>
            <i>{{ 'Menu.MAIN' | translate | limitTo: 2 }}</i>
          </a>
          <ul>
            <li ui-sref-active="active">
              <a ui-sref="app.menu.main.list">
                <span class="nav-text">{{ 'Menu.LIST' | translate }}</span>
                <i>{{ 'Menu.LIST' | translate | limitTo: 2 }}</i>
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="app.menu.main.add">
                <span class="nav-text">{{ 'Menu.ADD' | translate }}</span>
                <i>{{ 'Menu.ADD' | translate | limitTo: 2 }}</i>
              </a>
            </li>
          </ul>
        </li>
        <li ng-class="{'open active':$state.includes('app.menu.footer')}">
          <a href="javascript:;">
            <span class="nav-text">{{ 'Menu.FOOTER' | translate }}</span>
            <i>{{ 'Menu.FOOTER' | translate | limitTo: 2 }}</i>
          </a>
          <ul>
            <li ui-sref-active="active">
              <a ui-sref="app.menu.footer.list">
                <span class="nav-text">{{ 'Menu.LIST' | translate }}</span>
                <i>{{ 'Menu.LIST' | translate | limitTo: 2 }}</i>
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="app.menu.footer.add">
                <span class="nav-text">{{ 'Menu.ADD' | translate }}</span>
                <i>{{ 'Menu.ADD' | translate | limitTo: 2 }}</i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li ng-class="{'open active':$state.includes('app.metaKeywords')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.META_KEYWORDS' | translate }}</span>
        <i class="fas fa-key"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="app.metaKeywords.list">
            <span class="nav-text">{{ 'Menu.LIST' | translate }}</span>
            <i>{{ 'Menu.LIST' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.metaKeywords.add">
            <span class="nav-text">{{ 'Menu.ADD' | translate }}</span>
            <i>{{ 'Menu.ADD' | translate | limitTo: 2 }}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'active':$state.includes('app.orders')}">
      <a ui-sref="app.orders.list">
        <span class="nav-text">{{ 'Menu.ORDERS' | translate }}</span>
        <i class="fas fa-shopping-cart"></i>
      </a>
    </li>
    <li ng-class="{'open active':$state.includes('app.images')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.IMAGES' | translate }}</span>
        <i class="fas fa-images"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="app.images.list">
            <span class="nav-text">{{ 'Menu.LIST' | translate }}</span>
            <i>{{ 'Menu.LIST' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.images.add">
            <span class="nav-text">{{ 'Menu.ADD' | translate }}</span>
            <i>{{ 'Menu.ADD' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.images.category.list">
            <span class="nav-text">{{ 'Menu.IMAGES_CATEGORY_LIST' | translate }}</span>
            <i>{{ 'Menu.IMAGES_CATEGORY_LIST' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.images.category.add">
            <span class="nav-text">{{ 'Menu.IMAGES_CATEGORY_ADD' | translate }}</span>
            <i>{{ 'Menu.IMAGES_CATEGORY_ADD' | translate | limitTo: 2 }}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'open active':$state.includes('app.parameters')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.PARAMETERS' | translate }}</span>
        <i class="fas fa-sliders-h"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="app.parameters.list">
            <span class="nav-text">{{ 'Menu.LIST' | translate }}</span>
            <i>{{ 'Menu.LIST' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.parameters.add">
            <span class="nav-text">{{ 'Menu.ADD' | translate }}</span>
            <i>{{ 'Menu.ADD' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.parameters.group.list">
            <span class="nav-text">{{ 'Menu.PARAMETERS_GROUP_LIST' | translate }}</span>
            <i>{{ 'Menu.PARAMETERS_GROUP_LIST' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.parameters.group.add">
            <span class="nav-text">{{ 'Menu.PARAMETERS_GROUP_ADD' | translate }}</span>
            <i>{{ 'Menu.PARAMETERS_GROUP_LIST' | translate | limitTo: 2 }}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'open active':$state.includes('app.payment')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.PAYMENT' | translate }}</span>
        <i class="fas fa-credit-card"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="app.payment.list">
            <span class="nav-text">{{ 'Menu.LIST' | translate }}</span>
            <i>{{ 'Menu.LIST' | translate | limitTo: 2}}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.payment.add">
            <span class="nav-text">{{ 'Menu.ADD' | translate }}</span>
            <i>{{ 'Menu.ADD' | translate | limitTo: 2 }}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'open active':$state.includes('app.products')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.PRODUCTS' | translate }}</span>
        <i class="fab fa-stack-overflow"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="app.products.list">
            <span class="nav-text">{{ 'Menu.LIST' | translate }}</span>
            <i>{{ 'Menu.LIST' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.products.add">
            <span class="nav-text">{{ 'Menu.ADD' | translate }}</span>
            <i>{{ 'Menu.ADD' | translate | limitTo: 2 }}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'open active':$state.includes('app.groups')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.GROUPS' | translate }}</span>
        <i class="fas fa-users"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="app.groups.list">
            <span class="nav-text">{{ 'Menu.LIST' | translate }}</span>
            <i>{{ 'Menu.LIST' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.groups.add">
            <span class="nav-text">{{ 'Menu.ADD' | translate }}</span>
            <i>{{ 'Menu.ADD' | translate | limitTo: 2 }}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'open active':$state.includes('app.files')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.FILES' | translate }}</span>
        <i class="fas fa-copy"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="app.files.list">
            <span class="nav-text">{{ 'Menu.LIST' | translate }}</span>
            <i>{{ 'Menu.LIST' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.files.add">
            <span class="nav-text">{{ 'Menu.ADD' | translate }}</span>
            <i>{{ 'Menu.ADD' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.files.category.list">
            <span class="nav-text">{{ 'Menu.FILES_CATEGORY_LIST' | translate }}</span>
            <i>{{ 'Menu.FILES_CATEGORY_LIST' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.files.category.add">
            <span class="nav-text">{{ 'Menu.FILES_CATEGORY_ADD' | translate }}</span>
            <i>{{ 'Menu.FILES_CATEGORY_ADD' | translate | limitTo: 2 }}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'open active':$state.includes('app.users')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.USERS' | translate }}</span>
        <i class="fas fa-user"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="app.users.customers.list">
            <span class="nav-text">{{ 'Menu.USERS_CUSTOMERS' | translate }}</span>
            <i>{{ 'Menu.USERS_CUSTOMERS' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.users.admins.list">
            <span class="nav-text">{{ 'Menu.USERS_ADMINS' | translate }}</span>
            <i>{{ 'Menu.USERS_ADMINS' | translate | limitTo: 2 }}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'open active':$state.includes('app.manufacturer')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.MANUFACTURERS' | translate }}</span>
        <i class="fas fa-wrench"></i>
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="app.manufacturer.list">
            <span class="nav-text">{{ 'Menu.LIST' | translate }}</span>
            <i>{{ 'Menu.LIST' | translate | limitTo: 2 }}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.manufacturer.add">
            <span class="nav-text">{{ 'Menu.ADD' | translate }}</span>
            <i>{{ 'Menu.ADD' | translate | limitTo: 2 }}</i>
          </a>
        </li>
      </ul>
    </li>


  </ul>
</div>
