<div class="page page-core page-refresh-password">

  <div class="login-modal" ng-controller="RefreshPasswordController as rpass">

    <div class="branding">
      <img src="assets/images/logo-alt.png" alt>
    </div>

    <form name="rpassForm" role="form" novalidate>
      <p class="help-block text-left">
        {{ 'Global.Label.CHANGE_PASSWORD' | translate }}.
      </p>
      <div class="form-group with-addon" ng-class="{'has-error' : rpassForm.password.$invalid && !rpassForm.password.$pristine, 'has-success' : rpassForm.password.$valid && !rpassForm.password.$pristine}">
        <span class="input-addon"><i class="icon-key"></i></span>
        <input type="password" name="password" placeholder="{{ 'Global.Placeholder.PASSWORD' | translate }}" class="form-control" ng-model="rpass.password" ng-minlength="8" required>
        <div ng-messages="rpassForm.password.$error" ng-show="rpassForm.password.$dirty" role="alert" class="help-block text-red">
          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
        </div>
      </div>
      <div class="form-group with-addon" ng-class="{ 'has-error' : rpassForm.passwordConfirm.$invalid && !rpassForm.passwordConfirm.$pristine, 'has-success' : rpassForm.passwordConfirm.$valid && !rpassForm.passwordConfirm.$pristine}">
        <span class="input-addon"><i class="icon-key"></i></span>
        <input type="password" name="passwordConfirm" placeholder="{{ 'Global.Placeholder.PASSWORD_CONFIRM' | translate }}" class="form-control" ng-model="rpass.passwordConfirm" match="rpass.password" ng-minlength="8" required>
        <div ng-messages="rpassForm.passwordConfirm.$error" ng-show="rpassForm.passwordConfirm.$dirty" role="alert" class="help-block text-red">
          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
        </div>
      </div>
      <div id="alertsPlaceholder">
        <uib-alert template-url="alert.html" ng-repeat="alert in rpass.alerts" ng-class="'alert alert-' + alert.type" close="closeAlert($index)">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-if="alert.closeable">&#215;</button>
          <i class="fa {{alert.icon}}"></i> {{alert.msg}}
          <a class="alert-link" ng-if="rpass.alert.uisref" ui-sref="{{rpass.alert.uisref}}">{{rpass.alert.uisrefMsg}}.</a>
        </uib-alert>
      </div>

      <button type="submit" class="btn btn-lg btn-block btn-rounded-40" ng-disabled="rpassForm.$invalid || isLoading()" ng-click="rpass.refreshPassword()">
        SUBMIT
        <form-submit-spinner></form-submit-spinner>
      </button>
    </form>

    <div class="mt-15 text-center">{{ 'Global.Label.KNOW_YOUR_PASSWORD' | translate }}? <a ui-sref="auth.login">{{ 'Global.Label.PLEASE_LOG_IN' | translate }}</a></div>

  </div>

</div>
