<div class="page page-orders pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li class="active">{{ "Menu.ORDERS" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-lg-12">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Pages.Title.ORDERS_LIST" | translate }}</h1>
          <div class="controls">
            <!--<a href="javascipt:;" class="btn btn-transparent" uib-tooltip="New Order" tooltip-placement="bottom"><i class="fa fa-plus mr-5"></i></a>-->
            <!--<div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle uib-tooltip="Tools" tooltip-placement="bottom"><i class="fa fa-ellipsis-v"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;">Export to XLS</a></li>
                <li role="menuitem"><a href="javascript:;">Export to CSV</a></li>
                <li role="menuitem"><a href="javascript:;">Export to XML</a></li>
                <li role="presentation" class="divider"></li>
                <li role="menuitem"><a href="javascript:;">Print Invoices</a></li>
              </ul>
            </div>-->
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">
          <div class="table-responsive-wide">
            <div class="dataTables_wrapper form-inline">
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <div class="inline-controls">
                    <div class="btn-group dropdown" uib-dropdown>
                      <button id="btn-append-to-body" type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                        {{"Global.Title.ACTIONS"|translate}} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
                        <li role="menuitem" ng-repeat="status in ctrl.statuses">
                          <a href="javascript:;" ng-click="ctrl.modalChangeMultipleEmail($index)">{{status|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="javascript:;" ng-click="ctrl.modalDeleteMultiple()">{{"Global.Button.DELETE"|translate}}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="pull-right">
                    <div class="dataTables_filter">
                      <label>{{'Global.Table.SEARCH'|translate}}<input ng-model="ctrl.search.string" type="search" ng-keyup="ctrl.searchData(-1)" class="form-control input-sm"></label>
                    </div>
                  </div>
                </div>
              </div>
              <table class="dataTable table table-striped table-hover minotaur-table" style="min-width: 1000px;">
                <thead>
              <tr>
                <th style="width:40px;" class="sorting_disabled">
                  <label class="checkbox minotaur-checkbox minotaur-checkbox-sm checkbox-white m-0">
                    <input type="checkbox" ng-model="ctrl.selectedAll" ng-click="ctrl.selectAll()">
                    <div class="input-indicator"></div>
                  </label>
                </th>
                <th style="width:60px;" ng-click="ctrl.updateSort(0, true);" class="{{ctrl.sort.options[ctrl.sort.columns[0].sort]}}">ID</th>
                <th style="width:200px;">{{ "Order.Title.DATE" | translate }}</th>
                <th style="width:180px;" ng-click="ctrl.updateSort(1, true);" class="{{ctrl.sort.options[ctrl.sort.columns[1].sort]}}">{{ "Order.Title.CUSTOMER" | translate }}</th>
                <th style="width:50px;" ng-click="ctrl.updateSort(2, true);" class="{{ctrl.sort.options[ctrl.sort.columns[2].sort]}}">{{ "Order.Title.IS_COMPANY" | translate }}</th>
                <th style="width:80px;" ng-click="ctrl.updateSort(3, true);" class="{{ctrl.sort.options[ctrl.sort.columns[3].sort]}}">{{ "Order.Title.STATUS" | translate }}</th>
                <th style="width:70px;">{{ "Order.Title.IS_NOTE" | translate }}</th>
                <th style="width:70px;" ng-click="ctrl.updateSort(4, true);" class="{{ctrl.sort.options[ctrl.sort.columns[4].sort]}}">{{ "Order.Title.IS_DELETED" | translate }}</th>
                <th ng-click="ctrl.updateSort(5, true);" class="{{ctrl.sort.options[ctrl.sort.columns[5].sort]}}">{{ "Order.Title.PAYMENT" | translate }}</th>
                <th ng-click="ctrl.updateSort(6, true);" class="{{ctrl.sort.options[ctrl.sort.columns[6].sort]}}">{{ "Order.Title.CELLNUMBER" | translate }}</th>
                <th ng-click="ctrl.updateSort(7, true);" class="{{ctrl.sort.options[ctrl.sort.columns[7].sort]}}">{{ "Order.Title.TOTAL" | translate }}</th>
                <th style="width:150px;" class="sorting_disabled">{{ "Global.Title.ACTIONS" | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="order in ctrl.itemsSelected" data-index="{{$index}}" ng-if="order.deleted_order === false || order.deleted_order === true && ctrl.amr_deleted_order_show === true">
                <td>
                  <label class="checkbox minotaur-checkbox minotaur-checkbox-sm m-0">
                    <input type="checkbox" ng-model="order.selected">
                    <div class="input-indicator"></div>
                  </label>
                </td>
                <td>{{ order.id }}</td>
                <td>{{ 'Global.DATE_FORMAT' | translate:{date:order.ord_date} }}</td>
                <td>{{ order.customer }}</td>
                <td>
                  <span class="label"
                          ng-class="{
                          'bg-primary' : order.is_company === true,
                          'bg-lightred' : order.is_company === false}">{{ "Global.Boolean." + order.is_company | translate }}</span>
                </td>
                <td>
                  <span class="label" ng-class="{'bg-lightred' : order.status == '0',
                    'bg-primary' : order.status == '1',
                    'bg-dutch': order.status == '2',
                    'bg-success' : order.status == '3',
                    'bg-warning' : order.status == '4'}">{{ "Order.Shipping.State." + order.status | translate }}</span>
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-sm minotaur-btn" ng-if="order.note !== null" ng-click="ctrl.modalOpen(order.note, 'Order.Title.IS_NOTE')">{{ "Global.Button.VIEW" | translate }}</button>
                  <span class="label bg-lightred" ng-if="order.note === null">{{ "Global.Boolean.false" | translate }}</span>
                </td>
                <td>
                  <span class="label"
                          ng-class="{
                          'bg-primary' : order.deleted_order === true,
                          'bg-lightred' : order.deleted_order === false}">{{ "Global.Boolean." + order.deleted_order | translate }}</span>
                </td>
                <td>{{ order.poy_name }}</td>
                <td>{{ order.cellnumber }}</td>
                <td>{{ order.order_total | currency }}</td>
                <td>
                  <a ui-sref="app.orders.detail({id:order.id})" class="btn btn-xs btn-default"><i class="fa fa-search"></i> {{ 'Global.Button.VIEW' | translate }}</a>
                  <a href="javascript:;" class="btn btn-xs btn-lightred" ng-click="ctrl.modalDeleteSingle(order.id)"><i class="fa fa-times"></i> {{ 'Global.Button.DELETE' | translate }}</a>
                </td>
              </tr>
              <tr ng-if="ctrl.itemsSelected.length===0">
                <td valign="top" colspan="12" class="dataTables_empty">{{'Global.Table.NO_DATA'|translate}}</td>
              </tr>
              </tbody>
                <tfoot>
                <tr>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" disabled>
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.id" ng-keyup="ctrl.searchData(0)" type="text" class="text_filter form-control search_init" rel="0">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" rel="1" disabled>
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.customer" ng-keyup="ctrl.searchData(1)" type="text" class="text_filter form-control search_init" rel="2">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.is_company" ng-keyup="ctrl.searchData(2)" type="text" class="text_filter form-control search_init" rel="3">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.status" ng-keyup="ctrl.searchData(3)" type="text" class="text_filter form-control search_init" rel="4">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" rel="1" disabled>
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.deleted_order" ng-keyup="ctrl.searchData(4)" type="text" class="text_filter form-control search_init" rel="6">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.poy_name" ng-keyup="ctrl.searchData(5)" type="text" class="text_filter form-control search_init" rel="7">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.cellnumber" ng-keyup="ctrl.searchData(6)" type="text" class="text_filter form-control search_init" rel="88">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input ng-model="ctrl.search.order_total" ng-keyup="ctrl.searchData(7)" type="text" class="text_filter form-control search_init" rel="9">
                    </span>
                  </th>
                  <th>
                    <span class="filter_column filter_text">
                      <input type="text" class="text_filter form-control search_init" disabled>
                    </span>
                  </th>
                </tr>
                </tfoot>
              </table>
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <div class="inline-controls">
                    <div class="dataTables_length">
                      <label>{{"Global.Table.VIEW"|translate}}&nbsp;
                        <select ng-change="ctrl.updateData()" class="form-control input-sm" ng-options="option.name for option in ctrl.limit.options track by option.id"
                                ng-model="ctrl.limit.selected"></select>
                        &nbsp;{{"Global.Table.RECORDS"|translate}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="inline-controls text-center">
                    <div class="dataTables_info">{{ ctrl.page.msgFound }}</div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="dataTables_paginate paging_input" ng-if="ctrl.limit.selected.name<ctrl.items.length">
                    <span class="paginate_page">{{ 'Global.Table.PAGE' | translate }}&nbsp;</span>
                    <span ng-click="ctrl.page.current=1;ctrl.updateData();" class="first btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === 1}">
                    <i class="fa fa-angle-double-left"></i>
                  </span>
                    <span ng-click="ctrl.page.current=ctrl.page.current===1?1:ctrl.page.current-1;ctrl.updateData();" class="previous btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === 1}">
                    <i class="fa fa-angle-left"></i>
                  </span>
                    <input ng-change="ctrl.updateData();" class="paginate_input form-control input-sm input-inline" ng-model="ctrl.page.current" type="text">
                    <span ng-click="ctrl.page.current=ctrl.page.current===ctrl.page.total?ctrl.page.total:ctrl.page.current+1;ctrl.updateData();" class="next btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === ctrl.page.total}">
                    <i class="fa fa-angle-right"></i>
                  </span>
                    <span ng-click="ctrl.page.current=ctrl.page.total;ctrl.updateData();" class="last btn btn-sm btn-default" ng-class="{disabled: ctrl.page.current === ctrl.page.total}">
                    <i class="fa fa-angle-double-right"></i>
                  </span>
                    <span class="paginate_of">&nbsp;{{ 'Global.Table.OF' | translate }}&nbsp;{{ctrl.page.total}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->

</div>
