<div class="page page-forms pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a ui-sref="app.parameters.list">{{ "Menu.PARAMETERS" | translate }}</a></li>
    <li class="active">{{ "Menu.UPDATE" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-md-12">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Menu.PARAMETERS" | translate }} - {{ 'Menu.UPDATE' | translate }}</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <form name="parametersDetailForm" role="form" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : parametersDetailForm.prrId.$invalid && !parametersDetailForm.prrId.$pristine, 'has-success' : parametersDetailForm.prrId.$valid && !parametersDetailForm.prrId.$pristine}">
              <label for="prr-id" class="control-label minotaur-label">ID <span class="text-red">*</span>: </label>
              <input type="text" name="prr-id" id="prr-id" class="form-control" ng-model="ctrl.item.prr_id" disabled required>
              <div ng-messages="parametersDetailForm.prrId.$error" ng-if="parametersDetailForm.prrId.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : parametersDetailForm.prrName.$invalid && !parametersDetailForm.prrName.$pristine, 'has-success' : parametersDetailForm.prrName.$valid && !parametersDetailForm.prrName.$pristine}">
              <label for="prrName" class="control-label minotaur-label">{{ 'Parameter.Title.NAME' | translate }} <span class="text-red">*</span>: </label>
              <input type="text" name="prrName" id="prrName" class="form-control" ng-model="ctrl.item.prr_name" ng-minlength="1" ng-maxlength="60" required>
              <div ng-messages="parametersDetailForm.prrName.$error" ng-if="parametersDetailForm.prrName.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : parametersDetailForm.unit.$invalid && !parametersDetailForm.unit.$pristine, 'has-success' : parametersDetailForm.unit.$valid && !parametersDetailForm.unit.$pristine}">
              <label for="unit" class="control-label minotaur-label">{{ 'Parameter.Title.UNIT' | translate }} : </label>
              <input type="text" name="unit" id="unit" class="form-control" ng-model="ctrl.item.prr_unit" ng-maxlength="10">
              <div ng-messages="parametersDetailForm.unit.$error" ng-if="parametersDetailForm.unit.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <div class="form-group form-footer text-right">
              <button type="submit" class="btn btn-success minotaur-btn colored" ng-disabled="parametersDetailForm.$invalid || isLoading()" ng-click="ctrl.update()">
                SAVE
                <form-submit-spinner></form-submit-spinner>
              </button>
            </div>

          </form>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->




</div>
