<div class="navbar-header">
  <button type="button" class="header-nav-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false" aria-controls="header-navbar">
    <span class="sr-only">Toggle header</span>
    <i class="fa fa-cog"></i>
  </button>
  <button type="button" class="navigation-toggle" id="navigation-toggle">
    <span class="sr-only">Toggle navigation</span>
    <i class="fa fa-bars"></i>
  </button>
  <a class="navbar-brand" ui-sref="app.dashboard">
  </a>
</div>
<!-- <div class="main-search hidden-xs">
  <form>
    <input type="text" class="form-control" placeholder="{{ 'Global.Placeholder.SEARCH' | translate }}...">
    <button class="btn">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>
-->
<div id="header-navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <li ng-controller="AdminController as admin">
      <!-- Single button -->
      <div uib-dropdown>
        <button id="profile" type="button" class="btn no-bg" uib-dropdown-toggle>
          <img ng-src="{{ currentUser.amr_avatar }}" height="40" width="40" class="hidden-xs" alt="">
          <span class="nav-text"><i class="fa fa-user"></i> {{ currentUser.amr_first_name + ' ' + currentUser.amr_last_name }}</span>
        </button>
        <div class="dropdown-menu with-arrow animated littleFadeInRight profile" uib-dropdown-menu role="menu" aria-labelledby="profile">
          <div class="media">
            <div class="media-left">
              <img class="media-object" ng-src="{{ currentUser.amr_avatar }}" alt="">
            </div>
            <div class="media-body">
              <h4 class="text-sm uppercase-bold">{{ currentUser.amr_first_name + ' ' + currentUser.amr_last_name }}</h4>
              <a href="javascript:;">{{ currentUser.act_email }}</a>
              <ul class="list-unstyled">
                <li><a ui-sref="app.profile"><i class="fa fa-user"></i> {{ 'Global.Label.EDIT_PROFILE' | translate }}</a></li>
                <li>
                  <a ng-click="admin.nightMode(true)"><i class="fa fa-cloud-moon"></i> {{ 'Global.Label.NIGHT_MODE' | translate }}:
                    <div class="onoffswitch inline-block small switch-night">
                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch07" ng-model="admin.night_mode">
                      <label class="onoffswitch-label" for="switch07">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer">
            <button class="btn btn-theme minotaur-btn pull-right" ng-click="admin.logOut()"><i class="fa fa-power-off"></i> {{ 'Global.Label.LOGOUT' | translate }}</button>
            <button class="btn btn-theme minotaur-btn" ng-click="admin.lockMe()"><i class="fa fa-lock"></i> {{ 'Global.Label.LOCK' | translate }}</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <!-- Single button -->
      <div uib-dropdown>
        <button id="language" type="button" class="btn no-bg" uib-dropdown-toggle>
          <img ng-show="main.currentLanguage == 'cs'" src="assets/images/flags/Czech-Republic.png" class="img-responsive img-circle hidden-xs" alt="">
          <img ng-show="main.currentLanguage == 'en'" src="assets/images/flags/United-States-of-America.png" class="img-responsive img-circle hidden-xs" alt="">
          <span class="nav-text"><i class="fa fa-language"></i> {{ 'Global.LANGUAGE' | translate }}</span>
        </button>
        <ul class="dropdown-menu with-arrow animated littleFadeInRight language" uib-dropdown-menu role="menu" aria-labelledby="language">
          <li ng-class="{selected: main.currentLanguage == 'cs'}">
            <a href="javascript:;" ng-click="main.changeLanguage('cs')">
              <img src="assets/images/flags/Czech-Republic.png" alt=""> {{ 'Global.Languages.CZECH' | translate }}
            </a>
          </li>
          <li ng-class="{selected: main.currentLanguage == 'en'}">
            <a href="javascript:;" ng-click="main.changeLanguage('en')">
              <img src="assets/images/flags/United-States-of-America.png" alt=""> {{ 'Global.Languages.ENGLISH' | translate }}
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
