<div class="page page-forms pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a ui-sref="app.shipping.list">{{ "Menu.SHIPPING" | translate }}</a></li>
    <li class="active">{{ "Menu.ADD" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-md-12">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ 'Menu.SHIPPING' | translate }} - {{ 'Menu.ADD' | translate }}</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <form name="shippingAddForm" role="form" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : shippingAddForm.name.$invalid && !shippingAddForm.name.$pristine, 'has-success' : shippingAddForm.name.$valid && !shippingAddForm.name.$pristine}">
              <label for="name" class="control-label minotaur-label">{{ 'Shipping.Title.NAME' | translate }} <span class="text-red">*</span>: </label>
              <input type="text" name="name" id="name" class="form-control" ng-model="ctrl.name" ng-minlength="1" ng-maxlength="80" required>
              <div ng-messages="shippingAddForm.name.$error" ng-if="shippingAddForm.name.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : shippingAddForm.type.$invalid && !shippingAddForm.type.$pristine, 'has-success' : shippingAddForm.type.$valid && !shippingAddForm.type.$pristine}">
              <label class="control-label minotaur-label">{{ 'Shipping.Title.TYPE' | translate }} <span class="text-red">*</span>: </label>
              <ui-select ng-model="ctrl.selected.type" class="mb-10">
                <ui-select-match>
                  <span ng-bind="$select.selected.dta_name"></span>
                </ui-select-match>
                <ui-select-choices repeat="type in (ctrl.types | filter: $select.search) track by type.id">
                  <span ng-bind="type.dta_name"></span>
                </ui-select-choices>
              </ui-select>
              <div ng-messages="shippingAddForm.type.$error" ng-if="shippingAddForm.type.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : shippingAddForm.showOnDefault.$invalid && !shippingAddForm.showOnDefault.$pristine, 'has-success' : shippingAddForm.showOnDefault.$valid && !shippingAddForm.showOnDefault.$pristine}">
              <label class="control-label minotaur-label">{{ 'Shipping.Title.SHOW_ALL' | translate }} <span class="text-red">*</span>:</label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.true' | translate }}
                <input ng-model="ctrl.showOnDefault" ng-value="1" name="show-all" type="radio" checked>
                <div class="input-indicator"></div>
              </label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.false' | translate }}
                <input ng-model="ctrl.showOnDefault" ng-value="0" name="show-all" type="radio">
                <div class="input-indicator"></div>
              </label>
              <div ng-messages="shippingAddForm.showOnDefault.$error" ng-if="shippingAddForm.showOnDefault.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : shippingAddForm.sumWeightPrice.$invalid && !shippingAddForm.sumWeightPrice.$pristine, 'has-success' : shippingAddForm.sumWeightPrice.$valid && !shippingAddForm.sumWeightPrice.$pristine}">
              <label class="control-label minotaur-label">{{ 'Shipping.Title.SUM_PRICES' | translate }} <span class="text-red">*</span>:</label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.true' | translate }}
                <input ng-model="ctrl.sumWeightPrice" ng-value="1" name="sum-prices" type="radio" checked>
                <div class="input-indicator"></div>
              </label>
              <label class="checkbox minotaur-radio"> {{ 'Global.Boolean.false' | translate }}
                <input ng-model="ctrl.sumWeightPrice" ng-value="0" name="sum-prices" type="radio">
                <div class="input-indicator"></div>
              </label>
              <div ng-messages="shippingAddForm.sumWeightPrice.$error" ng-if="shippingAddForm.sumWeightPrice.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : shippingAddForm.payments.$invalid && !shippingAddForm.payments.$pristine, 'has-success' : shippingAddForm.payments.$valid && !shippingAddForm.payments.$pristine}">
              <label class="control-label minotaur-label">{{ 'Shipping.Title.PAYMENTS' | translate }} <span class="text-red">*</span>:</label>
              <label class="checkbox minotaur-checkbox" ng-repeat="payment in ctrl.payments">
                {{ payment.poy_name }}
                <input name="payments" ng-model="ctrl.payment[payment.id]" ng-change="ctrl.paymentChange(payment.id)" value="{{ payment.id }}" type="checkbox">
                <div class="input-indicator"></div>
              </label>
              <div ng-messages="shippingAddForm.payments.$error" ng-if="shippingAddForm.payments.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : shippingAddForm.freePriceAbove.$invalid && !shippingAddForm.freePriceAbove.$pristine, 'has-success' : shippingAddForm.freePriceAbove.$valid && !shippingAddForm.freePriceAbove.$pristine}">
              <label for="free-price-above" class="control-label minotaur-label">{{ 'Shipping.Title.FREE_FROM' | translate }} (Kč): </label>
              <input type="number" id="free-price-above" class="form-control" name="freePriceAbove" ng-model="ctrl.freePriceAbove" min="0" max="9999999" step="0.01">
              <div ng-messages="shippingAddForm.freePriceAbove.$error" ng-if="shippingAddForm.freePriceAbove.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : shippingAddForm.showTillMaxWeight.$invalid && !shippingAddForm.showTillMaxWeight.$pristine, 'has-success' : shippingAddForm.showTillMaxWeight.$valid && !shippingAddForm.showTillMaxWeight.$pristine}">
              <label for="show-till-max-weight" class="control-label minotaur-label">{{ 'Shipping.Title.HIDE_FROM' | translate }} (g): </label>
              <input type="number" id="show-till-max-weight" class="form-control" name="showTillMaxWeight" ng-model="ctrl.showTillMaxWeight" min="0" max="9999999">
              <div ng-messages="shippingAddForm.showTillMaxWeight.$error" ng-if="shippingAddForm.showTillMaxWeight.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : shippingAddForm.weightRange.$invalid && !shippingAddForm.weightRange.$pristine, 'has-success' : shippingAddForm.weightRange.$valid && !shippingAddForm.weightRange.$pristine}">
              <div class="row">
                <label class="col-sm-2 control-label minotaur-label">{{ 'Shipping.Title.WEIGHT_RANGE' | translate }} <span class="text-red">*</span>:</label>
                <div class="col-sm-10"></div>
              </div>
              <div class="row">
                <div class="col-sm-2 text-right">
                  <div class="mb-10">
                    <label class="control-label kominexpres-label">{{ 'Shipping.Title.ADD_NEW_RANGE' | translate }}: </label>
                  </div>
                </div>
                <div class="col-sm-10">
                  <div class="mb-10">
                    <button class="btn btn-info btn-rounded btn-icon-only btn-ef btn-ef-7 btn-ef-7g mb-10" add-weight-range activate-button><i class="fa fa-plus"></i> Add <i class="after fa fa-plus"></i></button>
                  </div>
                </div>
              </div>
              <div data-weight-range="0">
                <div class="row">
                  <div class="col-sm-2 text-right">
                    <div class="mb-10">
                      <label class="control-label kominexpres-label">{{ 'Shipping.Title.MIN_WEIGHT' | translate }}: </label>
                    </div>
                    <div class="mb-10">
                      <label class="control-label kominexpres-label">{{ 'Shipping.Title.MAX_WEIGHT' | translate }}: </label>
                    </div>
                    <div class="mb-10">
                      <label class="control-label kominexpres-label">{{ 'Shipping.Title.PRICE' | translate }}: </label>
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <div class="mb-10">
                      <div touch-spin ng-model="ctrl.weightMin[0]" options="{min: 0, max: 9999999, postfix: 'g', decimals: 0, step: 1}"></div>
                    </div>
                    <div class="mb-10">
                      <div touch-spin ng-model="ctrl.weightMax[0]" options="{min: 1, max: 9999999, postfix: 'g', decimals: 0, step: 1}"></div>
                    </div>
                    <div class="mb-10">
                      <div touch-spin ng-model="ctrl.price[0]" options="{min: 0, max: 9999999, postfix: 'Kč', decimals: 2, step: 0.01}"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-messages="shippingAddForm.weightRange.$error" ng-if="shippingAddForm.weightRange.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <div class="form-group form-footer text-right">
              <button type="submit" class="btn btn-success minotaur-btn colored" ng-disabled="shippingAddForm.$invalid || ctrl.selected.payments.length == 0 || isLoading()" ng-click="ctrl.add()">
                CREATE
                <form-submit-spinner></form-submit-spinner>
              </button>
            </div>

          </form>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->




</div>
