<div class="page page-forms pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ "Menu.HOME" | translate }}</a></li>
    <li><a ui-sref="app.images.category.list">{{ "Menu.IMAGES_CATEGORY_LIST" | translate }}</a></li>
    <li class="active">{{ "Menu.ADD" | translate }}</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-md-12">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ "Menu.IMAGES_CATEGORY_ADD" | translate }}</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <form name="imageCategoryForm" role="form" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : imageCategoryForm.name.$invalid && !imageCategoryForm.name.$pristine, 'has-success' : imageCategoryForm.name.$valid && !imageCategoryForm.name.$pristine}">
              <label for="name" class="control-label minotaur-label">{{ 'Images.Title.NAME' | translate }} <span class="text-red">*</span>: </label>
              <input type="text" name="name" id="name" class="form-control" ng-model="ctrl.icyName" ng-minlength="1" ng-maxlength="80" required>
              <div ng-messages="imageCategoryForm.name.$error" ng-if="imageCategoryForm.name.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <hr class="line-dashed line-full">

            <div class="form-group" ng-class="{ 'has-error' : imageCategoryForm.markings.$invalid && !imageCategoryForm.markings.$pristine, 'has-success' : imageCategoryForm.markings.$valid && !imageCategoryForm.markings.$pristine}">
              <label class="control-label minotaur-label">{{ 'Images.Title.CATEGORY' | translate }} <span class="text-red">*</span>:</label>
              <p class="help-block mb-0">{{ 'Images.Title.CATEGORY_DESC' | translate }}</p>
              <label class="checkbox minotaur-checkbox" ng-repeat="marking in ctrl.markings">
                {{ marking.mig_name }}
                <input name="markings" ng-model="markings[marking.mig_id]" ng-change="ctrl.markingChange(marking.mig_id)" value="{{ marking.mig_id }}" type="checkbox">
                <div class="input-indicator"></div>
              </label>
              <div ng-messages="imageCategoryForm.markings.$error" ng-if="imageCategoryForm.markings.$dirty" role="alert" class="help-block text-red">
                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
              </div>
            </div>

            <div class="form-group form-footer text-right">
              <button type="submit" class="btn btn-success minotaur-btn colored" ng-disabled="imageCategoryForm.$invalid || ctrl.selectedMarkings.length == 0 || isLoading()" ng-click="ctrl.add()">
                SAVE
                <form-submit-spinner></form-submit-spinner>
              </button>
            </div>

          </form>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->




</div>
