<div class="page page-core page-forgotpass">

  <div class="login-modal" ng-controller="ForgotPasswordController as fpass">

    <div class="branding">
      <img src="assets/images/logo-alt.png" alt>
    </div>

    <form name="fpassForm" role="form" novalidate>
      <p class="help-block text-left">
        {{ 'Global.Label.RESET_PASSWORD' | translate }}.
      </p>
      <div class="form-group with-addon" ng-class="{'has-error' : fpassForm.email.$invalid && !fpassForm.email.$pristine, 'has-success' : fpassForm.email.$valid && !fpassForm.email.$pristine}">
        <span class="input-addon"><i class="icon-envelope"></i></span>
        <input type="email" name="email" placeholder="{{ 'Global.Placeholder.EMAIL_ADDRESS' | translate }}" class="form-control" ng-model="fpass.email" ng-maxlength="100" required>
        <div ng-messages="fpassForm.email.$error" ng-show="fpassForm.email.$dirty" role="alert" class="help-block text-red">
          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
        </div>
      </div>
      <div id="alertsPlaceholder">
        <uib-alert template-url="alert.html" ng-repeat="alert in fpass.alerts" ng-class="'alert alert-' + alert.type" close="closeAlert($index)">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-if="alert.closeable">&#215;</button>
          <i class="fas {{alert.icon}}"></i> {{alert.msg}}
        </uib-alert>
      </div>

      <button type="submit" class="btn btn-lg btn-block btn-rounded-40" ng-disabled="fpassForm.$invalid || isLoading()" ng-click="fpass.refreshPassword()">
        SUBMIT
        <form-submit-spinner></form-submit-spinner>
      </button>
    </form>

    <div class="mt-15 text-center">{{ 'Global.Label.KNOW_YOUR_PASSWORD' | translate }}? <a ui-sref="auth.login">{{ 'Global.Label.PLEASE_LOG_IN' | translate }}</a></div>

  </div>

</div>
