<div class="page page-core page-login">

  <div class="login-modal" ng-controller="LoginController as log">

    <div class="branding">
      <img src="assets/images/logo-alt.png" alt>
    </div>

    <form name="loginForm" role="form" novalidate>

      <div class="form-group with-addon" ng-class="{'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine, 'has-success' : loginForm.email.$valid && !loginForm.email.$pristine}">
        <span class="input-addon"><i class="icon-user"></i></span>
        <input type="email" name="email" placeholder="{{ 'Global.Placeholder.EMAIL_ADDRESS' | translate }}" class="form-control" ng-model="log.email" ng-maxlength="100" required>
        <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$dirty" role="alert" class="help-block text-red">
          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
        </div>
      </div>

      <div class="form-group with-addon" ng-class="{'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine, 'has-success' : loginForm.password.$valid && !loginForm.password.$pristine}">
        <span class="input-addon"><i class="icon-key"></i></span>
        <input type="password" name="password" placeholder="{{ 'Global.Placeholder.PASSWORD' | translate }}" class="form-control" ng-model="log.password" ng-minlength="8" required>
        <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty" role="alert" class="help-block text-red">
          <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
        </div>
      </div>

      <div class="form-group">
        <a ui-sref="auth.forgot-password" class="pull-right">{{ 'Global.Label.FORGOT_PASSWORD' | translate }}?</a>
        <label for="rememberme" class="minotaur-checkbox minotaur-label inline-block">{{ 'Global.Checkbox.REMEMBER_ME' | translate }}
          <input type="checkbox" id="rememberme" name="rememberme" ng-model="log.rememberme" checked>
          <div class="input-indicator"></div>
        </label>
      </div>

      <div id="alertsPlaceholder">
        <uib-alert template-url="alert.html" ng-repeat="alert in log.alerts" ng-class="'alert alert-' + alert.type" close="closeAlert($index)">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-if="alert.closeable">&#215;</button>
          <i class="fa {{alert.icon}}"></i> {{alert.msg}}
        </uib-alert>
      </div>

      <button type="submit" class="btn btn-block btn-lg btn-rounded-40" ng-disabled="loginForm.$invalid || isLoading()" ng-click="log.login()">
        LOGIN
        <form-submit-spinner></form-submit-spinner>
      </button>

    </form>

    <div class="mt-15 text-center">{{ 'Global.Label.NOT_REGISTERED' | translate }}? <a ui-sref="auth.signup">{{ 'Global.Label.CREATE_AN_ACCOUNT' | translate }}</a></div>

  </div>

</div>
