<div class="page page-forms full-height">

  <div class="tbox tbox-sm">


    <div class="tcol w-lg bg-white b-r">
      <div class="p-15 b-b">
        <h4 class="m-0">{{ 'Images.Title.SELECT_FILES' | translate }}</h4>
      </div>

      <div class="p-15">
        <div ng-show="forms.uploader.isHTML5">

          <div class="well text-center p-40 b-dashed b-2x bg-light-gray" nv-file-drop="" nv-file-over="" uploader="forms.uploader">
            {{ 'File_upload.Label.DROP_ZONE' | translate }}
          </div>

        </div>

        <hr class="b-0 b-b"/>

        <div class="form-group">
          <label class="control-label minotaur-label">{{ 'File_upload.Label.MULTIPLE' | translate }}</label>
          <input id="filestyle-0" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" tabindex="-1" type="file" nv-file-select="" uploader="forms.uploader" multiple>
            <div class="bootstrap-filestyle input-group">
              <input type="text" class="form-control" placeholder="" disabled>
              <span class="group-span-filestyle input-group-btn" tabindex="0">
                <label for="filestyle-0" class="btn btn-default">
                  <span class="buttonText">{{ 'File_upload.Label.BROWSE' | translate }}</span>
                </label>
              </span>
            </div>
        </div>
      </div>
    </div>

    <div class="tcol">
      <div class="p-15 bg-white b-b">

        <span class="pull-right">{{ 'File_upload.Label.QUEUE_LENGTH' | translate }}: <b class="badge bg-lightred">{{ forms.uploader.queue.length }}</b></span>
        <h4 class="m-0">{{ 'File_upload.Label.UPLOAD_QUEUE' | translate }} ({{ 'Images.Title.ONLY_FILES' | translate }})</h4>

      </div>

      <div class="p-15">

        <table class="table b-a b-solid bg-white">
          <thead>
            <tr>
              <th width="50%">{{ 'File_upload.Label.NAME' | translate }}</th>
              <th>{{ 'File_upload.Label.CATEGORY' | translate }}</th>
              <th ng-show="forms.uploader.isHTML5">{{ 'File_upload.Label.SIZE' | translate }}</th>
              <th ng-show="forms.uploader.isHTML5">{{ 'File_upload.Label.PROGRESS' | translate }}</th>
              <th>{{ 'File_upload.Label.STATUS' | translate }}</th>
              <th>{{ 'File_upload.Label.ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in forms.uploader.queue" class="text-sm">
              <td><strong>{{ item.file.name }}</strong></td>
              <td>
                <ui-select ng-model="item.selected" class="mb-10">
                  <ui-select-match>
                    <span ng-bind="$select.selected.fcy_name"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="category in (forms.categories | filter: $select.search) track by category.fcy_id">
                    <span ng-bind="category.fcy_name"></span>
                  </ui-select-choices>
                </ui-select>
              </td>
              <td ng-show="forms.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
              <td ng-show="forms.uploader.isHTML5">
                <div class="progress progress-xs not-rounded" style="margin-top: 7px;margin-bottom: 0">
                  <div class="progress-bar bg-cyan" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
              <td class="text-center">
                <span ng-show="item.isSuccess" class="text-success"><i class="fa fa-check"></i></span>
                <span ng-show="item.isCancel" class="text-warning"><i class="fa fa-ban"></i></span>
                <span ng-show="item.isError" class="text-danger"><i class="fa fa-times"></i></span>
              </td>
              <td nowrap>
                <button type="button" class="btn btn-default btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                  <span class="fa fa-upload"></span> {{ 'File_upload.Label.UPLOAD' | translate }}
                </button>
                <button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                  <span class="fa fa-ban"></span> {{ 'File_upload.Label.CANCEL' | translate }}
                </button>
                <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                  <span class="fa fa-trash"></span> {{ 'File_upload.Label.REMOVE' | translate }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div>

          <p>{{ 'File_upload.Label.QUEUE_PROGRESS' | translate }}:</p>
          <div class="progress progress-sm progress-striped active bg-tr-black lt" style="">
            <div class="progress-bar bg-cyan" role="progressbar" ng-style="{ 'width': forms.uploader.progress + '%' }"></div>
          </div>

          <button class="btn btn-success btn-ef btn-ef-5 btn-ef-5a" ng-click="forms.uploader.uploadAll()" ng-disabled="!forms.uploader.getNotUploadedItems().length">
            <i class="fa fa-upload"></i> <span>{{ 'File_upload.Label.UPLOAD_ALL' | translate }}</span>
          </button>
          <button class="btn btn-warning btn-ef btn-ef-5 btn-ef-5a" ng-click="forms.uploader.cancelAll()" ng-disabled="!forms.uploader.isUploading">
            <i class="fa fa-ban"></i> <span>{{ 'File_upload.Label.CANCEL_ALL' | translate }}</span>
          </button>
          <button class="btn btn-danger btn-ef btn-ef-5 btn-ef-5a" ng-click="forms.uploader.clearQueue()" ng-disabled="!forms.uploader.queue.length">
            <i class="fa fa-trash"></i> <span>{{ 'File_upload.Label.REMOVE_ALL' | translate }}</span>
          </button>
        </div>

      </div>

    </div>
  </div>

</div>
