<!doctype html>
<html ng-app="minotaur" ng-class="specialClass">
  <head>
    <meta charset="utf-8">
    <title>Komínexpres - Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#1199d3">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#1199d3">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#1199d3">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body id="minotaur" class="appWrap{{nightMode===1?' header-nightmode ':' ' + currentUser.amr_header_style + ' ' + currentUser.amr_primary_color}}" ng-class="specialClass" ng-controller="MainController as main">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="wrap">

      <minotaur-header ng-class="specialClass" ng-if="specialClass !== 'core'"></minotaur-header>

      <div id="additional-header-space" ng-if="specialClass !== 'core'" ng-cloak></div>

      <minotaur-nav ng-class="specialClass" ng-if="specialClass !== 'core'"></minotaur-nav>

      <minotaur-rightbar ng-if="specialClass !== 'core'"></minotaur-rightbar>

      <section id="content" ui-view></section>

      <minotaur-loading></minotaur-loading>

      <!-- <minotaur-customize></minotaur-customize> -->

    </div>

    <!-- <script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script> -->

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sons-of-obsidian"></script>

  </body>
</html>
