<div class="page page-dashboard pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="app.dashboard">{{ 'Menu.HOME' | translate }}</a></li>
    <li class="active">{{ 'Menu.DASHBOARD' | translate }}</li>
  </ol>



  <!-- row -->
  <div class="row">

    <div class="col-md-12">

      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">{{ 'Global.Title.STATISTICS_CHART' | translate }}</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" date-range-picker ng-model="dashboard.datePicker.date" options="dashboard.datePicker.opts"><i class="far fa-clock"></i></button>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->


        <!-- col -->
        <div ng-repeat="card in dashboard.cards" class="card-container col-lg-4 col-sm-6 col-sm-12">

          <div class="card">
            <div class="front {{ card.bgColor }}">

              <!-- row -->
              <div class="row">
                <!-- col -->
                <div class="col-xs-4">
                  <i class="fa {{ card.faIcon }} fa-4x"></i>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-xs-8">
                  <p class="text-xl line-xl text-strong mb-0">{{ card.value | number:fractionSize }} {{ card.currency !== null ? card.currency : "" }}</p>
                  <span>{{ card.label }}</span>
                </div>
                <!-- /col -->
              </div>
              <!-- /row -->

            </div>

            <div class="back {{ card.bgColor }}">

              <!-- row -->
              <div class="row">
                <!-- col -->
                <div ng-repeat="back in card.back">
                  <a ui-sref="{{back.sref}}"><i class="{{ back.fa }} {{ back.faIcon }} fa-2x"></i> {{ back.label }}</a>
                </div>
                <!-- /col -->
              </div>
              <!-- /row -->

            </div>
          </div>

        </div>
        <!-- /col -->

      </div>
      <!-- /tile -->

    </div>
    <!-- /row -->

  </div>

</div>
